<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - Find apprenticeship training</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-fat">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap fat">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-FAT-1-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-7 employer">

             <div id="text-container" class="grid-row">
                  <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-l no-top-margin"> or search Apprenticeships by your industry</h2>

                          <p>
                              If you’re not entirely sure where to start looking for an apprenticeship - perhaps take a look
                              at the industries pages and see if any of information on there can help your decision.
                         </p>

                          <div class="interests-container">

                               <!-- ================ ROW 1 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item agriculture" data-fat-industry="1">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Agriculture, environment and animal care</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">18</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item business" data-fat-industry="2">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Business and administration</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">27</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 1 - END ================ -->

                               <!-- ================ ROW 2 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item care-services" data-fat-industry="3">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Care services</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">5</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item catering-hospitality" data-fat-industry="4">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Catering and hospitality</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">9</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 2 - END ================ -->

                               <!-- ================ ROW 3 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item construction" data-fat-industry="5">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Construction</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">66</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item creative" data-fat-industry="6">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Creative and design</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">17</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 3 - END ================ -->

                               <!-- ================ ROW 4 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item digital" data-fat-industry="7">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Digital</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">15</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item education" data-fat-industry="8">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Education and childcare</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">6</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 4 - END ================ -->

                               <!-- ================ ROW 5 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item engineering" data-fat-industry="9">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Engineering and manufacturing</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">91</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item hair" data-fat-industry="10">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Hair and beauty</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">4</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 5 - END ================ -->

                               <!-- ================ ROW 6 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item health" data-fat-industry="11">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Health and science</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">42</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item legal" data-fat-industry="12">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Legal, finance and accounting</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">36</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 6 - END ================ -->

                               <!-- ================ ROW 7 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item protective" data-fat-industry="13">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Protective services</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">10</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item sales" data-fat-industry="14">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Sales, marketing and procurement</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">24</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 7 - END ================ -->

                               <!-- ================ ROW 8 - START ================ -->
                               <div class="row">

                                    <a href="/campaign/FAT/2A-FAT-search-results" class="item transport" data-fat-industry="15">
                                         <div class="content-wrapper">
                                              <h3 class="heading-m">Transport and logistics</h3>
                                              <div class="border"></div>
                                              <p><span class="fat-number">28</span> apprenticeships, start looking</p>
                                         </div>
                                         <div class="gradient"></div>
                                    </a>

                               </div>
                               <!-- ================ ROW 8 - END ================ -->

                          </div>

                     </div>

                 </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-assessment-qualification.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

        </main>


    {% include '../components/footer/_footer-employer.html'%}

    </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script>

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
