<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Your saved apprenticeships</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template">

     <script>
     document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap fat FAT-basket-empty">

          {% include '../components/header/_header-employer.html'%}
          {% include '../components/hero-heading/_em-FAT-basket.html' %}

          <main id="main-content" class="main-content page-app-7 employer FAT-basket">

               <div class="grid-row">
                    <div class="grid-column-two-thirds">
                         <div class="page"></div>
                    </div>

                    <div class="grid-column-one-third">

                         <div class="sidebar sidebar--employer FAT-basket">
                              <div class="shopping-basket">
                                   <h1 class="heading-m sidebar__heading">
                                        Save your choices and create your
                                        <img class="sidebar__sub-content-crown-logo" src="https://das-at-frnt-end.azureedge.net/assets/images/govuk-mask-icon.svg">
                                        gov.uk account to start hiring the future
                                   </h1>
                                   <a class="button button--sparks button--shadow __web-inspector-hide-shortcut__ external" href="https://das-nonlevy-prototype.herokuapp.com/version-7/newregister/employerStarted" target="_blank" rel="external"><span class="external"></span> Hire an apprentice</a>
                              </div>
                         </div>

                    </div>
               </div>

               <div class="grid-row">
                    <div class="grid-column-full-width">

                         <!-- ///////////////////// EMPTY BASKET - START ///////////////////// -->
                         <div id="empty-basket">
                              <h1 class="heading-m">You have yet to save an apprenticeship or trainging provider</h1>
                              <a class="button button--sparks" href="/campaign/FAT/1-FAT-search">Find apprenticeships</a>
                         </div>
                         <!-- ///////////////////// EMPTY BASKET - END ///////////////////// -->

                         <!-- ///////////////////// POPULATED BASKET - START ///////////////////// -->
                         <div id="compare-component">

                              <div class="title-section">
                                   <h1 class="heading-l">
                                        <a href="#" class="back">Back to list</a>
                                        Compare items
                                   </h1>
                              </div>

                              <div class="basket-items">

                                   <!-- ============= ITEM 1 - START ============= -->
                                   <section class="populated" data-basket-item="1">
                                        <div>
                                             <h1 class="heading-m item-title">Dental nurse</h1>
                                             <div class="item-content">
                                                  <p class="lead-paragraph">Level:</p>
                                                  <p>2 (equivalent to GCSE's at gardes A* to C)</p>
                                             </div>
                                             <div class="item-content">
                                                  <p class="lead-paragraph">Typical length:</p>
                                                  <p>12 months</p>
                                             </div>
                                             <div class="item-content">
                                                  <p class="lead-paragraph">Current funding band:</p>
                                                  <p>Up to £9,000 per apprentice</p>
                                             </div>
                                             <div class="item-content">
                                                  <p class="lead-paragraph">Entry requirements:</p>
                                                  <div class="content-container">
                                                       <p>Set by employer</p>
                                                       <ul>
                                                            <li>
                                                                 apprentices must have achieved level 1 English and maths (eqivalent to GCSE grades 3
                                                                 to 1 or D to G) and taken level 2 English and maths (equivalent to GCSE grades 9 to 4 or A* to C)
                                                                 before starting this apprenticeship
                                                            </li>
                                                       </ul>
                                                  </div>
                                                  <a href="#" class="more-info" data-more-info="1">Show more info</a>
                                             </div>
                                             <div class="item-content">
                                                  <p class="lead-paragraph">What apprentices will learn:</p>
                                                  <div class="content-container">
                                                       <ul>
                                                            <li>measuring ingredient quantities</li>
                                                            <li>making dough</li>
                                                            <li>working safely with machinery like power mixers, industry ovens and production lines</li>
                                                            <li>managing supplies</li>
                                                            <li>keeping production areas clean</li>
                                                            <li>coming up with ideas for new products</li>
                                                       </ul>
                                                  </div>
                                                  <a href="#" class="more-info" data-more-info="2">Show more info</a>
                                             </div>
                                             <div class="item-content">
                                                  <p class="lead-paragraph">Qualifications:</p>
                                                  <div class="content-container">
                                                       <ul>
                                                            <li>before taking their end-point assessment apprentices must have achieved a level 2 bakery diploma</li>
                                                            <li>before taking the end-point assessment apprentices must have achieved level 1 English and maths
                                                            (equivalent to GCSE grades 3 to 1 or D to G) and taken level 2 English and maths (equivalent to GCSE grades 9 to 4 or A* to C)</li>
                                                       </ul>
                                                  </div>
                                                  <a href="#" class="more-info" data-more-info="3">Show more info</a>
                                             </div>
                                             <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
                                        </div>
                                   </section>
                                   <!-- ============= ITEM 1 - END ============= -->

                                   <!-- ============= ITEM 2 - START ============= -->
                                   <section data-basket-item="2">
                                        <div>
                                             <h1 class="heading-m">Add an apprenticeship to compare</h1>
                                             <a class="button button--sparks" href="#">Open list</a>
                                        </div>
                                   </section>
                                   <!-- ============= ITEM 2 - END ============= -->

                                   <!-- ============= ITEM 3 - START ============= -->
                                   <section data-basket-item="3">
                                        <div>
                                             <h1 class="heading-m">Add an apprenticeship to compare</h1>
                                             <a class="button button--sparks" href="#">Open list</a>
                                        </div>
                                   </section>
                                   <!-- ============= ITEM 3 - END ============= -->

                                   <!-- ============= ITEM 4 - START ============= -->
                                   <section data-basket-item="4">
                                        <div>
                                             <h1 class="heading-m">Add an apprenticeship to compare</h1>
                                             <a class="button button--sparks" href="#">Open list</a>
                                        </div>
                                   </section>
                                   <!-- ============= ITEM 4 - END ============= -->

                              </div>

                         </div>
                         <!-- ///////////////////// POPULATED BASKET - END ///////////////////// -->

                    </div>
               </div>

          </main>

          {% include '../components/faa-fat/_fat-link-block-search.html'%}

          {% include '../components/footer/_footer.html'%}

     </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script>

     {% include '../components/footer/_scripts.html'%}


     </body>

</html>
