<!-- /////////////////// MODAL HTML - START /////////////////// -->
<div id="quoteOneModal" class="modal explore-quotes">
     <section class="real-stories-quotes main-content">
          <div class="grid-row">
               <div class="grid-column-one-third">
                    <div class="quote-block-black">
                         <blockquote>
                              <div class="quote"></div>
                              <h2>
                                   Apprenticeships help us to develop our workforce with the skills that we need asa business, now and in the future
                              </h2>
                              <div class="cite">
                                   Laura Keen
                                   <span class="cite-detail-job-title">
                                        Apprenticeship Leader
                                   </span>
                              </div>
                         </blockquote>
                         <div class="logo">
                              <p>EY</p>
                         </div>
                    </div>
               </div>
               <div class="grid-column-two-thirds">
                    <div class="quote-wrapper">
                         <div class="caption">
                              <span class="caption-icon"></span>
                              <h2 class="heading-xs caption-text">Real stories</h2>
                         </div>
                         <h1 class="heading-l">EY</h1>
                         <h2 class="heading-xs">DEVELOPING FUTURE LEADERS</h2>
                         <p>
                              Apprenticeships form part of our talent pipeline, from which we identify future leaders.
                              In our experience, apprentices are hungry to learn and develop new skills. They bring a fresh
                              perspective, commitment to our values, and high rates of retention. They help us to develop
                              our workforce with the skills that we need as a business, now and in the future.
                         </p>
                         <h2 class="heading-xs">WORKING WITH THE RIGHT TRAINING PROVIDER</h2>
                         <p>
                              Our apprentices’ experience both on and off the job is fundamental to the success of the
                              programme and their future development. We work closely with our training providers in
                              supporting our apprentices to gain a breadth of experience that’s relevant to their study.
                         </p>
                         <h2 class="heading-xs">LEVELING THE PLAYING FIELD</h2>
                         <p>
                              In 2015 we removed academic entry criteria from our student recruitment process, broadening
                              our pool of talent. We also operate a ‘blind CV’ policy that helps us to create a level playing
                              field for all candidates and promotes greater diversity among our workforce.
                         </p>
                    </div>
               </div>
          </div>
     </section>
</div>
<!-- /////////////////// MODAL HTML - END /////////////////// -->
