<!-- /////////////////// MODAL HTML - START /////////////////// -->
<div id="quoteTwoModal" class="modal explore-quotes">
     <section class="real-stories-quotes main-content">
          <div class="grid-row">
               <div class="grid-column-two-thirds">
                    <div class="quote-wrapper">
                         <div class="caption">
                              <span class="caption-icon"></span>
                              <h2 class="heading-xs caption-text">Real stories</h2>
                         </div>
                         <h1 class="heading-l">HAYS TRAVEL</h1>
                         <h2 class="heading-xs">A WEALTH OF SKILLS AND ENERGY</h2>
                         <p>
                              At Hays Travel, apprenticeships have supported our continued expansion and success.
                              Apprentices have taken the lead in our social media marketing and E Learning platform,
                              sharing their digital knowledge with colleagues. They bring a wealth of energy,
                              diversity and talent, which enables us to be innovative and proactive.
                         </p>
                         <h2 class="heading-xs">THE FIRST STEP TOWARDS A SUCCESSFUL CAREER</h2>
                         <p>
                              We deliver most of our apprenticeship training in-house – but for our specialised
                              apprenticeships, we collaborate with training providers, scheduling regular meetings
                              to review the development of our apprentices. Our programmes are designed to equip
                              apprentices with everything they need for a successful career.
                         </p>
                         <h2 class="heading-xs">CONTINUALLY IMPROVING OUR SERVICE</h2>
                         <p>
                              Our internal training, human resources and recruitment teams work closely together to
                              enhance the recruitment process. They analyse feedback from managers and apprentices,
                              along with our own data, to make continual improvements.
                         </p>
                    </div>
               </div>
               <div class="grid-column-one-third">
                    <div class="quote-block-black">
                         <blockquote>
                              <div class="quote"></div>
                              <h2>
                                   Apprentices bring a wealth of energy, diversity and talent, which enables us to be innovative and proactive.
                              </h2>
                              <div class="cite">
                                   Carole Hodgson
                                   <span class="cite-detail-job-title">
                                        Apprenticeship Delivery Manager
                                   </span>
                              </div>
                         </blockquote>
                         <div class="logo">
                              <p>Hays Travel</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>
</div>
<!-- /////////////////// MODAL HTML - END /////////////////// -->
