<!-- /////////////////// MODAL HTML - START /////////////////// -->
<div id="quoteThreeModal" class="modal explore-quotes">
     <section class="real-stories-quotes main-content">
          <div class="grid-row">
               <div class="grid-column-one-third">
                    <div class="quote-block-black">
                         <blockquote>
                              <div class="quote"></div>
                              <h2>
                                   Our Apprenticeship Programme has been a great channel for us to start increasing diversity in our business.
                              </h2>
                              <div class="cite">
                                   Toby Monk
                                   <span class="cite-detail-job-title">
                                        Recruitment Director
                                   </span>
                              </div>
                         </blockquote>
                         <div class="logo">
                              <p>Christie’s</p>
                         </div>
                    </div>
               </div>
               <div class="grid-column-two-thirds">
                    <div class="quote-wrapper">
                         <div class="caption">
                              <span class="caption-icon"></span>
                              <h2 class="heading-xs caption-text">Real stories</h2>
                         </div>
                         <h1 class="heading-l">CHRISTIE’S</h1>
                         <h2 class="heading-xs">A BRIGHT, ENGAGED AND DIVERSE WORKFORCE</h2>
                         <p>
                              Our Apprenticeship Programme provides us with a talent pipeline for the future, and our experience so far has
                              been overwhelmingly positive. We have found bright, engaged young people who have made a choice to not
                              attend university. It has also been a great channel for us to start increasing diversity in our business.
                         </p>
                         <h2 class="heading-xs">TEAMING UP WITH TRAINING PROVIDERS</h2>
                         <p>
                              We put a lot of time and effort into selecting our training providers – it’s so important for the
                              apprentice’s overall experience. We want to work with partners who are invested in the apprentices and
                              want to be hands on and ‘high touch’ with us as the employer. We want socially conscious business partners.
                         </p>
                         <h2 class="heading-xs">FINDING THE RIGHT APPRENTICE</h2>
                         <p>
                              To find an apprentice, we use a multi-pronged approach of direct outreach to schools, coupled with working
                              with external providers such as White Hat and ThePrince’s Trust. When it comes to seeking help with the process,
                              we’ve found people in our network to be incredibly helpful and willing to share their experiences and
                              best practice.
                         </p>
                    </div>
               </div>
          </div>
     </section>
</div>
<!-- /////////////////// MODAL HTML - END /////////////////// -->
