<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>FIRE IT UP! - 4 - Hire an apprentice</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template careers-advisers-page" data-page-id="1" id="careers-advisers-V1">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include '../components/header/_header-careers-advisers.html'%}
          {% include '../components/hero-heading/careers-advisers/_ca-about-us-heading.html' %}

          <main id="main-content" class="main-content careers-advisers content-page">

               <div id="" class="grid-row">

                    <div class="grid-column-two-thirds pull-left">

                         <div class="arrow style-one"></div>

                         <h1 class="heading-m no-top-margin">APPRENTICESHIP SUPPORT & KNOWLEDGE FOR SCHOOLS AND COLLEGES</h1>

                         <p>
                              The Apprenticeship Support and Knowledge for schools and colleges programme (ASK) is funded by the
                              National Apprenticeship Service, part of the Department for Education. The programme is designed to
                              give schools and other establishments in England free support to transform how your students think
                              about apprenticeships.
                         </p>

                    </div>

                    <div class="grid-column-two-thirds push-right">
                         <div class="arrow style-two"></div>
                         <iframe title="vimeo-player" src="https://player.vimeo.com/video/358815025" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="grid-column-two-thirds pull-left">
                         <div class="arrow style-three"></div>
                         <p>
                              What that support looks like for you will depend on your establishment’s size, focus and
                              requirements. There are a whole range of options, including:
                         </p>

                         <ul class="list list--bullet list--bullet-careers-advisers">
                              <li>inspiring apprenticeship awareness assemblies</li>
                              <li>apprenticeship application workshops</li>
                              <li>careers fair attendance</li>
                              <li>free resources</li>
                              <li>teacher CPD sessions</li>
                         </ul>

                    </div>

                    <div class="grid-column-full push-right text-align-center">

                         <!-- <div class="arrow style-four"></div> -->

                         <p>
                              Fill in our quick online form and we’ll connect you with your local ASK delivery partner organisation.
                              They’ll work with you to deliver a support package that’s tailored to your needs.
                         </p>

                         <a class="button button--sparks button--shadow button--careers-advisers" href="https://amazing-apprenticeships.herokuapp.com/request-support/">
                              Request support
                         </a>

                    </div>

                    <div class="grid-column-full pull-left">

                         <img src="/dist/campaign/images/careers-advisers/ASK-tree.jpg" class="ask-tree">

                    </div>

               </div>

          </main>

          {% include '../components/footer/_footer-careers-advisers.html'%}

     </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
