<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>FIRE IT UP! - 4 - Hire an apprentice</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template careers-advisers-page" data-page-id="3" id="careers-advisers-V1">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include '../components/header/_header-careers-advisers.html'%}
          {% include '../components/hero-heading/careers-advisers/_ca-resources-heading.html' %}

          {% include '../components/careers-advisers/_resources-search.html'%}

          <main id="main-content" class="main-content careers-advisers resources-page">

               <div id="" class="grid-row">
                    <div class="grid-column-one-third">
                         {% include '../components/careers-advisers/_resources-filter.html'%}
                    </div>
                    <div class="grid-column-two-thirds">

                         {% include '../components/careers-advisers/_resources.html'%}

                         <div class="end-of-results">
                              <p>You've viewed 20 of 140 products</p>
                              <hr>
                              <a href="#" class="button">Load more</a>
                         </div>

                    </div>
               </div>

          </main>

          {% include '../components/footer/_footer-careers-advisers.html'%}

     </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
