<div class="feedback-survery">
     <div class="survey">
          <div class="grid-row">
               <div class="grid-column-full">

                    <!-- ////////////////// ORIGINAL - QUESTION - START //////////////////-->
                    <div class="survery-state-one">
                         <p class="first-question">
                              Is this page useful? <a href="#" id="survey-done-yes">Yes <span class="visually-hidden">this page is useful</span></a> <a href="#" id="survey-done-no">No <span class="visually-hidden">this page is not useful</span></a>
                         </p>
                         <p class="second-question">
                              <a href="#" id="open-survey">Is there anything wrong with this page?</a>
                         </p>
                    </div>
                    <!-- ////////////////// ORIGINAL - QUESTION - START //////////////////-->

                    <!-- ////////////////// YES - ANSWER - START //////////////////-->
                    <div class="done-state-one">
                         <div class="grid-row">
                              <div class="grid-column-full">
                                   <h3 class="heading-s no-bottom-margin">
                                        <span class="icon tick"></span>help us improve FIRE IT UP! even more. <a href="#" class="close-survey">Close</a>
                                   </h3>
                              </div>
                         </div>

                         <div class="grid-row">
                              <div class="grid-column-two-thirds">
                                   <p>
                                        To help us improve FIRE IT UP!, we’d like to know more about your visit today. Below is a link to a feedback
                                        form. It will take only 2 minutes to fill in.
                                   </p>

                                   <a href="https://www.smartsurvey.co.uk/s/S2NQQ" target="_blank" class="button button-inverted">Send me to the survery</a>
                                   <p class="secondary-cta"><a href="#" class="close-survey">No thank you</a></p>
                              </div>
                         </div>
                    </div>
                    <!-- ////////////////// YES - ANSWER - START //////////////////-->

                    <!-- ////////////////// PAGE FEEDBACK - ANSWER - START //////////////////-->
                    <div class="survery-state-two">
                         <div class="grid-row">
                              <div class="grid-column-full">
                                   <h3 class="heading-s no-bottom-margin">Help us improve FIRE IT UP! <a href="#" class="close-other-survey">Close</a></h3>
                              </div>
                         </div>

                         <div class="grid-row">
                              <div class="grid-column-two-thirds">
                                   <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

                                   <form action="#" method="get" id="">

                                        <div class="form-group">
                                             <label class="label visually-hidden" for="youDoing">
                                                  What were you doing?
                                             </label>
                                             <input class="input" type="text" placeholder="What were you doing?" autocomplete="given-name" id="youDoing"  name="youDoing" value="">
                                        </div>

                                        <div class="form-group">
                                             <label class="label visually-hidden" for="wentWrong">
                                                  What went wrong?
                                             </label>
                                             <input class="input" type="text" placeholder="What went wrong?" autocomplete="family-name" id="wentWrong" name="wentWrong" value="">
                                        </div>

                                        <a href="#" class="button button-inverted close-survey">Send</a>
                                   </form>
                              </div>
                         </div>

                    </div>
                    <!-- ////////////////// PAGE FEEDBACK - ANSWER - START //////////////////-->

                    <!-- ////////////////// NO - ANSWER - START //////////////////-->
                    <div class="survery-state-three">
                         <div class="grid-row">
                              <div class="grid-column-full">
                                   <h3 class="heading-s no-bottom-margin">Help us improve FIRE IT UP! <a href="#" class="close-survey">Close</a></h3>
                              </div>
                         </div>

                         <div class="grid-row">
                              <div class="grid-column-two-thirds">
                                   <p>
                                        To help us improve FIRE IT UP!, we’d like to know more about your visit today. Below is a link to a feedback
                                        form. It will take only 2 minutes to fill in.
                                   </p>

                                   <a href="https://www.smartsurvey.co.uk/s/S2NQQ" target="_blank" class="button button-inverted">Send me to the survery</a>
                                   <p class="secondary-cta"><a href="#" class="close-survey">No thank you</a></p>


                                   <!-- <form action="#" method="get" id="">

                                        <div class="form-group">
                                             <label class="label visually-hidden" for="emailAddress">
                                                  Email address
                                             </label>
                                             <input class="input" type="text" placeholder="Email address" autocomplete="given-name" id="emailAddress"  name="emailAddress" value="">
                                        </div>

                                        <button class="button button-inverted" name="registerInterestSubmit" id="">Send me to the survery</button>
                                        <p class="secondary-cta"><a href="#" class="close-survey">No thank you</a></p>
                                   </form> -->
                              </div>
                         </div>

                    </div>
                    <!-- ////////////////// NO - ANSWER - START //////////////////-->

                    <!-- ////////////////// YES - FINISHED - START //////////////////-->
                    <div class="done-state">
                         <div class="grid-row">
                              <div class="grid-column-full">
                                   <h3 class="heading-s no-bottom-margin">
                                        <span class="icon tick"></span>Thank you for your feedback.
                                   </h3>
                              </div>
                         </div>
                    </div>
                    <!-- ////////////////// YES - FINISHED - START //////////////////-->


               </div>
          </div>
     </div>
</div>

<footer class="footer">
     <div class="wrapper-footer">
          <div class="grid-row">
               <div class="grid-column-one-fifth">
                    <img class="footer__apprenticeship-logo" alt="Apprenticeships Logo" src="/dist/campaign/images/apprenticeships-logo-white-employer.jpg"/>
               </div>
               <div class="grid-column-four-fifths govuk-accordion" id="accordion-footer">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds footer__section govuk-accordion__section accordion__section">
                              <h2 class="footer__list-header">
                                   <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-2"></span>
                                   Other users:
                              </h2>
                              <ul class="footer__list">
                                   <li class="footer__list-item">
                                        <a href="/campaign/hub-apprentice" class="footer__link">
                                             Apprentices
                                        </a>
                                   </li>
                                   <li class="footer__list-item">
                                        <a href="/campaign/hub-parents" class="footer__link">
                                             Parents
                                        </a>
                                   </li>
                                   <li class="footer__list-item">
                                        <a href="/campaign/hub-careers-advisers-V1" class="footer__link">
                                             Careers advisers
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
          <hr class="footer__hr">
          <div class="grid-row footer__meta">
               <div class="grid-column-one-third">
                    <h2 class="footer__list-header">Based outside England?</h2>
               </div>
               <div class="grid-column-two-thirds">
                    <ul class="footer__inline-list">
                         <li class="footer__inline-list-item">Find out what opportunities are available in:</li>
                         <li class="footer__inline-list-item">
                              <a class="footer__link" href="https://www.apprenticeships.scot/" target="_blank">Scotland</a>
                         </li>
                         <li class="footer__inline-list-item">
                              <a class="footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank">Northern Ireland</a>
                         </li>
                         <li class="footer__inline-list-item">
                              <a class="footer__link" href="https://gov.wales/topics/educationandskills/skillsandtraining/apprenticeships/?lang=en" target="_blank">Wales</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</footer>

<div class="footer footer--privacy">
     <div class="wrapper-footer">
          <div class="grid-row footer__meta">
               <div class="grid-column-one-third">
                    <img alt="HM Government Logo" class="footer__hm-government-logo" src="/dist/campaign/images/hm-government-logo.png" srcset="/dist/campaign/images/hm-government-logo.png 1x, /dist/campaign/images/hm-government-logo@2x.png 2x" />
               </div>
               <div class="grid-column-two-thirds">
                    <div class="grid-row">
                         <div class="grid-column-full">
                              <ul class="footer__inline-list">
                                   <li class="footer__inline-list-item">
                                        <a class="footer__link" href="/cookies">Cookies policy</a>
                                   </li>
                                   <li class="footer__inline-list-item">
                                        <a class="footer__link" href="/privacy">Privacy notice</a>
                                   </li>
                                   <li class="footer__inline-list-item">
                                        <a class="footer__link" href="/#">Accessibility</a>
                                   </li>
                                   <li class="footer__inline-list-item">
                                        <a class="footer__link" href="/terms">Terms and conditions</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
                    <div class="grid-row footer__licence-description">
                         <div class="grid-column-full">
                              <p class="footer__text">
                                   All content is available under the <a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence v3.0</a>, except where otherwise stated
                              </p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
