<!-- /////////////////// Javascript - START /////////////////// -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>
<script src="https://das-prd-frnt-end.azureedge.net/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
<script src="https://das-prd-frnt-end.azureedge.net/campaign/js/app.min.js" crossorigin="anonymous"></script>
<script src="https://das-prd-frnt-end.azureedge.net/js/das-all.js" crossorigin="anonymous"></script>
<script>
     window.DASFrontend.initAll()
</script>
<script src="/dist/js/jquery.cookie.js"></script>
<script src="/dist/js/my-cookies.js"></script>
<script src="/dist/js/my-jquery.js"></script>
<script src="/dist/js/scroll-effect.js"></script>
<script src="/dist/js/header/navigation.js"></script>
<script src="/dist/js/sidebar/sidebar.js"></script>


<!-- /////////////////// Javascript - END /////////////////// -->
