<!-- /////////////////// Javascript - START /////////////////// -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/dist/js/jquery.cookie.js"></script>
<script src="/dist/js/my-cookies.js"></script>
<script src="/dist/js/my-jquery.js"></script>
<script src="/dist/js/scroll-effect.js"></script>
<script src="/dist/js/header/navigation.js"></script>
<script src="/dist/js/sidebar/sidebar.js"></script>
<!-- /////////////////// Javascript - END /////////////////// -->
