<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/E-speak-to-someone">Speak to someone</a>
                         <div class="sep">></div>
                         <a href="/campaign/employer/F-tell-us-what-you-think">Tell us what you think</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">Tell us what you think</h1>
               </div>

               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>

          <div class="grid-column-one-half phone-holder">
               {% include '../../sideBar/_phone-number.html'%}
          </div>

     </div>

     <div class="background-image"></div>
</div>
