<section class="statistics">
     <div class="new-header">
          <h2 class="heading-l">
               We have a Big Mission
               <span class="sub-heading">Our mission</span>
          </h2>
          <p>
               Through the Apprenticeship Support & Knowledge for schools and colleges (ASK) programme we have worked with our partners to
               support thousands of individuals since 2016.
          </p>
     </div>
     <ul class="statistics__list">
          <li class="statistics__item item-one">
               <img src="/dist/campaign/images/careers-advisers/homepage-hero-1.jpg" />
               <span class="statistic">3,693</span>
               <h3 class="heading-s">School and colleges supported</h3>
          </li>
          <li class="statistics__item item-two">
               <img src="/dist/campaign/images/careers-advisers/homepage-hero-2.jpg" />
               <span class="statistic">900</span>
               <h3 class="heading-s">YAAN sign ups</h3>
          </li>
          <li class="statistics__item item-three">
               <img src="/dist/campaign/images/careers-advisers/homepage-hero-3.jpg" />
               <span class="statistic">1,591</span>
               <h3 class="heading-s">Amazing Champions</h3>
          </li>
          <li class="statistics__item item-four">
               <img src="/dist/campaign/images/careers-advisers/homepage-hero-4.jpg" />
               <span class="statistic">719,520</span>
               <h3 class="heading-s">Students supported</h3>
          </li>
     </ul>
</section>
