<ul class="pagination pagination--careers-advisers search-results pagination-with-numbers">
     <li class="pagination__list-item pagination__list-item--previous">
          <!-- <a href="#" class="pagination__link pagination__link--previous">
          Previous<br>
          <span>1 of 10</span>
          </a> -->
     </li>
     <li class="pagination__list-item pagination-numbers-container">
          <div class="numbers-wrapper">
               <a href="#" class="selected">1</a>
               <a href="#">2</a>
               <a href="#">3</a>
               <a href="#">4</a>
               <a href="#">5</a>
               <a href="#">6</a>
          </div>
     </li>
     <li class="pagination__list-item pagination__list-item--next">
          <a href="#" class="pagination__link pagination__link--next">
               Next<br>
               <span>2 of 6</span>
          </a>
     </li>
</ul>
