<div class="filter-resources">
     <div class="grid-row">
          <div class="grid-column-full">

               <h2 class="heading-m">REFINE RESULTS</h2>

               <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">
                              Categories (Resource Type)
                         </span>
                    </summary>
                    <div class="govuk-details__text">

                         <!-- ONE - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-one" name="filter-rources-one">
                              <label class="label checkboxes__label" for="filter-rources-one">New</label>
                         </div>
                         <!-- ONE - END -->

                         <!-- TWO - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-two" name="filter-rources-two">
                              <label class="label checkboxes__label" for="filter-rources-two">Live Broadcasts</label>
                         </div>
                         <!-- TWO - END -->

                         <!-- THREE - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-three" name="filter-rources-three">
                              <label class="label checkboxes__label" for="filter-rources-three">Events and Campaigns (current)</label>
                         </div>
                         <!-- THREE - END -->

                         <!-- FOUR - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-four" name="filter-rources-four">
                              <label class="label checkboxes__label" for="filter-rources-four">Events and Campaigns (past)</label>
                         </div>
                         <!-- FOUR - END -->

                         <!-- FIVE - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-five" name="filter-rources-five">
                              <label class="label checkboxes__label" for="filter-rources-five">Factsheets and Guides</label>
                         </div>
                         <!-- FIVE - END -->

                         <!-- SIX - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-six" name="filter-rources-six">
                              <label class="label checkboxes__label" for="filter-rources-six">Films and vlogs</label>
                         </div>
                         <!-- SIX - END -->

                         <!-- SEVEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-seven" name="filter-rources-seven">
                              <label class="label checkboxes__label" for="filter-rources-seven">NAW2020</label>
                         </div>
                         <!-- SEVEN - END -->

                         <!-- EIGHT - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-eight" name="filter-rources-eight">
                              <label class="label checkboxes__label" for="filter-rources-eight">Parents' Packs</label>
                         </div>
                         <!-- EIGHT - END -->

                         <!-- NINE - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-nine" name="filter-rources-nine">
                              <label class="label checkboxes__label" for="filter-rources-nine">Posters</label>
                         </div>
                         <!-- NINE - END -->

                         <!-- TEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-ten" name="filter-rources-ten">
                              <label class="label checkboxes__label" for="filter-rources-ten">Schools Workforce</label>
                         </div>
                         <!-- TEN - END -->

                         <!-- ELEVEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-eleven" name="filter-rources-eleven">
                              <label class="label checkboxes__label" for="filter-rources-eleven">Student Packs</label>
                         </div>
                         <!-- ELEVEN - END -->

                         <!-- TWELEVE - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-tweleve" name="filter-rources-tweleve">
                              <label class="label checkboxes__label" for="filter-rources-tweleve">Teacher Guides</label>
                         </div>
                         <!-- TWELEVE - END -->

                         <!-- THRITEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-thirteen" name="filter-rources-thirteen">
                              <label class="label checkboxes__label" for="filter-rources-thirteen">Traineeships</label>
                         </div>
                         <!-- THRITEEN - END -->

                         <!-- FOURTEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-fourteen" name="filter-rources-fourteen">
                              <label class="label checkboxes__label" for="filter-rources-fourteen">Translated materials</label>
                         </div>
                         <!-- FOURTEEN - END -->

                    </div>
               </details>

               <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">
                              Audience
                         </span>
                    </summary>
                    <div class="govuk-details__text">

                         <!-- FIFTEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-fifteen" name="filter-rources-fifteen">
                              <label class="label checkboxes__label" for="filter-rources-fifteen">Students All ages</label>
                         </div>
                         <!-- FIFTEEN - END -->

                         <!-- SIXTEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-sixteen" name="filter-rources-sixteen">
                              <label class="label checkboxes__label" for="filter-rources-sixteen">Students Key stage 3</label>
                         </div>
                         <!-- SIXTEEN - END -->

                         <!-- SEVENTEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-seventeen" name="filter-rources-seventeen">
                              <label class="label checkboxes__label" for="filter-rources-seventeen">Students Key stage 4</label>
                         </div>
                         <!-- SEVENTEEN - END -->

                         <!-- EIGHTEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-eighteen" name="filter-rources-eighteen">
                              <label class="label checkboxes__label" for="filter-rources-eighteen">Students Key stage 5</label>
                         </div>
                         <!-- EIGHTEEN - END -->

                         <!-- NINETEEN - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-nineteen" name="filter-rources-nineteen">
                              <label class="label checkboxes__label" for="filter-rources-nineteen">Teachers / Careers Advisers</label>
                         </div>
                         <!-- NINETEEN - END -->

                         <!-- TWENTY - START -->
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="filter-rources-twenty" name="filter-rources-twenty">
                              <label class="label checkboxes__label" for="filter-rources-twenty">Parents</label>
                         </div>
                         <!-- TWENTY - END -->

                    </div>
               </details>

          </div>
     </div>
</div>
