<div class="resources-downloads">

     <!-- ONE - START -->
     <div class="resources__item featured">
          <span class="featured">FEATURED RESOURCE</span>
          <div class="image-container">
               <a href="#" class="icon play">Play</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-1.jpg" />
          </div>
          <h4 class="heading-s">NAW2020 Disability Rights UK Webinar</h4>
          <p>
               Join Disability Rights UK, Disability and Skills Manager, Rabia Lemahieu for this fantastic webinar on
               supporting disabled students and students with health conditions to access apprenticeships. This webinar
               will deal with common questions such as how to find an apprenticeship, how reasonable adjustments can
               help with accessibility and what support...
          </p>
     </div>
     <!-- ONE - END -->

     <!-- TWO - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon play">Play</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-2.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk Film 20 in 2020</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- TWO - END -->

     <!-- THREE - START -->
     <div class="resources__item end-of-row">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon read">Read</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-3.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk Film 20 in 2020</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- THREE - END -->

     <!-- FOUR - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon read">Read</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-4.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk Film 20 in 2020</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- FOUR - END -->

     <!-- FIVE - START -->
     <div class="resources__item end-of-row">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon read">Read</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-5.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk Film 20 in 2020</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- FIVE - END -->

</div>
