<div class="resources-downloads">

     <!-- ONE - START -->
     <div class="resources__item featured">
          <span class="featured">FEATURED RESOURCE</span>
          <div class="image-container">
               <a href="#" class="icon play">Play</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-1.jpg" />
          </div>
          <h4 class="heading-s">NAW2020 Disability Rights UK Webinar</h4>
          <p>
               Join Disability Rights UK, Disability and Skills Manager, Rabia Lemahieu for this fantastic webinar on
               supporting disabled students and students with health conditions to access apprenticeships. This webinar
               will deal with common questions such as how to find an apprenticeship, how reasonable adjustments can
               help with accessibility and what support...
          </p>
     </div>
     <!-- ONE - END -->

     <!-- TWO - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon play">Play</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-2.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk Film 20 in 2020</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- TWO - END -->

     <!-- THREE - START -->
     <div class="resources__item end-of-row">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-3.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk 5 min Film Poster</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- THREE - END -->

     <!-- FOUR - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-4.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Teacher Talk Film 5 Step Guide</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- FOUR - END -->

     <!-- FIVE - START -->
     <div class="resources__item end-of-row">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-5.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Subject Snapshot Bundle</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- FIVE - END -->

     <!-- SIX - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-6.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Subject Poster Bundle</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- SIX - END -->

     <!-- SEVEN - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-7.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 One-pager for Teachers</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- SEVEN - END -->

     <!-- EIGHT - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-8.jpg" />
          </div>
          <h4 class="heading-xs">NAW2020 Apprenticeship Activity Pack</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- EIGHT - END -->

     <!-- NINE - START -->
     <div class="resources__item end-of-row">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-9.jpg" />
          </div>
          <h4 class="heading-xs">Where can Business Studies take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- NINE - END -->

     <!-- TEN - START -->
     <div class="resources__item">
          <span class="new">new</span>
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-10.jpg" />
          </div>
          <h4 class="heading-xs">Where can Drama and Music take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- TEN - END -->

     <!-- ELEVEN - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-11.jpg" />
          </div>
          <h4 class="heading-xs">Where can PE take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- ELEVEN - END -->

     <!-- TWELEVE - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-12.jpg" />
          </div>
          <h4 class="heading-xs">Where can ICT take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- TWELEVE - END -->

     <!-- THIRTEEN - START -->
     <div class="resources__item end-of-row">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-13.jpg" />
          </div>
          <h4 class="heading-xs">Where can Science take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- THIRTEEN - END -->

     <!-- FOURTEEN - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-14.jpg" />
          </div>
          <h4 class="heading-xs">Where can Maths take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- FOURTEEN - END -->

     <!-- FIFTEEN - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-15.jpg" />
          </div>
          <h4 class="heading-xs">Where can English take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- FIFTEEN - END -->

     <!-- SIXTEEN - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-16.jpg" />
          </div>
          <h4 class="heading-xs">Where can Languages take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- SIXTEEN - END -->

     <!-- SEVENTEEN - START -->
     <div class="resources__item end-of-row">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-17.jpg" />
          </div>
          <h4 class="heading-xs">Where can Art & Design take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- SEVENTEEN - END -->

     <!-- EIGHTEEN - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-18.jpg" />
          </div>
          <h4 class="heading-xs">Where can History take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- EIGHTEEN - END -->

     <!-- NINETEEN - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-19.jpg" />
          </div>
          <h4 class="heading-xs">Where can Geography take you?</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- NINETEEN - END -->

     <!-- TWENTY - START -->
     <div class="resources__item">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-20.jpg" />
          </div>
          <h4 class="heading-xs">Parents’ Pack January 2020</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- TWENTY - END -->

     <!-- TWENTY ONE - START -->
     <div class="resources__item end-of-row">
          <div class="image-container">
               <a href="#" class="icon zoom">zoom</a>
               <img src="/dist/campaign/images/careers-advisers/resources/image-21.jpg" />
          </div>
          <h4 class="heading-xs">Parents’ Pack December 2019</h4>
          <div class="cta-wrapper">
               <a href="#" class="download">download</a>
               <a href="#" class="basket">Add to collection</a>
          </div>
     </div>
     <!-- TWENTY ONE - END -->

</div>
