<section class="website-sections">
     <div class="new-header double-lines">
          <h2 class="heading-l">
               What apprenticeships can do for you and their future
               <span class="sub-heading">Apprenticeships</span>
          </h2>
          <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum purus nec augue consequat, quis aliquam diam posuere.
               Pellentesque aliquam urna id eros sodales molestie non ac libero.
          </p>
     </div>
     <ul class="statistics__list">
          <li class="statistics__item item-one">
               <img src="/dist/campaign/images/employer/journey-section-1.svg" />
               <span class="statistic">3,693</span>
               <h3 class="heading-s">School and colleges supported</h3>
          </li>
          <li class="statistics__item item-two">
               <img src="/dist/campaign/images/employer/journey-section-1.svg" />
               <span class="statistic">900</span>
               <h3 class="heading-s">YAAN sign ups</h3>
          </li>
          <li class="statistics__item item-three">
               <img src="/dist/campaign/images/employer/journey-section-1.svg" />
               <span class="statistic">1,591</span>
               <h3 class="heading-s">Amazing Champions</h3>
          </li>
          <li class="statistics__item item-four">
               <img src="/dist/campaign/images/employer/journey-section-1.svg" />
               <span class="statistic">719,520</span>
               <h3 class="heading-s">Students supported</h3>
          </li>
     </ul>
</section>
