<section class="website-sections">
     <div class="new-header double-lines">
          <h2 class="heading-m">
               Welcome to the Careers advice hub
               <span class="sub-heading">Apprenticeships</span>
          </h2>
          <p>
               The Careers advice hub is home to the Apprenticeship Support & Knowledge for schools and
               colleges (ASK) programme. This is your go-to place to access resources, become an Apprenticeship
               Champion or request support to help you spread the apprenticeship message.
          </p>
     </div>
     <div class="sections-wrapper">
          <div class="cta-container">
               <a href="#" class="scroll-arrow left"></a>
               <a href="#" class="scroll-arrow right active"></a>
               <div class="number-container">
                    <span class="number selected">01</span>
                    <span class="number">04</span>
                    <span class="border"></span>
               </div>
          </div>
          <ul class="website-sections__list">

               <!-- ////////// LINK ONE - START ////////// -->
               <!-- <li class="website-sections__item item-one">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-1.jpg" />
                         <span class="number">01</span>
                         <h2 class="heading-xs">Young Apprentices</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Young Apprentice Ambassadors (YAAN)</h3>
                         <p>
                              Are you aged 18-26 and a current or past apprentice? Join the Young Apprentice Ambassador network (YAAN)
                              to inspire others across England with your apprenticeship story
                         </p>
                    </a>
                    <p class="link">Join the Network</p>
               </li> -->
               <!-- ////////// LINK ONE - END ////////// -->

               <!-- ////////// LINK ONE - START ////////// -->
               <li class="website-sections__item item-one">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-1.jpg" />
                         <span class="number">01</span>
                         <h2 class="heading-xs">Free support</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Request free support for your school or establishment</h3>
                         <p>
                              We’ll connect your school, college or educational establishment with an ASK
                              delivery partner in your area. They’ll work with you to deliver apprenticeship support
                              based on your needs, from visits and talks to resources and specific event support. Fill in
                              our quick online form to get started.
                         </p>
                    </a>
                    <p class="link">Request support</p>
               </li>
               <!-- ////////// LINK ONE - END ////////// -->

               <!-- ////////// LINK TWO - START ////////// -->
               <li class="website-sections__item item-two">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-2.jpg" />
                         <span class="number">02</span>
                         <h2 class="heading-xs">Resources</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Access free online resources</h3>
                         <p>
                              Take a look through our free online resources to learn more about apprenticeships. They’ll help
                              you navigate the world of apprenticeships, gaining confidence to inform and empower
                              future apprentices.
                         </p>
                    </a>
                    <p class="link">Access resources</p>
               </li>
               <!-- ////////// LINK TWO - END ////////// -->

               <!-- ////////// LINK THREE - START ////////// -->
               <li class="website-sections__item item-three">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-3.jpg" />
                         <span class="number">03</span>
                         <h2 class="heading-xs">Broadcasts</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">View live broadcasts - or watch them on catch-up</h3>
                         <p>
                              Our live broadcasts are designed to give schools and establishments across England the very latest
                              apprenticeship information. Meet inspiring apprentices and hear from the employers who are helping to
                              shape their careers. There’s a catch-up service too, so you can watch them at any time.
                         </p>
                    </a>
                    <p class="link">View our broadcasts</p>
               </li>
               <!-- ////////// LINK THREE - END ////////// -->

               <!-- ////////// LINK FOUR - START ////////// -->
               <li class="website-sections__item item-four">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-4.jpg" />
                         <span class="number">04</span>
                         <h2 class="heading-xs">Champions</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Become an Apprenticeship Champion</h3>
                         <p>
                              Are you keen to promote apprenticeships in your school or establishment? Let us support you in your role
                              as an Apprenticeship Champion. It’s quick, easy and free to sign up, and you’ll get access to
                              inspirational guidance and free resources to help you with your goals.
                         </p>
                    </a>
                    <p class="link">Become an Apprenticeship Champion</p>
               </li>
               <!-- ////////// LINK FOUR - END ////////// -->

               <!-- ////////// LINK SIX - START ////////// -->
               <!-- <li class="website-sections__item item-six">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-6.jpg" />
                         <span class="number">06</span>
                         <h2 class="heading-xs">Apprenticeships</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Find an apprenticeship</h3>
                         <p>
                              Search and apply for thousands of apprenticeship vacancies across England
                         </p>
                    </a>
                    <p class="link">Search Now</p>
               </li> -->
               <!-- ////////// LINK SIX - END ////////// -->

               <!-- ////////// LINK SEVEN - START ////////// -->
               <!-- <li class="website-sections__item item-seven">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-7.jpg" />
                         <span class="number">07</span>
                         <h2 class="heading-xs">Apprenticeships</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Vacancy Snapshot</h3>
                         <p>
                              Take a look behind the scenes at some of the world’s biggest companies and find out what to
                              expect from their recruitment processes
                         </p>
                    </a>
                    <p class="link">Browse Vacancies</p>
               </li> -->
               <!-- ////////// LINK SEVEN - END ////////// -->

               <!-- ////////// LINK EIGHT - START ////////// -->
               <!-- <li class="website-sections__item item-eight">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-8.jpg" />
                         <span class="number">08</span>
                         <h2 class="heading-xs">Schools</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">School Workforce</h3>
                         <p>
                              Apprenticeships can be used to recruit new staff and retrain or upskill existing staff of all ages and
                              levels of experience, in a wide variety of roles
                         </p>
                    </a>
                    <p class="link">Find out More</p>
               </li> -->
               <!-- ////////// LINK EIGHT - END ////////// -->

          </ul>
     </div>
</section>
