<section class="website-sections">
     <div class="new-header double-lines">
          <h2 class="heading-l">
               What apprenticeships can do for you and their future
               <span class="sub-heading">Apprenticeships</span>
          </h2>
          <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum purus nec augue consequat, quis aliquam diam posuere.
               Pellentesque aliquam urna id eros sodales molestie non ac libero.
          </p>
     </div>
     <div class="sections-wrapper">
          <div class="cta-container">
               <a href="#" class="scroll-arrow left"></a>
               <a href="#" class="scroll-arrow right active"></a>
               <div class="number-container">
                    <span class="number selected">01</span>
                    <span class="number">08</span>
                    <span class="border"></span>
               </div>
          </div>
          <ul class="website-sections__list">

               <!-- ////////// LINK ONE - START ////////// -->
               <li class="website-sections__item item-one">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-1.jpg" />
                         <span class="number">01</span>
                         <h2 class="heading-xs">Young Apprentices</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Young Apprentice Ambassadors (YAAN)</h3>
                         <p>
                              Are you aged 18-26 and a current or past apprentice? Join the Young Apprentice Ambassador network (YAAN)
                              to inspire others across England with your apprenticeship story
                         </p>
                         <p class="link">Join the Network</p>
                    </a>
               </li>
               <!-- ////////// LINK ONE - END ////////// -->

               <!-- ////////// LINK TWO - START ////////// -->
               <li class="website-sections__item item-two">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-2.jpg" />
                         <span class="number">02</span>
                         <h2 class="heading-xs">Resources</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Apprenticeship Resources</h3>
                         <p>
                              Explore our range of inspirational and informative resources, whether you’re a teacher, parent or
                              thinking of becoming an apprentice
                         </p>
                         <p class="link">View Resources</p>
                    </a>
               </li>
               <!-- ////////// LINK TWO - END ////////// -->

               <!-- ////////// LINK THREE - START ////////// -->
               <li class="website-sections__item item-three">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-3.jpg" />
                         <span class="number">03</span>
                         <h2 class="heading-xs">Free Sessions</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Free Apprenticeship Sessions for Students</h3>
                         <p>
                              Free apprenticeship support for students in years 10 – 13 in every school and college across England
                         </p>
                         <p class="link">Book now</p>
                    </a>
               </li>
               <!-- ////////// LINK THREE - END ////////// -->

               <!-- ////////// LINK FOUR - START ////////// -->
               <li class="website-sections__item item-four">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-4.jpg" />
                         <span class="number">04</span>
                         <h2 class="heading-xs">Broadcasts</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">The Very Latest Live Broadcasts</h3>
                         <p>
                              Watch interviews with employers and their apprentices. Join us live or on catch-up at a time to suit you
                         </p>
                         <p class="link">View Broadcasts</p>
                    </a>
               </li>
               <!-- ////////// LINK FOUR - END ////////// -->

               <!-- ////////// LINK FIVE - START ////////// -->
               <li class="website-sections__item item-five">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-5.jpg" />
                         <span class="number">05</span>
                         <h2 class="heading-xs">Champions</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Apprenticeship Champions</h3>
                         <p>
                              If you are a teacher or careers professional, join our network of 1000+ professionals to share
                              apprenticeship resources, ideas and receive useful updates
                         </p>
                         <p class="link">Become a Champion</p>
                    </a>
               </li>
               <!-- ////////// LINK FIVE - END ////////// -->

               <!-- ////////// LINK SIX - START ////////// -->
               <li class="website-sections__item item-six">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-6.jpg" />
                         <span class="number">06</span>
                         <h2 class="heading-xs">Apprenticeships</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Find an apprenticeship</h3>
                         <p>
                              Search and apply for thousands of apprenticeship vacancies across England
                         </p>
                         <p class="link">Search Now</p>
                    </a>
               </li>
               <!-- ////////// LINK SIX - END ////////// -->

               <!-- ////////// LINK SEVEN - START ////////// -->
               <li class="website-sections__item item-seven">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-7.jpg" />
                         <span class="number">07</span>
                         <h2 class="heading-xs">Apprenticeships</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">Vacancy Snapshot</h3>
                         <p>
                              Take a look behind the scenes at some of the world’s biggest companies and find out what to
                              expect from their recruitment processes
                         </p>
                         <p class="link">Browse Vacancies</p>
                    </a>
               </li>
               <!-- ////////// LINK SEVEN - END ////////// -->

               <!-- ////////// LINK EIGHT - START ////////// -->
               <li class="website-sections__item item-eight">
                    <a href="#" class="website-sections__link">
                         <img src="/dist/campaign/images/careers-advisers/image-8.jpg" />
                         <span class="number">08</span>
                         <h2 class="heading-xs">Schools</h2>
                         <span class="border"></span>
                         <h3 class="heading-s">School Workforce</h3>
                         <p>
                              Apprenticeships can be used to recruit new staff and retrain or upskill existing staff of all ages and
                              levels of experience, in a wide variety of roles
                         </p>
                         <p class="link">Find out More</p>
                    </a>
               </li>
               <!-- ////////// LINK EIGHT - END ////////// -->

          </ul>
     </div>
</section>
