
$employer:          #006dff;
$employer-mid:      #D7E9FC;
$employer-light:    #E8F4FF;
$employer-pale:     #F6FBFF;

$apprentice:        #28A197;
$apprentice-mid:    #C1E1DF;
// $apprentice-mid:    #d1e6fb;
$apprentice-light:  #ECFCFB;
$apprentice-pale:   #F5FCFC ;

$grey-1:        #212121;
$grey-2:        #212121;
$grey-3:        #646c6f;
$grey-4:        #ddd;
$grey-5:        #6F777B;
$grey-6:        #E2E2E2;
$grey-7:        #F8F8F8;
$grey-8:        #999;

$black:         #0B0C0C;
$green:         #28A197;

$text-colour:     #6F777B;
$heading-colour:  $black;
$border-colour:   #dee0e2;

$link-colour:             $employer;
$link-visited-colour:     $employer;

$secondary-text-colour: $grey-3;
$page-bg:       #1e1d1d;
$focus-colour:  #ffbf47;
$border-colour: #ddd;
$error-colour:  #C42B3A;

$input-border-colour: #000;
