html {
     scroll-behavior: smooth;
}


.page-template {
     background: white;
     // background: $page-bg;
     &.index {
          background: $page-bg;
     }
     &.real-stories {
          background: #F8F8F8;
     }
}

.js-menu-open {
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  min-width: 320px;
  // max-width: $page-width;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}


.main-content,
.section,
.footer {
     padding: 20px;
     // padding: $gutter-half;
     @include media-query($from: tablet) {
          padding: $gutter;
     }
     @include media-query($from: desktop) {
          padding: 40px 80px;
     }
}

.main-content {
     padding: 20px 20px 80px 20px;
     background: #fff;
     max-width: 1440px;
     margin: 0 auto;
     // min-height: 75em;
     @include media-query($from: tablet) {
          // padding: 50px;
          padding: 40px 80px 80px 80px;
     }
}

.main-content-section {
     max-width: 1440px;
     margin: 0 auto;
     .faa-fat-link-block {
          margin-top: 10em;
     }
     .card-stories {
          margin: 5em 0 3em 0;
          display: inline-block;
          width: 47.5%;
          margin-right: 5%;
          background: white;
          transition: all .3s ease;
          text-decoration: none;
          &.no-action {
               &:hover, &:active, &:focus {
                    cursor: inherit;
                    box-shadow: none;
                    .card-stories__image {
                         .card__img, .card-stories__img {
                              transform: scale(1);
                         }
                    }
                    .card-stories__icon-play {
                         box-shadow: none;
                    }
               }
          }
          &:hover, &:active, &:focus {
               cursor: pointer;
               box-shadow: 0 0px 30px 0px rgba(black,0.2);
               .card-stories__image {
                    .card__img, .card-stories__img {
                         transform: scale(1.1);
                    }
               }
               .card-stories__icon-play {
                    box-shadow: 0px 0px 31px 9px rgba(255, 255, 255, 0.3);
               }
          }
          &:nth-of-type(even) {
               margin-right: 0;
          }
          .card-stories__image {
               width: 100%;
               height: 25em;
               position: relative;
               overflow: hidden;
               .card__img, .card-stories__img {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    background-position: center;
                    transition: all .3s ease;
                    &.card-stories__img--apprentice-alim {
                         background-image: url("../images/images/case-studies/apprentice/alim-card-1.jpg");
                    }
                    &.card-stories__img--apprentice-hozanna {
                         background-image: url("../images/images/case-studies/apprentice/hozanna-card-1.jpg");
                    }
                    &.card-stories__img--employer-annie {
                         background-image: url("../images/images/case-studies/employer/annie-card-1.jpg");
                    }
                    &.card-stories__img--employer-laura {
                         background-image: url("../images/images/case-studies/employer/laura-card-1.jpg");
                    }
               }
          }
          .card-stories__content {
               padding: 3em 3em 3em 3em;
               position: relative;
               .card-stories__headline {
                    margin-top: 0;
                    .quotes {
                         display: inline-block;
                         width: 1em;
                         height: 1em;
                         margin: 0 0 0 0;
                         position: relative;
                         top: 0.1em;
                         background: url("../images/quotes-apprentice.svg") no-repeat 50% 50%;
                         background-size: contain;
                    }
               }
               .card-stories__cite {
                    // position: absolute;
                    // bottom: 3em;
                    // left: 3em;
                    text-transform: uppercase;
                    font-family: nobel, sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.4;
                    color: #646c6f;
                    line-height: 20px;
                    margin: 40px 0 0 0;
                    .card-stories__cite-detail {
                         color: $apprentice;
                         width: 100%;
                         display: inline-block;
                    }
               }
          }
     }
}

.card-stories__icon-play {
     position: relative;
     top: 35%;
     height: 110px;
     width: 110px;
     display: block;
     margin: 0 auto;
     background: $apprentice;
     border-radius: 50%;
     transition: box-shadow 0.2s ease;
     &:before {
          content: "";
          position: absolute;
          background: url("../images/hero-play-apprentice.svg") no-repeat 50% 50%;
          background-size: cover;
          display: inline-block;
          z-index: 1;
          bottom: 0;
          right: 0;
          left: 0;
          top: 0;
     }
}
.employer {
     .card-stories__icon-play {
          background: $employer;
          &:before {
               background: url("../images/hero-play-employer.svg") no-repeat 50% 50%;
          }
     }
     .main-content-section {
          .card-stories {
               .card-stories__content {
                    .card-stories__headline {
                         .quotes {
                              background: url("../images/quotes-employer.svg") no-repeat 50% 50%;
                              background-size: contain;
                         }
                    }
                    .card-stories__cite {
                         .card-stories__cite-detail {
                              color: black;
                         }
                    }
               }
          }
     }
}

#text-container {
     min-height: 75em;
}

#text-container-employer {
     min-height: 90em;
}


.page {
     max-width: 700px;
     @include media-query($from: tablet) {
          padding-right: 40px;
          min-height: 800px;
     }
     @include media-query($from: desktop) {
          padding-right: 80px;
     }
     a {
          color: $link-colour;
          &:hover, &:focus {
               text-decoration: none;
          }
          &:visited {
               color: $link-visited-colour;
          }
          &.external {
               padding-right: 1em;
               background: url("../images/new-window-blue.svg") no-repeat 100% 60%;
               background-size: 0.85em;
               display: inline-block;
          }
     }
}

.section-break {
  margin: 0;
  border: none;
  height: 0;
  border-bottom: 1px solid $border-colour;
  @include responsive-margin(6, "top");
  @include responsive-margin(6, "bottom");
}
