<div class="hero apprenticeships-explained">
     <div class="grid-row">
          <div class="grid-column-full">
               <div class="hero-heading">
                    <h1 class="heading-l">Apprenticeships explained</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Finding the right apprentice for your company can feel like a daunting task if you are not used to the recruitment process.
                         This website has been designed to help you with the apprenticeship recruitment process, particularly if you
                         are a small or medium sized employer.
                    </p>
               </div>

               <!-- <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a> -->

          </div>
     </div>
</div>
