<div class="hero FAT-basket FAT-save-standard">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">How do they work?</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Discover the practical details of apprenticeships, from accessing government funding to assessing your apprentice.
                    </p>

                    <div id="how-they-work-levy-question" class="cta-row">

                         <div class="form-group radios no-top-margin">
                              <p class="no-top-margin">
                                   <strong class="larger-font">As an employer, is your pay bill more than £3 million per year?</strong><br>
                                   If you’re receiving a transfer of apprenticeship funds from another employer, please choose ‘Yes’.
                              </p>
                              <div class="radios__item">
                                   <input class="input radios__input" type="radio" value="LevyPayerYes" id="LevyPayerYes" name="EmployerLevyPayer">
                                   <label class="label radios__label" for="LevyPayerYes">Yes</label>
                              </div>
                              <div class="radios__item">
                                   <input class="input radios__input" type="radio" value="LevyPayerNo" id="LevyPayerNo" checked="checked" name="EmployerLevyPayer">
                                   <label class="label radios__label" for="LevyPayerNo">No</label>
                              </div>
                         </div>

                         <a id="continue-user-type" href="/campaign/employer/B-hire-an-apprentice-A" class="button button--shadow button--sparks">Continue</a>
                         <p class="lead-paragraph"><a href="javascript:history.back()" class="">I don't know, continue</a></p>
                    </div>

                    <div id="without-levy-question" class="cta-row">
                         <p class="no-top-margin">
                              <strong class="larger-font">Start by exploring your options</strong><br>
                              You can either employer an apprentice or upskill your exsiting staff, it's that easy.
                         </p>
                         <a id="continue-user-type" href="/campaign/employer/B-hire-an-apprentice-A" class="button button--shadow button--sparks">Continue</a>
                    </div>

               </div>

               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>

          </div>
          <div class="grid-column-one-half">

               <div class="illustration-wrapper">

                    <!-- SECTION 1 - START -->
                    <a href="/campaign/employer/B-hire-an-apprentice-A" class="illustrative-journey section-1">
                         <div class="image">
                              <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-1.svg">
                         </div>
                         <div class="text">
                              <h3 class="heading-xs">Hiring an apprentice</h3>
                         </div>
                    </a>
                    <!-- SECTION 1 - END -->

                    <!-- SECTION 2 - START -->
                    <a href="/campaign/employer/B-retrain-staff-B" class="illustrative-journey section-2">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image">
                              <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-2.svg">
                         </div>
                         <div class="text">
                              <h3 class="heading-xs">Retrain current staff</h3>
                         </div>
                    </a>
                    <!-- SECTION 2 - END -->

                    <!-- SECTION 3 - START -->
                    <a href="/campaign/employer/B-how-much-is-it-going-to-cost-C" class="illustrative-journey section-3">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image">
                              <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-3.svg">
                         </div>
                         <div class="text">
                              <h3 class="heading-xs">Funding an apprenticeship</h3>
                         </div>
                    </a>
                    <!-- SECTION 3 - END -->

                    <!-- SECTION 4 - START -->
                    <a href="/campaign/employer/B-training-your-apprentice-D" class="illustrative-journey section-4">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image">
                              <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-4.svg">
                         </div>
                         <div class="text">
                              <h3 class="heading-xs">Training your apprentice</h3>
                         </div>
                    </a>
                    <!-- SECTION 4 - END -->

                    <!-- SECTION 5 - START -->
                    <a href="/campaign/employer/B-assessment-and-qualification-E" class="illustrative-journey section-5">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image">
                              <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-5.svg">
                         </div>
                         <div class="text">
                              <h3 class="heading-xs">End-point assessments</h3>
                         </div>
                    </a>
                    <!-- SECTION 5 - END -->

                    <!-- <img class="gov-uk-image" src="/dist/campaign/images/fat-screen-shot.png"> -->

               </div>

          </div>
     </div>
</div>
