<ol class="sidebar-nav">
     <li class="sidebar-nav__section sidebar-nav__section--active" data-tab-no="1">
          <a href="app-1-what-is-an-apprenticeship.html"> What is an apprenticeship?</a>
          <ul>
               <li><a href="app-1-what-is-an-apprenticeship.html#heading1"> Introduction to apprenticeships</a></li>
               <li><a href="app-1-what-is-an-apprenticeship.html#heading2"> What are the different types of apprenticeships?</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section no-addtional-links" data-tab-no="2">
          <a href="https://www.gov.uk/apply-apprenticeship" target="_blank" class="new-window">Find an apprenticeship</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="3">
          <a href="app-3-application.html">Application</a>
          <ul>
               <li><a href="app-3-application.html#heading1"> So, you've found your ideal apprenticeship?</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="4">
          <a href="app-4-interview.html">Interview</a>
          <ul>
               <li><a href="app-4-interview.html#heading1"> The Interview Process</a></li>
               <li><a href="app-4-interview.html#heading2"> Before Your Interview</a></li>
               <li><a href="app-4-interview.html#heading3"> Day of the interview</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="5">
          <a href="app-5-your-apprenticeship.html">Your apprenticeship</a>
          <ul>
               <li><a href="app-5-your-apprenticeship.html#heading1"> What to bring, and other useful info</a></li>
               <li><a href="app-5-your-apprenticeship.html#heading1"> Meet your new team</a></li>
               <li><a href="app-5-your-apprenticeship.html#heading1"> First an apprenticeship, now a career!</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="6">
          <a href="app-6-assessment-and-qualification.html">Assessment and qualification</a>
          <ul>
               <li><a href="app-6-assessment-and-qualification.html#heading1"> Get Assessed</a></li>
               <li><a href="app-6-assessment-and-qualification.html#heading1"> Get Qualified</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
</ol>
