<!-- ////////////////// Hero Banner - START //////////////////-->
<div class="hero-banner" id="hub-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">
                         <div class="spark top"></div>
                         <div class="spark bottom"></div>
                         Help shape their future
                    </h1>
               </div>
               <div>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae tellus id ligula condimentum iaculis
                         sit amet nec velit. Proin at sapien ornare, rhoncus quam quis, varius risus. Vestibulum semper commodo pulvinar.
                    </p>
               </div>
          </div>

          <div class="grid-column-one-half hero-banner--parents">
               <a class="hero-banner__icon-play" data-module="videoPlayer" data-playerclass="video-player--parents" data-videoplayerid="plyr-1" data-videourl="https://www.youtube.com/embed/frWp3wP4IDo?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
          </div>

          <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          <span class="hero-banner__background hero-banner__background--industry"></span>
     </div>
</div>
<!-- ////////////////// Hero Banner - END //////////////////-->
