<!-- ////////////////// Hero Banner - START //////////////////-->
<div class="hero-banner" id="hub-page">
     <div class="sparks top"></div>
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">
                         <div class="spark top"></div>
                         <div class="spark bottom"></div>
                         HOW TO HIRE AN APPRENTICE
                    </h1>
               </div>
               <div>
                    <!-- <p class="hero-line">BE part of the movement</p> -->
                    <p>
                         Whether you want to bring in fresh talent or take a current employee to new heights, why not try
                         apprenticeships for size? With plenty of funding and support available from the government,
                         it couldn’t be easier to boost the skills your business needs to thrive.
                    </p>
                    <p>
                         Here are our key steps to finding the right apprenticeship, training provider and apprentice
                         using our handy online tools.
                    </p>
                    <!-- <a href="/campaign/FAT/1-FAT-search" class="button button--shadow button--sparks button--employer">Find a training provider</a>
                    <p>Or Call the National apprenticeship service</p>
                    <p class="hero-line large-text">0800 015 0600</p> -->
               </div>
          </div>
          <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          <!-- <span class="hero-banner__background hero-banner__background--industry"></span> -->
     </div>
     <span id="slideshow">
          <div class="slideImage image-one">
               <div class="colour-cover"></div>
               <!-- <img src="/dist/campaign/images/industries/hero-images/employer-hero-3.jpg" class=""> -->
          </div>
          <div class="slideImage  image-two">
               <div class="colour-cover"></div>
               <!-- <img src="/dist/campaign/images/industries/hero-images/employer-hero-8.jpg" class=""> -->
          </div>
          <div class="slideImage image-three">
               <div class="colour-cover"></div>
               <!-- <img src="/dist/campaign/images/industries/hero-images/employer-hero-12.jpg" class=""> -->
          </div>
          <div class="slideImage image-four">
               <div class="colour-cover"></div>
               <!-- <img src="/dist/campaign/images/industries/hero-images/employer-hero-26.jpg" class=""> -->
          </div>
          <div class="slideImage image-five">
               <div class="colour-cover"></div>
               <!-- <img src="/dist/campaign/images/industries/hero-images/employer-hero-33.jpg" class=""> -->
          </div>
     </span>
     <div class="sparks bottom"></div>
</div>
<!-- ////////////////// Hero Banner - END //////////////////-->
