<!-- ////////////////// Hero Banner - START //////////////////-->
<div class="hero-banner careers-advisers" id="hub-page">
     <div class="grid-row">
          <div class="grid-column-full">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">
                         Help shape their future
                    </h1>
               </div>
               <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sapien
                    vitae tempor semper.<br>Fusce eleifend vehicula mollis. In id diam ante.
               </p>
               <div class="cta-wrapper">
                    <a href="https://amazing-apprenticeships.herokuapp.com/" class="button">Request support</a>
                    <a href="#" class="button button--black">Become an ambassador</a>
               </div>
          </div>

          <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          <span class="hero-banner__background"></span>
     </div>
</div>
<!-- ////////////////// Hero Banner - END //////////////////-->
