<!-- ////////////////// Hero Banner - START //////////////////-->
<div class="hero-banner careers-advisers" id="hub-page">
     <div class="grid-row">
          <div class="grid-column-full">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">
                         INSPIRE FUTURE ACHIEVERS
                    </h1>
               </div>
               <p>
                    As a teacher or careers adviser, you can support, guide and inspire future<br>
                    apprentices as they explore their different career options.
               </p>
               <div class="cta-wrapper">
                    <a href="https://amazing-apprenticeships.herokuapp.com/" class="button">Request support</a>
                    <a href="#" class="button button--black">Become an ambassador</a>
               </div>
          </div>

          <span class="arrow"></span>
          <span class="white-banner"></span>

          <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          <span class="hero-banner__background"></span>
     </div>
</div>
<!-- ////////////////// Hero Banner - END //////////////////-->
