<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>FIRE IT UP! - 2 - Find an apprenticeship</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap faa-search">

          {% include '../components/header/_header.html'%}
          {% include '../components/hero-heading/_app-2B-hero-heading.html' %}

          <main id="main-content" class="main-content page-app-2 apprentice">

               <div id="text-container" class="grid-row">
                    <div class="grid-column-two-thirds">

                         <div class="page">

                              <h1 class="heading-l no-top-margin">Your top 10 results...</h1>

                              <p>
                                   We’ve found <strong>61</strong> apprenticeships in your selected area, below are the
                                   <strong>top 10</strong>.
                              </p>
                              <!-- <p>
                                   Click here to view all your results on <a href="https://www.findapprenticeship.service.gov.uk/apprenticeships?ApprenticeshipLevel=All&Hash=-218207335&Location=CV32%207EE&LocationType=NonNational&PageNumber=1&ResultsPerPage=50&SearchAction=Search&SearchField=All&SearchMode=Keyword&SortType=Relevancy&WithinDistance=0&DisabilityConfidentOnly=False" target="_blank">https://www.findapprenticeship.service.gov.uk/</a> 
                              </p> -->

                              <ol id="vacancy-search-results" class="search-results-list" data-form-id="search-results-filter"
                                   data-map-id="mapDev">


                              </ol>

                         </div>
                    </div>

                    <div class="grid-column-one-third">
                         <div class="sidebar">
                              <form id="search-results-filter" action="/FindApprenticeship" method="post">
                                   <section class="cta-faa">

                                        <h2 class="heading-m">
                                             update search
                                             <!-- <span class="open"></span> -->
                                        </h2>
                                        <div class="cta-faa__content">
                                             <div class="form-group">
                                                  <label class="form-label-bold" for="Postcode">Postcode</label>
                                                  <input class="form-control" type="text" id="Postcode" name="Postcode"
                                                       value="">
                                                  <span class="text-danger field-validation-valid" data-valmsg-for="Postcode"
                                                       data-valmsg-replace="true"></span>
                                             </div>
                                        </div>

                                        <div class="cta-faa__content">
                                             <div class="form-group">
                                                  <label class="form-label-bold" for="Distance">Distance</label>
                                                  <select class="form-control" data-val="true" data-val-required="The Distance field is required."
                                                       id="Distance" name="Distance">
                                                       <option value="2">2 miles</option>
                                                       <option selected="selected" value="5">5 miles</option>
                                                       <option value="10">10 miles</option>
                                                       <option value="15">15 miles</option>
                                                       <option value="20">20 miles</option>
                                                       <option value="30">30 miles</option>
                                                       <option value="40">40 miles</option>
                                                  </select>

                                                  <span class="text-danger field-validation-valid" data-valmsg-for="Distance"
                                                       data-valmsg-replace="true"></span>
                                             </div>
                                        </div>

                                        <div class="cta-faa__content">
                                             <div class="form-group">
                                                  <input type="submit" value="Update" class="button">
                                             </div>
                                        </div>

                                   </section>
                                   <input id="Latitude" type="hidden" value="52.4924">
                                   <input id="Longitude" type="hidden" value="1.9652">
                                   <input id="Postcode" type="hidden" value="Smethwick">
                                   <input id="Distance" type="hidden" value="5">
                              </form>

                              <div class="trimmer">
                                   <div class="sidebar__header">
                                        <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS TO BECOME AN
                                             APPRENTICE</h3>
                                   </div>
                              </div>
                              <div class="sidebar__content">
                                   {% include '../components/sideBar/_sideBar.html'%}
                              </div>
                              {% include '../components/sideBar/_register.html'%}
                         </div>
                    </div>

               </div>

          </main>

          {% include '../components/faa-fat/_faa-link-block-search.html'%}

          {% include '../components/footer/_footer.html'%}

     </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjlbjx6_-sz4utE2SVVNwc63PlUM_MLE" type="text/javascript"></script>
     <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
     <script src="/dist/campaign/js/infobox.js"></script>

     <script src="/dist/campaign/js/app.min.js"></script>

     <script>
          $(document).ready(function () {
               var sector = $.cookie("faa-search-interest");
               a = document.getElementById('mapDev');
               a.setAttribute('data-markerdataurl', '/campaign/json/b664nd/' + sector);
               window.DASFrontend.initAll()
          });
     </script>

     <script def src="/dist/js/das-all.js"></script>
     <script>

     </script>
     <script src="/dist/js/search-results.js"></script>
     {% include '../components/footer/_scripts.html'%}


</body>

</html>