
<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Register interest</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template employer-page">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          {% include '../components/header/_header-employer-V3.html'%}

          <main id="main-content">

               <div class="hero register" data-module="smoothScroll">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="hero-heading">
                                   <h1 class="heading-xl hero-heading__heading">Thanks for <br>subscribing!</h1>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="main-content">

                    <div class="grid-row">
                         <div class="grid-column-two-thirds">

                              <form action="/campaign/hub-employer" method="get">

                                   <h2 class="heading-m no-top-margin">
                                        Thanks for subscribing, <strong class="fat-save-FirstName"></strong>. We’ve sent a confirmation email to <strong class="fat-save-Email"></strong>.
                                   </h2>

                                   <p>
                                        You’ll soon start receiving the latest apprenticeship updates and downloadable employer guides
                                        straight to your inbox. In the meantime, you can download a few of our favourite guides below.
                                        We hope you find them useful.

                                   </p>

                                   <!-- <p>
                                        Your interested industries:
                                   </p> -->

                                   <!-- <ul id="interested-industries" class="list list--bullet list--bullet-employer">
                                        <li class="industries-Agriculture"><strong>Agriculture, environment and animal care</strong></li>
                                        <li class="industries-Business"><strong>Business and administration</strong></li>
                                        <li class="industries-Care"><strong>Care services</strong></li>
                                        <li class="industries-Catering"><strong>Catering and hospitality</strong></li>
                                        <li class="industries-Construction"><strong>Construction</strong></li>
                                        <li class="industries-Creative"><strong>Creative and design</strong></li>
                                        <li class="industries-Digital"><strong>Digital</strong></li>
                                        <li class="industries-Education"><strong>Education and childcare</strong></li>
                                        <li class="industries-Engineering"><strong>Engineering and manufacturing</strong></li>
                                        <li class="industries-Hair"><strong>Hair and beauty</strong></li>
                                        <li class="industries-Health"><strong>Health and science</strong></li>
                                        <li class="industries-Legal"><strong>Legal, finance and accounting</strong></li>
                                        <li class="industries-Protective"><strong>Protective services</strong></li>
                                        <li class="industries-Sales"><strong>Sales, marketing and procurement</strong></li>
                                        <li class="industries-Transport"><strong>Transport and logistics</strong></li>
                                        <li class="industries-Other"><strong>&nbsp;</strong></li>
                                   </ul> -->

                                   <p>
                                        <a href="#" class="" name="registerInterestSubmit" id="btn-favourites">< &nbsp; Return to previous content page</a>
                                   </p>

                              </form>

                         </div>

                    </div>

                    <div class="grid-row">
                         <div class="grid-column-full">

                              <div class="downloads-container">

                                   <!-- DOWNLOAD - 1 - START -->
                                   <a class="download" href="/dist/campaign/images/register/PDFs/PDF-1-7-reasons-to-embrace-apprenticeships.pdf" target="_blank" rel="external">
                                        <div class="image-container">
                                             <img src="/dist/campaign/images/register/PDF-1.jpg" class="">
                                        </div>
                                        <div class="text-container">
                                             <h3 class="heading-xs">7 reasons to embrace apprenticeships</h3>
                                             <p>
                                                  As an employer with a pay bill of less than £3 million per year, taking on an apprentice comes with plenty of exciting
                                                  benefits. From funding to flexible training and opportunities to upskill existing employees, here are 7 reasons to get involved.
                                             </p>
                                        </div>
                                   </a>
                                   <!-- DOWNLOAD - 1 - END -->

                                   <!-- DOWNLOAD - 2 - START -->
                                   <a class="download" href="/dist/campaign/images/register/PDFs/PDF-2-Why-are-standards-replacing-frameworks.pdf" target="_blank" rel="external">
                                        <div class="image-container">
                                             <img src="/dist/campaign/images/register/PDF-2.jpg" class="">
                                        </div>
                                        <div class="text-container">
                                             <h3 class="heading-xs">Why are standards replacing frameworks?</h3>
                                             <p>
                                                  From the start of the 2020/21 academic year, standards will completely replace frameworks – and employers are already
                                                  recognising the benefits. In fact, 62% of new apprentices were on standards in the first three quarters of the 2018/19
                                                  academic year. Here’s why we’re making the switch.
                                             </p>
                                        </div>
                                   </a>
                                   <!-- DOWNLOAD - 2 - END -->

                                   <!-- DOWNLOAD - 3 - START -->
                                   <a class="download" href="/dist/campaign/images/register/PDFs/PDF-4-How-does-off-the-job-training-work.pdf" target="_blank" rel="external">
                                        <div class="image-container">
                                             <img src="/dist/campaign/images/register/PDF-4.jpg" class="">
                                        </div>
                                        <div class="text-container">
                                             <h3 class="heading-xs">How does off-the-job training work?</h3>
                                             <p>
                                                  Whether it’s practical, theoretical or a written assignment, off-the-job training is hugely valuable for both you and
                                                  your apprentice. Investing in your apprentice’s development ensures they feel valued, while enhancing their productivity –
                                                  and the impact they can make within your organisation. But how does it work in practice?
                                             </p>
                                        </div>
                                   </a>
                                   <!-- DOWNLOAD - 3 - END -->

                                   <!-- DOWNLOAD - 4 - START -->
                                   <a class="download" href="/dist/campaign/images/register/PDFs/PDF-5-An-employers-guide-to-higher-and-degree-apprenticeships.pdf" target="_blank" rel="external">
                                        <div class="image-container">
                                             <img src="/dist/campaign/images/register/PDF-5.jpg" class="">
                                        </div>
                                        <div class="text-container">
                                             <h3 class="heading-xs">An employer’s guide to higher and degree apprenticeships</h3>
                                             <p>
                                                  Think apprenticeships are only suitable for 16-year-olds leaving school? It’s time to take another look. Exciting
                                                  apprenticeships are popping up at higher and degree level all the time, and they’re ideal for anyone looking to train
                                                  for a new occupation.
                                             </p>
                                        </div>
                                   </a>
                                   <!-- DOWNLOAD - 4 - END -->

                                   <!-- DOWNLOAD - 5 - START -->
                                   <a class="download" href="/dist/campaign/images/register/PDFs/PDF-6-Your-guide-to-developing-new-standards.pdf" target="_blank" rel="external">
                                        <div class="image-container">
                                             <img src="/dist/campaign/images/register/PDF-6.jpg" class="">
                                        </div>
                                        <div class="text-container">
                                             <h3 class="heading-xs">Your guide to developing new standards</h3>
                                             <p>
                                                  From digital marketing and teaching to dental healthcare and textile manufacturing, there’s a great range of standards
                                                  available, with new options appearing all the time. Each standard must be carefully designed to ensure apprentices will
                                                  achieve full occupational competence – and who’s better equipped for the job than employers like you? Here’s
                                                  how you can get involved.
                                             </p>
                                        </div>
                                   </a>
                                   <!-- DOWNLOAD - 5 - END -->

                                   <!-- DOWNLOAD - 6 - START -->
                                   <!-- <a class="download" href="/dist/campaign/images/register/PDFs/PDF-3-Your-guide-to-funding-an-apprenticeship.pdf" target="_blank" rel="external">
                                        <span class="launcher__section-heading">Levy payers only</span>
                                        <div class="image-container">
                                             <img src="/dist/campaign/images/register/PDF-3.jpg" class="">
                                        </div>
                                        <div class="text-container">
                                             <h3 class="heading-xs">Your guide to funding an apprenticeship</h3>
                                             <p>
                                                  As an employer with a pay bill of less than £3 million per year, you’ll share the cost of training and assessing
                                                  apprentices with the government – known as ‘co-investment’. There’s other funding available too, along with costs
                                                  you’ll need to pay yourself. Here’s an overview to help you start planning.
                                             </p>
                                        </div>
                                   </a> -->
                                   <!-- DOWNLOAD - 6 - END -->


                              </div>

                         </div>
                    </div>

               </div>

          </main>

          {% include '../components/footer/_footer-employer.html'%}

          <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <!-- <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script> -->
          <!-- <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
