<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Register interest</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template employer-page">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          {% include '../components/header/_header-employer.html'%}

          <main id="main-content">

               <div class="hero register" data-module="smoothScroll">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="hero-heading">
                                   <h1 class="heading-xl hero-heading__heading">Subscribe for employer guides and updates</h1>
                              </div>
                              <div class="hero-heading__content">
                                   <p class="lead-paragraph">
                                        You’ll get all the latest apprenticeship updates, plus downloadable guides to help you brush up on key topics. This could include:
                                   </p>
                                   <ul class="list list--bullet">
                                        <li>alerts about new standards, plus new tools and features you might find useful</li>
                                        <li>updates to apprenticeship funding rules</li>
                                        <li>guides about apprenticeship standards, funding and off-the-job training</li>
                                   </ul>
                              </div>

                              <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                                   <img alt="HM Government" class="hero-heading__hm-government-logo" src="https://das-prd-frnt-end.azureedge.net/campaign/images/hm-government-logo.png" srcset="https://das-prd-frnt-end.azureedge.net/campaign/images/hm-government-logo.png 1x, https://das-prd-frnt-end.azureedge.net/campaign/images/hm-government-logo@2x.png 2x">
                              </a>
                         </div>
                    </div>
               </div>

               <div class="main-content">

                    <div class="grid-row">
                         <div class="grid-column-full">

                              <form action="/campaign/register/employer-register-complete" method="get" id="new-register-interest">

                                   <!-- <h2 class="heading-m no-top-margin">Keep me up to date with the latest information</h2> -->

                                   <div class="form-validation-summary" style="display: none">
                                        <h3 class="heading-s">Sorry but there seems to be a problem with your registration</h3>
                                   </div>
                                   <div class="form-group">
                                        <label class="label visually-hidden" for="FirstName">
                                             First name
                                        </label>
                                        <input id="FirstName-employer" class="input" type="text" placeholder="First name" autocomplete="given-name" name="FirstName" value="">
                                   </div>

                                   <div class="form-group">
                                        <label class="label visually-hidden" for="LastName">
                                             Last name
                                        </label>
                                        <input class="input" type="text" placeholder="Last name" autocomplete="family-name" id="LastName-employer" name="LastName" value="">
                                   </div>

                                   <div class="form-group">
                                        <label class="label visually-hidden" for="Email">
                                             Email Address
                                        </label>
                                        <input class="input" type="text" placeholder="Email address" autocomplete="email" id="Email-employer" name="Email" value="">
                                   </div>

                                   <div class="form-group">
                                        <div class="checkboxes__item">
                                             <input class="checkboxes__input" type="checkbox" id="AcceptTandCs" name="AcceptTandCs">
                                             <label class="label checkboxes__label" for="AcceptTandCs">
                                                  <!-- <strong>I'd like to receive more information about apprenticeships from the Education and Skills Funding Agency via email, and i'm over the age of 13.</strong> -->
                                                   <strong>I'd like to receive emails about apprenticeships from the Education and Skills Funding Agency.</strong>
                                             </label>
                                        </div>
                                   </div>

                                   <p class="small-text">
                                        <!-- To find out how we handle your personal data, please visit our <a href="#">privacy notice</a>. -->
                                        It’s easy to unsubscribe if you change your mind, and we’ll never share your email address with anyone else.
                                        To find out more about how we handle your personal data, please visit our <a href="#">privacy notice</a>.
                                   </p>

                                   <p>&nbsp;</p>

                                   <button class="button button-inverted" name="registerInterestSubmit" id="btn-favourites">Keep me updated</button>
                              </form>

                         </div>

                    </div>
               </div>

          </main>

          {% include '../components/footer/_footer-employer.html'%}

          <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <!-- <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script> -->
          <!-- <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
