<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Register interest</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template employer-page">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          {% include '../components/header/_header-employer-V2.html'%}

          <main id="main-content">

               <div class="hero register" data-module="smoothScroll">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="hero-heading">
                                   <h1 class="heading-xl hero-heading__heading">Subscribe for the latest employer updates</h1>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="main-content">

                    <div class="grid-row">
                         <div class="grid-column-two-thirds">

                              <p class="no-top-margin">
                                   You’ll get all the latest apprenticeship updates to keep you in the know, such as:
                              </p>
                              <ul class="list list--bullet list--bullet-employer">
                                   <li>alerts about new standards</li>
                                   <li>updates to apprenticeship funding rules</li>
                                   <li>new tools and features you might find useful</li>
                              </ul>

                              <form action="/campaign/register/employer-register-complete-V2" method="get" id="new-register-interest">

                                   <div class="form-validation-summary" style="display: none">
                                        <h3 class="heading-s">Sorry but there seems to be a problem with your registration</h3>
                                   </div>
                                   <div class="form-group">
                                        <label class="label visually-hidden" for="FirstName">
                                             First name
                                        </label>
                                        <input id="FirstName-employer" class="input" type="text" placeholder="First name" autocomplete="given-name" name="FirstName" value="">
                                   </div>

                                   <div class="form-group">
                                        <label class="label visually-hidden" for="LastName">
                                             Last name
                                        </label>
                                        <input class="input" type="text" placeholder="Last name" autocomplete="family-name" id="LastName-employer" name="LastName" value="">
                                   </div>

                                   <div class="form-group">
                                        <label class="label visually-hidden" for="Email">
                                             Email Address
                                        </label>
                                        <input class="input" type="text" placeholder="Email address" autocomplete="email" id="Email-employer" name="Email" value="">
                                   </div>

                                   <div class="form-group">
                                        <div class="checkboxes__item">
                                             <input class="checkboxes__input" type="checkbox" value="true" id="industries" name="industries">
                                             <label class="label checkboxes__label" for="industries">
                                                  <strong>Industries:</strong> Send me information on my chosen industries to stay in the know of new standards available
                                             </label>
                                        </div>

                                        <div class="form-group radios hidden-selection" id="industries-preferences">
                                             <h3 class="heading-xs">Select the industries you would like to stay upto date with:</h3>

                                             <!-- INDUSTRIES - 1 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Agriculture" name="industries-Agriculture">
                                                  <label class="label checkboxes__label" for="industries-Agriculture">
                                                       Agriculture, environment and animal care
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 1 - END -->

                                             <!-- INDUSTRIES - 2 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Business" name="industries-Business">
                                                  <label class="label checkboxes__label" for="industries-Business">
                                                       Business and administration
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 2 - END -->

                                             <!-- INDUSTRIES - 3 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Care" name="industries-Care">
                                                  <label class="label checkboxes__label" for="industries-Care">
                                                       Care services
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 3 - END -->

                                             <!-- INDUSTRIES - 4 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Catering" name="industries-Catering">
                                                  <label class="label checkboxes__label" for="industries-Catering">
                                                       Catering and hospitality
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 4 - END -->

                                             <!-- INDUSTRIES - 5 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Construction" name="industries-Construction">
                                                  <label class="label checkboxes__label" for="industries-Construction">
                                                       Construction
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 5 - END -->

                                             <!-- INDUSTRIES - 6 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Creative" name="industries-Creative">
                                                  <label class="label checkboxes__label" for="industries-Creative">
                                                       Creative and design
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 6 - END -->

                                             <!-- INDUSTRIES - 7 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Digital" name="industries-Digital">
                                                  <label class="label checkboxes__label" for="industries-Digital">
                                                       Digital
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 7 - END -->

                                             <!-- INDUSTRIES - 8 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Education" name="industries-Education">
                                                  <label class="label checkboxes__label" for="industries-Education">
                                                       Education and childcare
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 8 - END -->

                                             <!-- INDUSTRIES - 9 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Engineering" name="industries-Engineering">
                                                  <label class="label checkboxes__label" for="industries-Engineering">
                                                       Engineering and manufacturing
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 9 - END -->

                                             <!-- INDUSTRIES - 10 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Hair" name="industries-Hair">
                                                  <label class="label checkboxes__label" for="industries-Hair">
                                                       Hair and beauty
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 10 - END -->

                                             <!-- INDUSTRIES - 11 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Health" name="industries-Health">
                                                  <label class="label checkboxes__label" for="industries-Health">
                                                       Health and science
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 11 - END -->

                                             <!-- INDUSTRIES - 12 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Legal" name="industries-Legal">
                                                  <label class="label checkboxes__label" for="industries-Legal">
                                                       Legal, finance and accounting
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 12 - END -->

                                             <!-- INDUSTRIES - 13 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Protective" name="industries-Protective">
                                                  <label class="label checkboxes__label" for="industries-Protective">
                                                       Protective services
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 13 - END -->

                                             <!-- INDUSTRIES - 14 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Sales" name="industries-Sales">
                                                  <label class="label checkboxes__label" for="industries-Sales">
                                                       Sales, marketing and procurement
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 14 - END -->

                                             <!-- INDUSTRIES - 15 - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="industries-Transport" name="industries-Transport">
                                                  <label class="label checkboxes__label" for="industries-Transport">
                                                       Transport and logistics
                                                  </label>
                                             </div>
                                             <!-- INDUSTRIES - 15 - END -->

                                             <!-- INDUSTRIES - 16 - START -->
                                             <div class="form-group">
                                                  <label class="label visually-hidden" for="industries-other">
                                                       Other
                                                  </label>
                                                  <input id="industries-Other" class="input" type="text" placeholder="Other" autocomplete="industry-name" name="industries-other" value="">
                                             </div>
                                             <!-- INDUSTRIES - 16 - END -->

                                        </div>

                                   </div>

                                   <hr>

                                   <div class="form-group">
                                        <div class="checkboxes__item">
                                             <input class="checkboxes__input" type="checkbox" id="AcceptTandCs" name="AcceptTandCs">
                                             <label class="label checkboxes__label" for="AcceptTandCs">
                                                  I'd like to receive emails about apprenticeships from the Education and Skills Funding Agency.
                                             </label>
                                        </div>
                                        <div class="form-group radios hidden-selection" id="news-preferences">
                                             <h3 class="heading-xs">Is there anything in particular you would like to know more about?</h3>

                                             <!-- PREFERENCE - ONE - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="preferences-1" name="preferences-1">
                                                  <label class="label checkboxes__label" for="preferences-1">
                                                       7 reasons to embrace an apprenticeship<br>
                                                       <div class="sub-text"><span class="icon pdf"></span>(PDF, size 1mb)</div>
                                                  </label>
                                             </div>
                                             <!-- PREFERENCE - ONE - END -->

                                             <!-- PREFERENCE - TWO - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="preferences-2" name="preferences-2">
                                                  <label class="label checkboxes__label" for="preferences-2">
                                                       Why are standards replacing frameworks?<br>
                                                       <div class="sub-text"><span class="icon pdf"></span>(PDF, size 0.8mb)</div>
                                                  </label>
                                             </div>
                                             <!-- PREFERENCE - TWO - END -->

                                             <!-- PREFERENCE - THREE - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="preferences-3" name="preferences-3">
                                                  <label class="label checkboxes__label" for="preferences-3">
                                                       Your guide to funding an apprenticeship<br>
                                                       <div class="sub-text"><span class="icon pdf"></span>(PDF, size 1mb)</div>
                                                  </label>
                                             </div>
                                             <!-- PREFERENCE - THREE - END -->

                                             <!-- PREFERENCE - FOUR - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="preferences-4" name="preferences-4">
                                                  <label class="label checkboxes__label" for="preferences-4">
                                                       How does off-the-job training work?<br>
                                                       <div class="sub-text"><span class="icon pdf"></span>(PDF, size 0.9mb)</div>
                                                  </label>
                                             </div>
                                             <!-- PREFERENCE - FOUR - END -->

                                             <!-- PREFERENCE - FIVE - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="preferences-5" name="preferences-5">
                                                  <label class="label checkboxes__label" for="preferences-5">
                                                       An employer’s guide to higher and degree apprenticeships<br>
                                                       <div class="sub-text"><span class="icon pdf"></span>(PDF, size 1.1mb)</div>
                                                  </label>
                                             </div>
                                             <!-- PREFERENCE - FIVE - END -->

                                             <!-- PREFERENCE - SIX - START -->
                                             <div class="checkboxes__item">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="preferences-6" name="preferences-6">
                                                  <label class="label checkboxes__label" for="preferences-6">
                                                       Your guide to developing new standards<br>
                                                       <div class="sub-text"><span class="icon pdf"></span>(PDF, size 1mb)</div>
                                                  </label>
                                             </div>
                                             <!-- PREFERENCE - SIX - END -->

                                        </div>
                                   </div>

                                   <p class="small-text">
                                        It’s easy to unsubscribe if you change your mind, and we’ll never share your email address with anyone else. To
                                        find out more about how we handle your personal data, please visit our <a href="#">privacy notice</a>.
                                   </p>

                                   <p>&nbsp;</p>

                                   <button class="button button-inverted" name="registerInterestSubmit" id="btn-favourites">Keep me updated</button>
                              </form>

                         </div>

                    </div>
               </div>

          </main>

          {% include '../components/footer/_footer-employer.html'%}

          <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <!-- <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script> -->
          <!-- <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
