{% from "../button/macro.njk" import dasButton %}

<div class="dabanner version-1">
     <div class="dabanner__content">
          <div class="dabanner__text">
               <h4 class="heading-xs">Are you from England?</h4>
               <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed massa sed tellus porttitor molestie.
                    Quisque rutrum ex vitae imperdiet facilisis. Quisque ultrices justo ac lorem suscipit, vel rutrum enim
                    efficitur.
               </p>
          </div>
          <div class="dabanner_actions">
               <a href="#" id="daBanner" role="button" draggable="false" class="button button button-apprentice">Continue</a>
               <a class="dabanner__link" href="#">No, i'm happy to see what you have</a>
          </div>
     </div>
</div>
