{% from "../button/macro.njk" import dasButton %}

<div class="dabanner version-1 version-2-DA">
     <div class="dabanner__content">
          <div class="dabanner__text">
               <h4 class="heading-xs">WHERE ARE YOU BASED?</h4>
               <p>
                    If you're interested in apprenticeships in
                    <a href="https://www.apprenticeships.scot/" rel="external" target="_blank" class="external"><span class="country scotland"></span> Scotland</a>,
                    <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" rel="external" target="_blank" class="external"><span class="country n-ireland"></span> Northern Ireland</a>
                    or
                    <a href="https://gov.wales/apprenticeships-skills-and-training" rel="external" target="_blank" class="external"><span class="country wales"></span> Wales</a>,
                    choose from the options below to see information that's tailored to you.
               </p>
          </div>
          <div class="dabanner_actions">
               <a href="/campaign/countries-page-V2" id="daBanner" role="button" draggable="false" class="button button button-apprentice">View options</a>
               <a class="dabanner__link" href="#">No, I'm happy to stay on this website</a>
          </div>
     </div>
</div>
