<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>FIRE IT UP! - 4 - Hire an apprentice</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="3" data-section-id="A">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include '../components/header/_header-employer.html'%}
          {% include '../components/hero-heading/discover/_dis-1-hero-heading.html' %}

          <main id="main-content" class="main-content page-app-4 employer">

               <div id="text-container-employer" class="grid-row">
                    <div class="grid-column-two-thirds">

                         <div class="page">

                              <!--<a id="#<what-apprentice>"></a>-->
                              <h2 class="heading-m no-top-margin" id="heading1">Which apprenticeship is right for my organisation?</h2>

                              <p>
                                   When you're looking for an apprenticeship, make sure you:
                              </p>

                              <ul class="list list--bullet list--bullet-employer">
                                   <li>select training that delivers the skills your organisation needs</li>
                                   <li>do not accept training because it's the only apprenticeship available</li>
                                   <li>are in contact with the training provider and are both involved with the training and development of the apprentice</li>
                              </ul>

                              <p>
                                   Apprenticeships are being developed all the time, so keep a lookout for new apprenticeships that have been added.
                              </p>

                              <h2 class="heading-m" id="heading2">Types of apprenticeship</h2>

                              <p>
                                   Apprentices must work towards an approved apprenticeship standard or framework. Their training must last at least 1 year.
                              </p>

                              <blockquote class="">
                                   <div class="content-wrapper">
                                        <h2>
                                             <div class="quote start"></div>
                                             My apprenticeship will give me the best stepping stone to become a highly trained firefighter, with
                                             regular assessments and development days
                                             <div class="quote finish"></div>
                                        </h2>
                                        <div class="cite">
                                        Claire Lester
                                             <span class="cite-detail">
                                                  Staffordshire Fire an Rescue
                                             </span>
                                        </div>
                                   </div>
                              </blockquote>

                              <h3 class="heading-s" id="heading3">Apprenticeship standards</h3>

                              <p>
                                   An apprenticeship standard contains a list of the skills, knowledge and behaviours an apprentice will need to
                                   have learned by the end of their apprenticeship. Standards are developed by employers and industry experts to
                                   be occupation focused, which means the learning happens throughout the apprenticeship. There’s an assessment at
                                   the end to prove the apprentice can carry out all aspects of the job, so they’ll be ready to make valuable
                                   contributions.
                              </p>

                              <p>
                                   There’s a huge variety of apprenticeship standards to choose from - and if there’s a specific standard you’re
                                   looking for that isn’t currently available, you can
                                   <a href="#" rel="external" target="_blank" class="external">join a ‘trailblazer’ group</a> to develop it.
                              </p>

                              <h3 class="heading-s" id="heading4">Apprenticeship frameworks</h3>

                              <p>
                                   Apprenticeship frameworks are a series of work-related qualifications. There is no end-point assessment for this type of
                                   apprenticeship.
                              </p>

                              <p>
                                   All apprenticeship frameworks will be withdrawn by 2020. This will be a phased approach as employers take on
                                   more apprentices using the new apprenticeship standards.
                              </p>

                              {% include '../components/discover/_discover-link-block.html'%}

                         </div>

                    </div>

                    <div class="grid-column-one-third">

                         <div class="sidebar sidebar--employer">
                              <div class="sidebar__hero">
                                   <div class="sparks top"></div>
                                   <span id="slideshow" class="sidebar__hero-image">
                                        <div class="slideImage">
                                             <img src="/dist/campaign/images/images/sector-pages/transport/649x995/transport-2.jpg" class="">
                                        </div>
                                        <div class="slideImage">
                                             <img src="/dist/campaign/images/images/sector-pages/creative/649x995/creative-2.jpg" class="">
                                        </div>
                                        <div class="slideImage">
                                             <img src="/dist/campaign/images/images/sector-pages/education/649x995/education-1.jpg" class="">
                                        </div>
                                        <div class="slideImage">
                                             <img src="/dist/campaign/images/images/sector-pages/protective-services/649x995/protective-services-3.jpg" class="">
                                        </div>
                                        <div class="slideImage">
                                             <img src="/dist/campaign/images/images/sector-pages/business/649x995/business-1.jpg" class="">
                                        </div>
                                   </span>
                                   <div class="sparks bottom"></div>
                              </div>

                              {% include '../components/sideBar/_phone-number.html'%}

                              {% include '../components/sideBar/_register-employer.html'%}

                              <div class="anchor-wrapper">
                                   <a href="#" id="back-to-top"><span></span>Back to the top</a>
                              </div>
                         </div>

                    </div>

               </div>

          </main>

          {% include '../components/footer/_footer-employer.html'%}

     </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
