<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">
                         <a href="/campaign/apprentice/1-what-is-an-apprenticeship">Apprentice</a>
                         <div class="sep">></div>
                         <a href="/campaign/apprentice/2B-find-an-apprenticeship">Apprenticeships: Your interests</a>
                    </span>

                    <h1 class="heading-xl hero-heading__heading">Apprenticeships: Your interests</h1>

               </div>
               <div class="text-wrapper">
                    <p>
                         A lot of employers advertise their apprentices on their own organisation's website. However, there are
                         a number of resources you can use to find apprenticeships. You can also find apprenticeships in
                         England on the National Apprenticeships Service website.
                    </p>
               </div>
          </div>
     </div>
</div>
