<div class="hero fat-hero no-side-nav">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/FAT/1-FAT-search">Search apprenticeships</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/4A-FAT-training-provider-results">Traing provider results</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Traing provider results</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         There are <strong>123</strong> training options for the <strong class="fat-apprenticeship-title">Apprenticeship title</strong>,
                         level 3 apprenticeship.
                    </p>
                    <p>
                         Results are ordered by distance from <strong class="fat-search-location">'CV32 7EE'</strong>.
                    </p>
               </div>
          </div>
     </div>
</div>
