<div class="hero">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/explore/index">Are apprenticeships right for you?</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">Are apprenticeships right for you?</h1>
               </div>

               <div class="text-wrapper">

                    <p class="lead-paragraph no-top-margin">
                         If you’re still deciding whether an apprenticeship will work for your organisation, this is the place to start.
                    </p>
                    <p>
                         The Apprenticeship Service has over 850 apprenticeships waiting for you to discover.
                    </p>
                    <p>
                         Simply take our quick explore tour and in less than 5 mins you could set
                         yourself along new career path, what are you waiting for?
                    </p>
               </div>

          </div>
     </div>
</div>
