<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/1-how-much-is-it-going-to-cost">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/employer/2-the-right-apprenticeship">The right apprenticeship</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">The right apprenticeship</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph no-top-margin">For employers looking to take on apprentices.</p>
                    <p>Use this search to:</p>
                    <ul>
                         <li>look for apprenticeship training by job role or keyword</li>
                         <li>find training providers who offer the apprenticeship training you choose</li>
                         <li>save a named training provider you want to use</li>
                    </ul>
               </div>

               {% include '../faa-fat/_fat-search-header.html' %}

               <!-- <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="100">Which apprenticeship is right for my business?</a></li>
                    <li><a href="#heading2" class="hero__link scroll" data-offset="100">I want to find an apprentice for my business</a></li>
                    <li><a href="#heading3" class="hero__link scroll" data-offset="100">Types of apprenticeships</a></li>
               </ul> -->
               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
