<div class="hero FAT-basket">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/1-how-much-is-it-going-to-cost">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/1-FAT-Search">Save your standard</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Save your apprenticeship and training provider</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Are you sure you wish to save this standard and carry on to gov.uk to create your gov.uk accout
                         to hire an apprentice?
                    </p>
                    <div class="cta-row">
                         <a id="save-this-standard" href="#" class="button button--shadow button--sparks">Yes, save this standard</a>
                         <a href="javascript:history.back()" class="lead-paragraph">Cancel</a>
                    </div>
               </div>
          </div>
          <div class="grid-column-one-half">
               <div class="gov-uk-image-wrapper">
                    <img class="gov-uk-image" src="/dist/campaign/images/fat-screen-shot.jpg">
               </div>
          </div>
     </div>
</div>
