<div class="hero">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/hub-employer">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/employer/intermediaries">Employer resources</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Employer resources</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph no-top-margin">
                         Discover a collection of handy resources for <strong>apprenticeships</strong>,
                         <strong>traineeships</strong> and <strong>T levels</strong>,
                         all in one place. Explore the topics below to find the information you need, or share key
                         links and documents with employers to help them learn more.
                    </p>
               </div>

               <!-- <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="100">The benefits to your business</a></li>
               </ul> -->
               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
