<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/1-how-much-is-it-going-to-cost">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/employer/7-FAT">Start your apprentices journey now!</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Find the right apprenticeship for your business!</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">Search apprenticeships by your industry...</p>
               </div>

               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
