<div class="hero FAT-basket">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/1-how-much-is-it-going-to-cost">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/1-FAT-Search">Save your standard</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Save your apprenticeship and training provider</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Are you sure you wish to save this standard and carry on to gov.uk to create your gov.uk accout
                         to hire an apprentice?
                    </p>
                    <div class="cta-row">

                    <form method="post" action="https://esfa-shopping-basket.herokuapp.com/favourites-V3/V3/index">
                        <input type="hidden" value="" id="standard-title" id="standard-title" />
                        <input type="hidden" value="" id="provider-name" id="provider-name" />
                        <input type="submit" class="button button--shadow button--sparks" value="Yes, save this standard" id="save-this-standard" />
                        <p class="lead-paragraph secondary-cta"><a href="javascript:history.back()" class="">Cancel</a></p>
                    </form>

                    </div>
               </div>
          </div>
          <div class="grid-column-one-half">
               <div class="gov-uk-image-wrapper">
                    <img class="gov-uk-image" src="/dist/campaign/images/fat-screen-shot.jpg">
               </div>
          </div>
     </div>
</div>
