<div class="hero fat-hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/2-the-right-apprenticeship">Search apprenticeships</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/2A-FAT-search-results">Search results</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading search-results-title">Your results for <span class="fat-apprenticeship-title"></span></h1>
               </div>

          </div>
     </div>
</div>
