<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--parents">
                         <a href="/campaign/parents/1-their-career">HELP SHAPE THEIR CAREER</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">HELP SHAPE THEIR CAREER</h1>
               </div>

               <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="150">Apprenticeships, but not as you know them</a></li>
                    <li><a href="#heading2" class="hero__link scroll" data-offset="150">They’ll earn a salary – and their training will be paid for</a></li>
                    <li><a href="#heading3" class="hero__link scroll" data-offset="150">They’ll gain experience in a relevant role, plus career-boosting skills</a></li>
                    <li><a href="#heading4" class="hero__link scroll" data-offset="150">Levels of apprenticeships</a></li>
                    <li><a href="#heading5" class="hero__link scroll" data-offset="150">Next steps</a></li>
               </ul>

               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
