<div class="hero FAT-basket FAT-save-standard">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Which skills do you want your apprentice to develop?</h1>
               </div>
               <p class="intro-text no-bottom-margin">
                    This is the type of apprenticeship your apprentice could take, rather than your industry. For example,
                    if you’re looking for a digital apprentice in the health and science industry, select ‘digital’.
               </p>

               <div class="text-wrapper inspire-form">
                    <div class="form-group radios">

                         <!-- SECTION 1 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="agriculture" id="agriculture" name="skills">
                              <label class="label checkboxes__label" for="agriculture">
                                   Agriculture, environment and animal care
                                   <br><span>Land-based service engineering technician, Sports turf operative, Horticulture and Landscape Operative</span>
                              </label>
                         </div>
                         <!-- SECTION 1 - END -->

                         <!-- SECTION 2 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="business" id="business" name="skills">
                              <label class="label checkboxes__label" for="business">
                                   Business and administration
                                   <br><span>HR Consultant / Partner, Business Administrator, Public service operational delivery officer</span>
                              </label>
                         </div>
                         <!-- SECTION 2 - END -->

                         <!-- SECTION 3 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="care" id="care" name="skills">
                              <label class="label checkboxes__label" for="care">
                                   Care services
                                   <br><span>Adult care worker, Social worker</span>
                              </label>
                         </div>
                         <!-- SECTION 3 - END -->

                         <!-- SECTION 4 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="catering" id="catering" name="skills">
                              <label class="label checkboxes__label" for="catering">
                                   Catering and hospitality
                                   <br><span>Chef De Partie, Advanced butcher, Hospitality supervisor</span>
                              </label>
                         </div>
                         <!-- SECTION 4 - END -->

                         <!-- SECTION 5 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="construction" id="construction" name="skills">
                              <label class="label checkboxes__label" for="construction">
                                   Construction
                                   <br><span>Building Services Design Technician, Building Services Engineering Ductwork Craftsperson, Digital Engineering Technician</span>
                              </label>
                         </div>
                         <!-- SECTION 5 - END -->

                         <!-- SECTION 6 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="creative" id="creative" name="skills">
                              <label class="label checkboxes__label" for="creative">
                                   Creative and design
                                   <br><span>Broadcast and communications technical operator, Cultural learning and participation officer, Jewellery Maker</span>
                              </label>
                         </div>
                         <!-- SECTION 6 - END -->

                         <!-- SECTION 7 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="digital" id="digital" name="skills">
                              <label class="label checkboxes__label" for="digital">
                                   Digital
                                   <br><span>IS Business Analyst, Software Development Technician, Cybersecurity technologist</span>
                              </label>
                         </div>
                         <!-- SECTION 7 - END -->

                         <!-- SECTION 8 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="education" id="education" name="skills">
                              <label class="label checkboxes__label" for="education">
                                   Education and childcare
                                   <br><span>Teacher, Children, Young People & Families Manager, Learning mentor</span>
                              </label>
                         </div>
                         <!-- SECTION 8 - END -->

                         <!-- SECTION 9 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="engineering" id="engineering" name="skills">
                              <label class="label checkboxes__label" for="engineering">
                                   Engineering and manufacturing
                                   <br><span>Electrical Power Networks Engineer, Metal casting, foundry & patternmaking technician, Brewer</span>
                              </label>
                         </div>
                         <!-- SECTION 9 - END -->

                         <!-- SECTION 10 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="beauty" id="beauty" name="skills">
                              <label class="label checkboxes__label" for="beauty">
                                   Hair and beauty
                                   <br><span>Hair Professional, Beauty therapist, Nail services technician</span>
                              </label>
                         </div>
                         <!-- SECTION 10 - END -->

                         <!-- SECTION 11 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="health" id="health" name="skills">
                              <label class="label checkboxes__label" for="health">
                                   Health and science
                                   <br><span>Dental technician, Laboratory scientist, Food technologist</span>
                              </label>
                         </div>
                         <!-- SECTION 11 - END -->

                         <!-- SECTION 12 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="legal" id="legal" name="skills">
                              <label class="label checkboxes__label" for="legal">
                                   Legal, finance and accounting
                                   <br><span>Professional accounting / taxation technician, Credit controller / collector, Mortgage adviser</span>
                              </label>
                         </div>
                         <!-- SECTION 12 - END -->

                         <!-- SECTION 13 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="protective" id="protective" name="skills">
                              <label class="label checkboxes__label" for="protective">
                                   Protective services
                                   <br><span>HM Forces serviceperson (public services), Business Fire Safety Advisor, Custody & Detention Officer</span>
                              </label>
                         </div>
                         <!-- SECTION 13 - END -->

                         <!-- SECTION 14 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="sales" id="sales" name="skills">
                              <label class="label checkboxes__label" for="sales">
                                   Sales, marketing and procurement
                                   <br><span>Travel consultant, Fishmonger, Customer service practitioner</span>
                              </label>
                         </div>
                         <!-- SECTION 14 - END -->

                         <!-- SECTION 15 - START -->
                         <div class="checkboxes__item">
                              <input class="input checkboxes__input" type="checkbox" value="transport" id="transport" name="skills">
                              <label class="label checkboxes__label" for="transport">
                                   Transport and logistics
                                   <br><span>Rail Infrastructure Operator, Passenger transport driver - bus, coach and tram, Cabin Crew</span>
                              </label>
                         </div>
                         <!-- SECTION 15 - END -->

                    </div>
               </div>

          </div>
          <div class="grid-column-one-third">
               <ul class="counter">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
               </ul>
          </div>
     </div>
</div>
