<div class="hero fat-hero">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">What skills do you want to boost?</h1>
               </div>
               <p class="intro-text no-bottom-margin">Select all the skills you want to develop in your organisation.</p>
          </div>
          <div class="grid-column-one-third">
               <ul class="counter">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
               </ul>
          </div>
     </div>
</div>
