<div class="hero fat-hero">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Do you want to hire someone new?</h1>
               </div>
               <p class="intro-text no-bottom-margin">
                    Apprenticeships are ideal for bringing in new staff, but they can also be used to upskill or retrain
                    your current workforce. Let us know which option suits your needs.
               </p>
          </div>
          <div class="grid-column-one-third">
               <ul class="counter">
                    <li></li>
                    <li></li>
                    <li class="active"></li>
                    <li></li>
               </ul>
          </div>
     </div>
</div>
