<div class="hero FAT-basket FAT-save-standard">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">How big is your organisation’s annual pay bill?</h1>
               </div>
               <p class="intro-text no-bottom-margin">
                    This affects how apprenticeship funding works, so your answer will help us to give you more specific guidance.
               </p>

               <div class="text-wrapper inspire-form">
                    <div class="form-group radios">

                         <!-- SECTION 1 - START -->
                         <div class="radios__item">
                              <input class="input radios__input" type="radio" value="non-levy-payer" id="non-levy-payer" name="people">
                              <label class="label radios__label" for="non-levy-payer">
                                   Less than £3 million
                              </label>
                         </div>
                         <!-- SECTION 1 - END -->

                         <!-- SECTION 2 - START -->
                         <div class="radios__item">
                              <input class="input radios__input" type="radio" value="levy-payer" id="levy-payer" name="people">
                              <label class="label radios__label" for="levy-payer">
                                   More than £3 million
                              </label>
                         </div>
                         <!-- SECTION 2 - END -->

                         <!-- SECTION 3 - START -->
                         <div class="radios__item">
                              <input class="input radios__input" type="radio" value="levy-not-sure" id="levy-not-sure" name="people">
                              <label class="label radios__label" for="levy-not-sure">
                                   I’m not sure
                              </label>
                         </div>
                         <!-- SECTION 3 - END -->

                    </div>
               </div>

               <!-- /////////////////////////////// FOOTER CONTENT - START /////////////////////////////// -->
               <div class="explore-questions">
                    <a href="/campaign/explore/3-question.html" class="button" id="inspire-question-2">Continue</a>
                    <a href="javascript:history.back()" class="back">&lt; &nbsp; Back</a>
               </div>
               <!-- /////////////////////////////// FOOTER CONTENT - END /////////////////////////////// -->

          </div>
          <div class="grid-column-one-third">
               <ul class="counter">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
               </ul>
          </div>
     </div>
</div>
