<div class="hero">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/hub-employer">Employer</a>
                         <div class="sep">></div>
                         Are apprenticeships right for you?
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">Are apprenticeships right for you?</h1>
               </div>

               <div class="text-wrapper">

                    <p class="lead-paragraph no-top-margin">
                         If you’re wondering whether an apprenticeship will work for your organisation, this is the place to start.
                    </p>
                    <!-- <p>
                         We’ll ask you five simple questions to find out what you’re looking for. Based on your answers, you’ll
                         receive specific, tailored apprenticeship guidance. This could include:
                    </p>
                    <ul class="">
                         <li>case studies and vdeos for apprenticeships in your industry</li>
                         <li>apprenticeship standards that suit your needs</li>
                         <li>xxx?</li>
                    </ul>
                    <p>
                         It takes about <strong>5 minutes</strong> to complete these questions.
                    </p> -->
               </div>

          </div>
     </div>
</div>
