<div class="hero content-hero">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Apprenticeship advice that’s tailored to you</h1>
               </div>
               <p class="lead-paragraph">How could apprenticeships work for you?</p>

               <p>
                    Based on your answers, we’ve picked out handy tips, real stories and interesting statistics to
                    help you plan your next step. There’s plenty to delve into, from real-life case studies to
                    apprenticeships designed to boost the skills you need. Read on for a taste of how apprenticeships
                    could work in your organisation.
               </p>

               <div class="main-ctas">
                    <a href="#section-1">
                         <span class="number">01</span>
                         <div class="text-wrapper">
                              <!-- <span class="border"></span> -->
                              Real stories
                         </div>
                    </a>
                    <a href="#section-2">
                         <span class="number">02</span>
                         <div class="text-wrapper">
                              <!-- <span class="border"></span> -->
                              Your potential apprenticeships
                         </div>
                    </a>
                    <a href="#section-3">
                         <span class="number">03</span>
                         <div class="text-wrapper">
                              <!-- <span class="border"></span> -->
                              Useful stats for you
                         </div>
                    </a>
                    <a href="#section-4">
                         <span class="number">04</span>
                         <div class="text-wrapper">
                              <!-- <span class="border"></span> -->
                              Your apprenticeship costs
                         </div>
                    </a>
                    <a href="#section-5">
                         <span class="number">05</span>
                         <div class="text-wrapper">
                              <!-- <span class="border"></span> -->
                              What next?
                         </div>
                    </a>
               </div>
          </div>
     </div>
</div>
