<div class="hero fat-hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">Which skills do you want your apprentice to develop?</h1>
               </div>
               <p class="intro-text no-bottom-margin">
                    This is the type of apprenticeship your apprentice could take, rather than your industry. For example,
                    if you’re looking for a digital apprentice in the health and science industry, select ‘digital’.
               </p>
          </div>
          <div class="grid-column-one-half">
               <ul class="counter">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
               </ul>
          </div>
     </div>
</div>
