<div class="hero content-hero">
     <div class="grid-row">
          <div class="grid-column-full">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">How much do you know about apprenticeships?</h1>
               </div>
               <p class="intro-text no-bottom-margin">Let us know how confident you are about apprenticeships so we can give you the right support.</p>

               <div class="main-ctas">
                    <a href="#section-1"><div class="text-wrapper">Real stories</div></a>
                    <a href="#section-2"><div class="text-wrapper">Your potential apprenticeships</div></a>
                    <a href="#section-3"><div class="text-wrapper">Useful stats for you</div></a>
                    <a href="#section-4"><div class="text-wrapper">Your apprenticeship costs</div></a>
                    <a href="#section-5"><div class="text-wrapper">What next?</div></a>
               </div>
          </div>
     </div>
</div>
