<div class="hero fat-hero postcode-search">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&lt; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Finally, where is your organisation based?</h1>
               </div>

               <form action="/campaign/explore/7-content" method="get" id="">

                    <p class="lead-paragraph">All we need is your post code...</p>

                    <div class="form-group">
                         <label class="label visually-hidden" for="postCode">
                              Post code
                         </label>
                         <input id="postCode-employer" class="input" type="text" placeholder="Post code" autocomplete="given-name" name="postCode" value="">
                         <button class="button button-employer" name="exploreSubmit" id="btn-favourites">Continue</button>
                    </div>

               </form>

          </div>
          <div class="grid-column-one-third">
               <ul class="counter">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="active"></li>
               </ul>
          </div>
     </div>
</div>
