<div id="error-message-panel">
     <span class="cross"></span>
     <div class="content">
          <h1 class="heading-m">Update your shortlist</h1>
          <p>
               The <a href="#apprenticeship" class="error-anchor-link scroll" data-offset="150">Baker</a> apprenticeship and a training provider,
               <a href="#training-provider" class="error-anchor-link scroll" data-offset="150">Ginger nut training</a>, are no longer available.
               You can remove them from your shortlist below.
          </p>
     </div>
</div>
