<!-- ======================= TABBED CONTENT - START =======================-->
<!-- QUOTE ONE - START -->
<section id="quoteOne" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">CONFECTIONERY APPRENTICESHIP AT NESTLE</h1>
                    <h2 class="heading-xs">THE PERFECT OPPORTUNITY</h2>
                    <p>
                         The apprenticeship I’m currently on at Nestle just sounded like one of the
                         best opportunities I had come across. I had no clue what I wanted to do for a
                         job, and I knew further education wasn't for me. As soon as I saw the advert
                         for my apprenticeship, I just knew it was perfect.
                    </p>
                    <h2 class="heading-xs">THE BEST OF BOTH WORLDS</h2>
                    <p>
                         I'd be working with chocolate and learning skills created hundreds of years ago –
                         with one of the biggest food and drink companies in the world. When I saw that
                         I’d also be working to get a degree, I was over the moon! It seemed to be the
                         best of both worlds – learning while also earning a wage.
                    </p>
                    <h2 class="heading-xs">LOOKING AHEAD</h2>
                    <p>
                         I am so thankful that I’ve got a degree – but not just that on its own. I
                         also have three years of invaluable hands-on experience working at Nestle.
                         This experience, and the amount I now know about the confectionery industry,
                         gives me a huge advantage for future career options.
                    </p>
                    <p><br></p>
                    <p>
                         <a href="#quoteTwoButton" class="links" onclick="openQuote(event,'quoteTwo')">Digital Marketing ></a>
                    </p>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I am so thankful that I’ve got a degree – but not just that on its own.
                              I also have three years of invaluable hands-on experience.
                         </h2>
                         <div class="cite">
                              Katie Lloyd, 22
                              <span class="cite-detail-job-title">
                                   Confectionery Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>NESTLE</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE ONE - END -->

<!-- QUOTE TWO - START -->
<section id="quoteTwo" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I'm gaining two qualifications and I will have two years’ worth of work
                              experience in the charity sector – working for a hugely influential charity.
                         </h2>
                         <div class="cite">
                              Ren Shilcock, 20
                              <span class="cite-detail-job-title">
                                   Digital Marketing Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>RSPCA</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">DIGITAL MARKETING APPRENTICESHIP AT THE RSPCA</h1>
                    <h2 class="heading-xs">AN UNMISSABLE OPPORTUNITY</h2>
                    <p>
                         When the opportunity came up for the job and apprenticeship in one, I couldn't say
                         no. I work with a lovely team (both human and dog!) and I love that I get to learn
                         and work on projects that I can have an influence over. I still can't get over the
                         fact that I work for the RSPCA, the largest animal welfare charity in the UK!
                    </p>
                    <h2 class="heading-xs">LEARNING FROM INDUSTRY LEADERS</h2>
                    <p>
                         Learning whilst working, and getting to apply what I've learnt in real-life
                         scenarios, is a far greater experience to me than going to lectures and not
                         necessarily getting the appropriate work experience. I learn by doing, rather
                         than just being told about things.
                    </p>
                    <h2 class="heading-xs">A BRIGHT FUTURE</h2>
                    <p>
                         This could lead me down an assortment of paths once my apprenticeship is finished.
                         I'm gaining two nationally recognised qualifications in digital marketing, and I
                         will have two years’ worth of work experience in the charity sector – working for a
                         hugely influential charity.
                    </p>
                    <p><br></p>
                    <p>
                         <a href="#quoteThreeButton" class="links" onclick="openQuote(event,'quoteThree')">Physiotherapy ></a>
                    </p>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE TWO - END -->

<!-- QUOTE THREE - START -->
<section id="quoteThree" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">PHYSIOTHERAPY APPRENTICESHIP AT JAMES PAGET HOSPITAL</h1>
                    <h2 class="heading-xs">TAKING THE FIRST STEP</h2>
                    <p>
                         I saw the apprenticeship advertised on the NHS website, and it all started from there.
                         I always knew I wanted to help people, and after seeing the apprenticeshipwithin occupational
                         and physiotherapy, I decided to try it out. Even if it wasn't forme, I’d still gain valuable
                         experience and a qualification.
                    </p>
                    <h2 class="heading-xs">THE START OF A REWARDING CAREER</h2>
                    <p>
                         I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future
                         career path. Luckily for me, this was the case – I’m now a senior physiotherapist! I’m currently
                         working within paediatrics. You get to know the children and the families and it’s very rewarding.
                    </p>
                    <h2 class="heading-xs">INVALUABLE EXPERIENCE IN THE NHS</h2>
                    <p>
                         My apprenticeship led to a job as a band 2 therapy assistant. From there, I've been able to complete
                         an access course and even achieve a first-class honours degree in physiotherapy. My experience
                         working in the NHS as an apprentice helped immensely.
                    </p>
                    <p><br></p>
                    <p>
                         <a href="#quoteFourButton" class="links" onclick="openQuote(event,'quoteFour')">Chef De Parti ></a>
                    </p>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future
                              career path. I’m now a senior physiotherapist!
                         </h2>
                         <div class="cite">
                              Lily Francis, 25
                              <span class="cite-detail-job-title">
                                   Physiotherapy Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>James Paget Hospital</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE THREE - END -->

<!-- QUOTE FOUR - START -->
<section id="quoteFour" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              As a 40-year-old and a mum of two, everyone thought I was crazy to try and start a new career!
                         </h2>
                         <div class="cite">
                              Claudine McCarthy, 42
                              <span class="cite-detail-job-title">
                                   CDP Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Fullers</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">CHEF DE PARTIAT FULLERS</h1>
                    <h2 class="heading-xs">A LIFELONG DREAM</h2>
                    <p>
                         I had always dreamed of being a chef – but I put my dream on hold while I raised my children.
                         When I started working as a CDP at a Fullers pub, my manager told me about the apprenticeship.
                         Looking at the range of different apprenticeships on offer, I was amazed at what’s available.
                    </p>
                    <h2 class="heading-xs">ENDLESS OPPORTUNITIES</h2>
                    <p>
                         When I joined Fullers, the opportunities were endless. The thing I enjoy most about the
                         apprenticeship has got to be learning new things every day. I’m now progressing quickly –
                         and hoping to become a head chef within three years!
                    </p>
                    <h2 class="heading-xs">BALANCING HOME LIFE WITH AMBITION</h2>
                    <p>
                         As a 40-year-old and a mum of two, everyone thought I was crazy to try and starta new career!
                         Now I know that my family and friends are all very proud of me.
                    </p>
                    <p><br></p>
                    <p>
                         <a href="#quoteFiveButton" class="links" onclick="openQuote(event,'quoteFive')">Chef De Parti ></a>
                    </p>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE FOUR - END -->

<div id="quoteFive" class="content">
     <h3>Operational Firefighter Apprenticeship</h3>
     <p>PHP is one of multiple backend languages, meaning it is for server-side scripting.</p>
</div>

<div id="quoteSix" class="content">
     <h3>HR Management Apprenticeship</h3>
     <p>PHP is one of multiple backend languages, meaning it is for server-side scripting.</p>
</div>

<div id="quoteSeven" class="content">
     <h3>Laboratory Science Apprenticeship</h3>
     <p>PHP is one of multiple backend languages, meaning it is for server-side scripting.</p>
</div>

<div id="quoteEight" class="content">
     <h3>Chartered Legal Executive Apprenticeship</h3>
     <p>PHP is one of multiple backend languages, meaning it is for server-side scripting.</p>
</div>

<div id="quoteNine" class="content">
     <h3>TV, Digital and Media Apprenticeship</h3>
     <p>PHP is one of multiple backend languages, meaning it is for server-side scripting.</p>
</div>

<div id="quoteTen" class="content">
     <h3>Post-graduate Teaching Apprenticeship</h3>
     <p>PHP is one of multiple backend languages, meaning it is for server-side scripting.</p>
</div>


<!-- ======================= TABBED CONTENT - END =======================-->
