<!-- ======================= TABBED CONTENT - START =======================-->
<!-- QUOTE ONE - START -->
<section id="quoteOne" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">CONFECTIONERY APPRENTICESHIP AT NESTLE</h1>
                    <h2 class="heading-xs">THE PERFECT OPPORTUNITY</h2>
                    <p>
                         The apprenticeship I’m currently on at Nestle just sounded like one of the
                         best opportunities I had come across. I had no clue what I wanted to do for a
                         job, and I knew further education wasn't for me. As soon as I saw the advert
                         for my apprenticeship, I just knew it was perfect.
                    </p>
                    <h2 class="heading-xs">THE BEST OF BOTH WORLDS</h2>
                    <p>
                         I'd be working with chocolate and learning skills created hundreds of years ago –
                         with one of the biggest food and drink companies in the world. When I saw that
                         I’d also be working to get a degree, I was over the moon! It seemed to be the
                         best of both worlds – learning while also earning a wage.
                    </p>
                    <h2 class="heading-xs">LOOKING AHEAD</h2>
                    <p>
                         I am so thankful that I’ve got a degree – but not just that on its own. I
                         also have three years of invaluable hands-on experience working at Nestle.
                         This experience, and the amount I now know about the confectionery industry,
                         gives me a huge advantage for future career options.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <!-- <a href="#" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteTwo')">XXX</a> -->
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteTwoButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteTwo')">Digital Marketing</a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I am so thankful that I’ve got a degree – but not just that on its own.
                              I also have three years of invaluable hands-on experience.
                         </h2>
                         <div class="cite">
                              Katie Lloyd, 22
                              <span class="cite-detail-job-title">
                                   Confectionery Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>NESTLE</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE ONE - END -->

<!-- QUOTE TWO - START -->
<section id="quoteTwo" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I'm gaining two qualifications and I will have two years’ worth of work
                              experience in the charity sector – working for a hugely influential charity.
                         </h2>
                         <div class="cite">
                              Ren Shilcock, 20
                              <span class="cite-detail-job-title">
                                   Digital Marketing Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>RSPCA</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">DIGITAL MARKETING APPRENTICESHIP AT THE RSPCA</h1>
                    <h2 class="heading-xs">AN UNMISSABLE OPPORTUNITY</h2>
                    <p>
                         When the opportunity came up for the job and apprenticeship in one, I couldn't say
                         no. I work with a lovely team (both human and dog!) and I love that I get to learn
                         and work on projects that I can have an influence over. I still can't get over the
                         fact that I work for the RSPCA, the largest animal welfare charity in the UK!
                    </p>
                    <h2 class="heading-xs">LEARNING FROM INDUSTRY LEADERS</h2>
                    <p>
                         Learning whilst working, and getting to apply what I've learnt in real-life
                         scenarios, is a far greater experience to me than going to lectures and not
                         necessarily getting the appropriate work experience. I learn by doing, rather
                         than just being told about things.
                    </p>
                    <h2 class="heading-xs">A BRIGHT FUTURE</h2>
                    <p>
                         This could lead me down an assortment of paths once my apprenticeship is finished.
                         I'm gaining two nationally recognised qualifications in digital marketing, and I
                         will have two years’ worth of work experience in the charity sector – working for a
                         hugely influential charity.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteOneButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteOne')">Confectionery</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteThreeButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteThree')">Physiotherapy</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE TWO - END -->

<!-- QUOTE THREE - START -->
<section id="quoteThree" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">PHYSIOTHERAPY APPRENTICESHIP AT JAMES PAGET HOSPITAL</h1>
                    <h2 class="heading-xs">TAKING THE FIRST STEP</h2>
                    <p>
                         I saw the apprenticeship advertised on the NHS website, and it all started from there.
                         I always knew I wanted to help people, and after seeing the apprenticeshipwithin occupational
                         and physiotherapy, I decided to try it out. Even if it wasn't forme, I’d still gain valuable
                         experience and a qualification.
                    </p>
                    <h2 class="heading-xs">THE START OF A REWARDING CAREER</h2>
                    <p>
                         I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future
                         career path. Luckily for me, this was the case – I’m now a senior physiotherapist! I’m currently
                         working within paediatrics. You get to know the children and the families and it’s very rewarding.
                    </p>
                    <h2 class="heading-xs">INVALUABLE EXPERIENCE IN THE NHS</h2>
                    <p>
                         My apprenticeship led to a job as a band 2 therapy assistant. From there, I've been able to complete
                         an access course and even achieve a first-class honours degree in physiotherapy. My experience
                         working in the NHS as an apprentice helped immensely.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteTwoButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteTwo')">Digital Marketing</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteFourButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteFour')">CHEF DE PARTI</a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future
                              career path. I’m now a senior physiotherapist!
                         </h2>
                         <div class="cite">
                              Lily Francis, 25
                              <span class="cite-detail-job-title">
                                   Physiotherapy Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>James Paget Hospital</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE THREE - END -->

<!-- QUOTE FOUR - START -->
<section id="quoteFour" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              As a 40-year-old and a mum of two, everyone thought I was crazy to try and start a new career!
                         </h2>
                         <div class="cite">
                              Claudine McCarthy, 42
                              <span class="cite-detail-job-title">
                                   CDP Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Fullers</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">CHEF DE PARTIAT FULLERS</h1>
                    <h2 class="heading-xs">A LIFELONG DREAM</h2>
                    <p>
                         I had always dreamed of being a chef – but I put my dream on hold while I raised my children.
                         When I started working as a CDP at a Fullers pub, my manager told me about the apprenticeship.
                         Looking at the range of different apprenticeships on offer, I was amazed at what’s available.
                    </p>
                    <h2 class="heading-xs">ENDLESS OPPORTUNITIES</h2>
                    <p>
                         When I joined Fullers, the opportunities were endless. The thing I enjoy most about the
                         apprenticeship has got to be learning new things every day. I’m now progressing quickly –
                         and hoping to become a head chef within three years!
                    </p>
                    <h2 class="heading-xs">BALANCING HOME LIFE WITH AMBITION</h2>
                    <p>
                         As a 40-year-old and a mum of two, everyone thought I was crazy to try and starta new career!
                         Now I know that my family and friends are all very proud of me.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteThreeButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteThree')">Physiotherapy</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteFiveButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteFive')">Operational Firefighter</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE FOUR - END -->

<!-- QUOTE FIVE - START -->
<section id="quoteFive" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">OPERATIONAL FIREFIGHTER AT STAFFORDSHIRE FIRE AND RESCUE</h1>
                    <h2 class="heading-xs">GETTING STARTED</h2>
                    <p>
                         I had applied for another brigade prior to obtaining my position in Staffordshire, so I had spoken to
                         local firefighters and taken part in several have-a-go days for different brigades. I had been very
                         disappointed on not getting through the process before, so I was very keen to find another one.
                    </p>
                    <h2 class="heading-xs">FINDING THE RIGHT APPRENTICESHIP</h2>
                    <p>
                         I came across Staffordshire Fire and Rescue Service online. It was an apprenticeship and would still
                         guarantee full-time service after the training, which was refreshing and something I became very
                         interested in. I researched the brigade and was very keen to adopt the morals they stand by.
                    </p>
                    <h2 class="heading-xs">A STEPPING-STONE TO A PROFESSIONAL CAREER</h2>
                    <p>
                         The thing I enjoy most about the apprenticeship is the variety of work every day. With regular
                         assessments and development days, my apprenticeship will give methe best stepping-stone to become
                         a highly trained firefighter.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteFourButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteFour')">CHEF DE PARTI</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteSixButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteSix')">HR MANAGEMENT</a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              My apprenticeship will give me the best stepping-stone to become a highly trained firefighter.
                         </h2>
                         <div class="cite">
                              Claire Lester, 25
                              <span class="cite-detail-job-title">
                                   Operational Firefighter Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Staffordshire Fire and Rescue</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE FIVE - END -->

<!-- QUOTE SIX - START -->
<section id="quoteSix" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Friends and family have seen me transform – not only as a professional, but intoa confident and passionate individual
                         </h2>
                         <div class="cite">
                              Jordan Nicholas, 20
                              <span class="cite-detail-job-title">
                                   HR Management Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Transport for London</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">HR MANAGEMENT AT TRANSPORT FOR LONDON</h1>
                    <h2 class="heading-xs">FINDING THE IDEAL APPRENTICESHIP</h2>
                    <p>
                         Attending career fairs and seeking mentors in the industries I was interested in provided the best possible
                         insight, as they could describe what a typical working day looked like. I found that the TFL HR
                         apprenticeship provided me with endless opportunities to grow as a professional, which motivated me to apply.
                    </p>
                    <h2 class="heading-xs">WORK THAT MAKES A DIFFERENCE</h2>
                    <p>
                         The biggest factor in my decision to do an apprenticeship? Impact! It provided me with a platform to do
                         work that made a difference, regardless of my age or years of experience. I take the work I do very seriously,
                         and it’s essential that I’mimproving on how things were done in the past.
                    </p>
                    <h2 class="heading-xs">A WEALTH OF BENEFITS</h2>
                    <p>
                         The benefit my apprenticeship has had, and will have, is difficult to put into words. It gave me the
                         qualification I needed to climb the career ladder, and a breadth of experience I couldn’t have imagined
                         achieving in two years. Friends and family have seen me transform – not only as a professional, but into
                         a confident and passionate individual who truly loves the work I do.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteFiveButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteFive')">OPERATIONAL FIREFIGHTER</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteSevenButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteSeven')">LABORATORY SCIENTIST</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE SIX - END -->

<!-- QUOTE SEVEN - START -->
<section id="quoteSeven" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">LABORATORY SCIENTIST AT GLAXOSMITHKLINE</h1>
                    <h2 class="heading-xs">CHOOSING A CAREER PATH</h2>
                    <p>
                         I've always known that a career within the science field was for me. During my last year of A-levels,
                         I began to look for science-based degree apprenticeships. I was successful with my application to GSK’s
                         laboratory apprenticeship scheme and I held five offers for universities to study biological science.
                    </p>
                    <h2 class="heading-xs">LEARNING BY ‘DOING’</h2>
                    <p>
                         Taking the apprenticeship route was a no-brainer for me, as it would provide me with hands-on
                         experience, a fully funded degree in my chosen field of Bioscienceand a competitive salary. I've always
                         learnt better with a ‘doing’ approach, so going into a laboratory and conducting experiments was a fantastic
                         way to gain experience.
                    </p>
                    <h2 class="heading-xs">LOOKING AHEAD</h2>
                    <p>
                         My apprenticeship has already opened up a huge amount of career options. By the end of my apprenticeship I
                         will have a university degree, as well as five yearsof industrial experience, making me very employable
                         compared to a graduate who has taken a university route.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteSixButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteSix')">HR MANAGEMENT</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteEightButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteEight')">Chartered Legal Executive</a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Taking the apprenticeship route was a no-brainer for me, as it would provide mewith hands-on experience, a fully funded degree and a competitive salary
                         </h2>
                         <div class="cite">
                              Hajra Bibi, 23
                              <span class="cite-detail-job-title">
                                   Laboratory Science Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>GlaxoSmithKline</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE SEVEN - END -->

<!-- QUOTE EIGHT - START -->
<section id="quoteEight" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              This route will provide me with more career options because, during my apprenticeship, I am able to gain hands-on experience.
                         </h2>
                         <div class="cite">
                              Florence Lungu, 21
                              <span class="cite-detail-job-title">
                                   CILEx Chartered Legal Executive Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Womble Bond Dickinson</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">CILEX CHARTERED LEGAL EXECUTIVE AT WOMBLE BOND DICKINSON</h1>
                    <h2 class="heading-xs">KICK-STARTING A CAREER</h2>
                    <p>
                         At the time I completed my A-levels, I felt (and still believe) that an apprenticeship is an excellent way of
                         gaining valuable hands-on experience for my chosen career path. It’s a great way to kick off my career in
                         the legal sector.
                    </p>
                    <h2 class="heading-xs">BALANCING LEARNING WITH HANDS-ON EXPERIENCE</h2>
                    <p>
                         An apprenticeship was the perfect choice for me because not only was I continuing with my academic development, but
                         the apprenticeship would also present me with the opportunity to gain valuable experience working in the legal
                         sector, as well as financial benefits.
                    </p>
                    <h2 class="heading-xs">A COMPETITIVE EDGE</h2>
                    <p>
                         The legal sector, like a lot of other sectors, is very competitive. This route will provide me with more
                         career options because, during my apprenticeship, I am able to gain hands-on experience. I learn something
                         new every day and get to work with a range of people with different skillsets.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteSevenButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteSeven')">LABORATORY SCIENTIST</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteNineButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteNine')">TV, Digital and Media</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE EIGHT - END -->

<!-- QUOTE NINE - START -->
<section id="quoteNine" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">TV, DIGITAL AND MEDIA AT BT</h1>
                    <h2 class="heading-xs">A DIVERSE RANGE OF OPPORTUNITIES</h2>
                    <p>
                         Although I wanted to continue learning, I didn’t feel that university was the right option for me. I began
                         researching apprenticeships, and it was amazing to see the varied range on offer. There's an apprenticeship
                         out there for anyone, whether you’re just beginning to learn or wanting to develop!
                    </p>
                    <h2 class="heading-xs">REAL-LIFE EXPERIENCE, ALONGSIDE A DEGREE</h2>
                    <p>
                         I wanted to get more hands-on experience outside of the classroom, but I also wanted to develop my learning,
                         so I liked the idea of a degree apprenticeship. Myfavourite subject at sixth form was ICT, so I knew I wanted
                         to work within technology, and began to look into the TV and Digital Media Apprenticeship.
                    </p>
                    <h2 class="heading-xs">DEVELOPING A HUGE VARIETY OF SKILLS</h2>
                    <p>
                         Not only will I qualify with a full bachelor’s degree, along with other courses and qualifications – I also
                         get the opportunity to develop on a day-to-day basis, rotating around the different departments every 6
                         months, while earning a salary. The apprenticeship has also helped with softer skills, such as building my confidence.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteEightButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteEight')">CHARTERED LEGAL EXECUTIVE</a>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteTenButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteTen')">TV, DIGITAL AND MEDIA</a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Not only will I qualify with a full bachelor’s degree – I also get the opportunity to develop on a day-to-day basis.
                         </h2>
                         <div class="cite">
                              Kate Self, 20
                              <span class="cite-detail-job-title">
                                   TV, Digital and Media Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>ApprenticeshipBT</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE NINE - END -->

<!-- QUOTE TEN - START -->
<section id="quoteTen" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              I love working in a great team, teaching the amazing children in our school.
                         </h2>
                         <div class="cite">
                              Natalie Rich, 40
                              <span class="cite-detail-job-title">
                                   Post-graduate Teaching Apprenticeship
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Bursledon Junior School</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">TEACHING AT BURSLEDON JUNIOR SCHOOL</h1>
                    <h2 class="heading-xs">A ROUTE INTO TEACHING</h2>
                    <p>
                         The headteacher at my school helped me to become an apprentice. I was working as a teaching assistant and
                         wanted to become a fully qualified teacher, soI went to an information evening on different routes into
                         teaching. As a salaried role, I thought this apprenticeship sounded like a great option for me.
                    </p>
                    <h2 class="heading-xs">A REWARDING EXPERIENCE</h2>
                    <p>
                         My friends and family have been very supportive of me while I’ve been completing the apprenticeship.
                         I’m enjoying the day-to-day role because I love working in a great team, teaching the amazing children
                         in our school.
                    </p>
                    <h2 class="heading-xs">LOOKING AHEAD</h2>
                    <p>
                         I think my apprenticeship will open up my future career options by enabling me to start my career in
                         teaching. I hope to be employed as an NQT in September.
                    </p>
                    <ul class="pagination pagination--apprentice">
                         <li class="pagination__list-item">
                              <a href="#quoteNineButton" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteNine')">CHARTERED LEGAL EXECUTIVE</a>
                         </li>
                         <li class="pagination__list-item">
                              <!-- <a href="#quoteTenButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteTen')">TV, DIGITAL AND MEDIA</a> -->
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE TEN - END -->
<!-- ======================= TABBED CONTENT - END =======================-->
