<!-- ======================= TABBED CONTENT - START =======================-->
<!-- QUOTE ONE - START -->
<section id="quoteOne" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">HAYS TRAVEL</h1>
                    <h2 class="heading-xs">A WEALTH OF SKILLS AND ENERGY</h2>
                    <p>
                         At Hays Travel, apprenticeships have supported our continued expansion and success.
                         Apprentices have taken the lead in our social media marketing and E Learning platform,
                         sharing their digital knowledge with colleagues. They bring a wealth of energy,
                         diversity and talent, which enables us to be innovative and proactive.
                    </p>
                    <h2 class="heading-xs">THE FIRST STEP TOWARDS A SUCCESSFUL CAREER</h2>
                    <p>
                         We deliver most of our apprenticeship training in-house – but for our specialised
                         apprenticeships, we collaborate with training providers, scheduling regular meetings
                         to review the development of our apprentices. Our programmes are designed to equip
                         apprentices with everything they need for a successful career.
                    </p>
                    <h2 class="heading-xs">CONTINUALLY IMPROVING OUR SERVICE</h2>
                    <p>
                         Our internal training, human resources and recruitment teams work closely together to
                         enhance the recruitment process. They analyse feedback from managers and apprentices,
                         along with our own data, to make continual improvements.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <!-- <a href="#" class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteTwo')">XXX</a> -->
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteTwo')">NHS</button>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Apprentices bring a wealth of energy, diversity and talent, which enables us to be innovative and proactive.
                         </h2>
                         <div class="cite">
                              Carole Hodgson
                              <span class="cite-detail-job-title">
                                   Apprenticeship Delivery Manager
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Hays Travel</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE ONE - END -->

<!-- QUOTE TWO - START -->
<section id="quoteTwo" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Apprentices are our workforce of the future, and we’ve invested in growing our own trained staff.
                         </h2>
                         <div class="cite">
                              Annie Cook
                              <span class="cite-detail-job-title">
                                   Career Development Coordinator
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Norfolk & Norwich University Hospital NHS Foundation Trust</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">NORFOLK & NORWICH UNIVERSITY HOSPITAL NHS FOUNDATION TRUST</h1>
                    <h2 class="heading-xs">OUR WORKFORCE OF THE FUTURE</h2>
                    <p>
                         Apprentices are our workforce of the future, and we’ve invested in growing our own trained
                         staff. It benefits us to have apprentices in our business – not least because 92% of them
                         choose to stay within the organisation after completing their apprenticeships.
                    </p>
                    <h2 class="heading-xs">A GOOD TRAINING PROVIDER IS KEY</h2>
                    <p>
                         We match each job description with an apprenticeship standard or framework, and work
                         collaboratively with training providers to deliver them. We have strong working relationships
                         with our providers, so they understand our needs as a business and how we support our apprentices.
                    </p>
                    <h2 class="heading-xs">FINDING THE RIGHT APPRENTICE</h2>
                    <p>
                         We advertise our vacancies on NHS Jobs and the Trust website, and we recruit to our PRIDE values
                         (People focussed, Respect, Integrity, Dedication and Excellence). A member of our apprenticeship
                         team always interviews with the recruiting manager to ensure candidates are aware of the requirements
                         of our apprenticeships programme.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteOne')">NHS</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteThree')">TROUP BYWATERS + ANDERS</button>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE TWO - END -->

<!-- QUOTE THREE - START -->
<section id="quoteThree" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">TROUP BYWATERS + ANDERS</h1>
                    <h2 class="heading-xs">HOMEGROWN TALENT TO BOOST OUR BUSINESS</h2>
                    <p>
                         At Troup Bywaters + Anders, we’re addressing the skills gap in our industry by
                         developing engineers of the future. As our homegrown talent matures, apprentices are
                         contributing to our financial growth and size. We recruit all year round to attract
                         the right people – from those due to complete qualifications to NEET (Not in Education,
                         Employment or Training) talent.
                    </p>
                    <h2 class="heading-xs">NUMBERS THAT SPEAK FOR THEMSELVES</h2>
                    <p>
                         Since embedding our apprenticeship programme, we’ve seen tangible business benefits.
                         Our retention rate for apprentices is 85%, our apprentice intake has contributed to a 100%
                         reduction in agency fees at technician level, and we’ve opened a Glasgow office to meet our
                         growth objective.
                    </p>
                    <h2 class="heading-xs">CREATING OPPORTUNITIES FOR EVERYONE</h2>
                    <p>
                         We form close relationships with our training providers, communicating and collaborating to
                         develop courses tailored to our business. We’ve also acted as ‘trailblazers’ to maintain a
                         professional route into the industry that’s available forall, no matter their background.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteTwo')">NHS</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteFour')">EY</button>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              We’re addressing the skills gap in our industry by developing engineers of the future.
                         </h2>
                         <div class="cite">
                              Claire Oliver
                              <span class="cite-detail-job-title">
                                   Head of HR
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Troup Bywaters + Anders</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE THREE - END -->

<!-- QUOTE FOUR - START -->
<section id="quoteFour" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Apprenticeships help us to develop our workforce with the skills that we need asa business, now and in the future
                         </h2>
                         <div class="cite">
                              Laura Keen
                              <span class="cite-detail-job-title">
                                   Apprenticeship Leader
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>EY</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">EY</h1>
                    <h2 class="heading-xs">DEVELOPING FUTURE LEADERS</h2>
                    <p>
                         Apprenticeships form part of our talent pipeline, from which we identify future leaders.
                         In our experience, apprentices are hungry to learn and develop new skills. They bring a fresh
                         perspective, commitment to our values, and high rates of retention. They help us to develop
                         our workforce with the skills that we need as a business, now and in the future.
                    </p>
                    <h2 class="heading-xs">WORKING WITH THE RIGHT TRAINING PROVIDER</h2>
                    <p>
                         Our apprentices’ experience both on and off the job is fundamental to the success of the
                         programme and their future development. We work closely with our training providers in
                         supporting our apprentices to gain a breadth of experience that’s relevant to their study.
                    </p>
                    <h2 class="heading-xs">LEVELING THE PLAYING FIELD</h2>
                    <p>
                         In 2015 we removed academic entry criteria from our student recruitment process, broadening
                         our pool of talent. We also operate a ‘blind CV’ policy that helps us to create a level playing
                         field for all candidates and promotes greater diversity among our workforce.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteThree')">TROUP BYWATERS + ANDERS</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteFive')">NESTLE</button>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE FOUR - END -->

<!-- QUOTE FIVE - START -->
<section id="quoteFive" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">NESTLE</h1>
                    <h2 class="heading-xs">INVALUABLE SKILLS FOR THE FUTURE</h2>
                    <p>
                         Nestle has been recruiting apprentices for around 60 years. We’ve long been ambassadors for the
                         earn-as-you-learn approach, and we’re keen to attract a diverse workforce that represents our
                         consumer base. Apprentices bring in new skills and behaviours to help our business move forward,
                         while working alongsideour existing employees, who can also upskill for the future.
                    </p>
                    <h2 class="heading-xs">BUILDING STRONG RELATIONSHIPS WITH OUR TRAINING PROVIDERS</h2>
                    <p>
                         We believe a lot of upfront activity – getting to know the apprentices and the apprenticeship
                         programme in detail and then planning with our training providers – is crucial to success. Regular
                         and open ongoing communication around successes and challenges also helps to build trust.
                    </p>
                    <h2 class="heading-xs">OUR APPRENTICES ARE OUR BEST ADVOCATES</h2>
                    <p>
                         Nestle’s former and existing apprentices are our best advocates, so they spend time in schools and
                         colleges talking to young people, teachers and parents aboutwhy an apprenticeship is a great route
                         into the world of work.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteFour')">EY</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteSix')">CHRISTIE’S</button>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Apprentices bring in new skills and behaviours to help our business move forward.
                         </h2>
                         <div class="cite">
                              Jill Coyle
                              <span class="cite-detail-job-title">
                                   Apprenticeship Manager
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Nestle</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE FIVE - END -->

<!-- QUOTE SIX - START -->
<section id="quoteSix" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Our Apprenticeship Programme has been a great channel for us to start increasing diversity in our business.
                         </h2>
                         <div class="cite">
                              Toby Monk
                              <span class="cite-detail-job-title">
                                   Recruitment Director
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Christie’s</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">CHRISTIE’S</h1>
                    <h2 class="heading-xs">A BRIGHT, ENGAGED AND DIVERSE WORKFORCE</h2>
                    <p>
                         Our Apprenticeship Programme provides us with a talent pipeline for the future, and our experience so far has
                         been overwhelmingly positive. We have found bright, engaged young people who have made a choice to not
                         attend university. It has also been a great channel for us to start increasing diversity in our business.
                    </p>
                    <h2 class="heading-xs">TEAMING UP WITH TRAINING PROVIDERS</h2>
                    <p>
                         We put a lot of time and effort into selecting our training providers – it’s so important for the
                         apprentice’s overall experience. We want to work with partners who are invested in the apprentices and
                         want to be hands on and ‘high touch’ with us as the employer. We want socially conscious business partners.
                    </p>
                    <h2 class="heading-xs">FINDING THE RIGHT APPRENTICE</h2>
                    <p>
                         To find an apprentice, we use a multi-pronged approach of direct outreach to schools, coupled with working
                         with external providers such as White Hat and ThePrince’s Trust. When it comes to seeking help with the process,
                         we’ve found people in our network to be incredibly helpful and willing to share their experiences and
                         best practice.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteFive')">NESTLE</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteSeven')">TEACH FIRST EDUCATION</button>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE SIX - END -->

<!-- QUOTE SEVEN - START -->
<section id="quoteSeven" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">TEACH FIRST EDUCATION</h1>
                    <h2 class="heading-xs">INTRODUCING FRESH TALENT AND UPKSILLING EMPLOYEES</h2>
                    <p>
                         There are lots of benefits to hiring apprentices. New recruits bring fresh ideas and a talent pipeline,
                         while increasing the diversity of our workforce – but apprenticeships are also great for upskilling
                         existing staff. This way we can bring new skills and knowledge to the business, while valuing the
                         development of our employees.
                    </p>
                    <h2 class="heading-xs">PAIRING UP WITH STRONG TRAINING PROVIDERS</h2>
                    <p>
                         To choose training providers, we carry out research, follow up on recommendations, start
                         conversations and attend open days. We have also beenthrough mini tender processes. We build strong
                         relationships with them by working closely together, maintaining good communication and regularly
                         checking the progress of our apprentices.
                    </p>
                    <h2 class="heading-xs">GETTING READY FOR THE APPRENTICESHIP</h2>
                    <p>
                         We have recruited apprentices using advertising, and one provider has a targeted recruitment process,
                         which has worked well. Internally, we have our own application processes to upskill existing employees.
                         To prepare, much of the learning has been getting stuck in and researching ourselves – although competent
                         providers also give much-needed advice.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteSix')">CHRISTIE’S</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteEight')">BT</button>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              New recruits bring fresh ideas and a talent pipeline, while increasing the diversity of our workforce – but apprenticeships are also great for upskilling existing staff.
                         </h2>
                         <div class="cite">
                              Jane Edwards
                              <span class="cite-detail-job-title">
                                   Apprenticeships Manager
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>Teach First Education</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE SEVEN - END -->

<!-- QUOTE EIGHT - START -->
<section id="quoteEight" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              We have statistical evidence that apprentices stay with us, are loyal, get promoted, support other apprentices, and are very engaged.
                         </h2>
                         <div class="cite">
                              Ann Potterton
                              <span class="cite-detail-job-title">
                                   Head of Apprenticeships
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>BT</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">BT</h1>
                    <h2 class="heading-xs">DISCOVERING THE BENEFITS OF APPRENTICESHIPS</h2>
                    <p>
                         BT Group has been offering apprenticeships for over 60 years. We have statisticalevidence
                         that apprentices stay with us, are loyal, get promoted, support other apprentices, and are very
                         engaged in our business. We’ve been able to create lots of new programmes to develop skills
                         our staff need for the future.
                    </p>
                    <h2 class="heading-xs">TEAMING UP WITH TRAINING PROVIDERS</h2>
                    <p>
                         BT Group is an Employer Provider and, where we have the expertise, we deliver apprenticeships
                         ourselves. When we outsource delivery, we look for providers who can offer quality programmes
                         across a wide geography with a range of delivery options. We have Service Level Agreements
                         with our providers to ensurethat we maintain a close relationship.
                    </p>
                    <h2 class="heading-xs">CREATING A DIVERSE WORKFORCE</h2>
                    <p>
                         We advertise in the media, through the National Apprenticeship Service and through other sites.
                         We have moved to strengths-based recruitment, which is helping us to recruit more successful
                         applicants from diverse backgrounds. Since making this change, we’ve seen improved success
                         rates and evidence of equalityand parity across gender and ethnicity groups.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteSeven')">TEACH FIRST EDUCATION</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteNine')">GLAXOSMITHKLINE</button>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE EIGHT - END -->

<!-- QUOTE NINE - START -->
<section id="quoteNine" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">GLAXOSMITHKLINE</h1>
                    <h2 class="heading-xs">DRIVING DIVERSITY IN OUR WORKFORCE</h2>
                    <p>
                         Our apprenticeships are central to our ambition to improve workforce diversity. They’ve given 350+
                         young people from diverse backgrounds access to world-class training, real-life assignments, degrees
                         and genuine responsibility. And withalmost 50% of our STEM apprentices being female in 2018, we’re
                         closing the gender STEM gap.
                    </p>
                    <h2 class="heading-xs">STANDARDS CREATED BY EMPLOYERS ACROSS THE SECTOR</h2>
                    <p>
                         I currently chair the Life Science and Industrial Science Trailblazer and have beenpart of this
                         group since its establishment. As part of the process of developing standards, we interact with
                         those who could potentially deliver the training and the End Point Assessment (EPA). Collaborating
                         across our sector has been a major factor in developing our apprenticeships.
                    </p>
                    <h2 class="heading-xs">A COLLABORATIVE PROCESS WITH THE TRAINING PROVIDER</h2>
                    <p>
                         We work very closely with all our training providers from the initial tender process through to
                         end point assessment. The key component to this relationshipis open dialogue between Apprentice,
                         Manager and Provider. We ask for regular performance updates to ensure progress is being made,
                         and this allows us to address any issues early in the process.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteEight')">BT</button>
                         </li>
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteTen')">FIRST BUS</button>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              With almost 50% of our STEM apprentices being female in 2018, we’re closing the gender STEM gap.
                         </h2>
                         <div class="cite">
                              Stephen Stewart
                              <span class="cite-detail-job-title">
                                   Global Apprentice Lead
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>GSK</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE NINE - END -->

<!-- QUOTE TEN - START -->
<section id="quoteTen" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              We’re continually looking for innovative ways to cross-skill apprentices, so they’re fully capable to deal with all aspects of bus engineering.
                         </h2>
                         <div class="cite">
                              Janet Francis
                              <span class="cite-detail-job-title">
                                   Apprenticeships & Qualifications Manager
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>First Bus</p>
                    </div>
               </div>
          </div>
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">FIRST BUS</h1>
                    <h2 class="heading-xs">A WELL-ROUNDED EXPERIENCE</h2>
                    <p>
                         We currently run four engineering apprenticeships, providing apprentices with skills, knowledge
                         and technical expertise by allowing them to work across the entire First Bus fleet – including
                         inspection, servicing, fault diagnosis and repair. We’re continually looking for innovative ways
                         to cross-skill apprentices, so they’re fully capable to deal with all aspects of bus engineering.
                    </p>
                    <h2 class="heading-xs">COLLABORATING WITH TRAINING PROVIDERS</h2>
                    <p>
                         The relationship with our training provider is key to the apprentice’s journey. We work closely
                         with providers to monitor our apprentices’ progress. We review providers’ contracts on a
                         quarterly basis, and run focus groups and online surveys for apprentices to provide feedback
                         on their experiences.
                    </p>
                    <h2 class="heading-xs">FINDING THE RIGHT APPRENTICE</h2>
                    <p>
                         To find an apprentice, we use online assessment tools and hold practical assessment centres
                         locally. Managers and mentors are involved in the selection of our apprentices, as they will be
                         the ones that support the apprentice throughout their journey. To manage the process, we use the
                         National Apprenticeship Service in partnership with our providers.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteNine')">GLAXOSMITHKLINE</button>
                         </li>
                         <li class="pagination__list-item">
                              <a href="#quoteElevenButton" class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteEleven')">RSPCA</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE TEN - END -->

<!-- QUOTE ELEVEN - START -->
<section id="quoteEleven" class="real-stories-quotes main-content content">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="quote-wrapper">
                    <div class="caption">
                         <span class="caption-icon"></span>
                         <h2 class="heading-xs caption-text">Real stories</h2>
                    </div>
                    <h1 class="heading-l">RSPCA</h1>
                    <h2 class="heading-xs">INCREASING OUR TALENT POOL</h2>
                    <p>
                         There are loads of benefits to hiring apprentices. Apprenticeships help us to develop knowledge and
                         skills within the organisation, improve employee motivation, provide development opportunities, feed
                         into succession planning – and of course, increase our talent pool!
                    </p>
                    <h2 class="heading-xs">GETTING STARTED</h2>
                    <p>
                         Over the past two years, we’ve conducted a great deal of research, using Find apprenticeship training
                         and the Institute forApprenticeship website. To get started, we engage with training providers and
                         meet with potential apprentices and line managers to ensure a shared understanding, making sure the
                         training isright for the individual, role and organisation.
                    </p>
                    <h2 class="heading-xs">FINDING AN APPRENTICE</h2>
                    <p>
                         To find an apprentice, we recruit internally, put out communications, engage withline managers for
                         recommendations and refer to external sources. We advertise with the training provider, using
                         Recruit an apprentice on the government website, and Vacancy Snapshot on the Amazing
                         Apprenticeships website.
                    </p>
                    <ul class="pagination pagination--employer">
                         <li class="pagination__list-item">
                              <button class="pagination__link pagination__link--previous links" onclick="openQuote(event,'quoteTen')">FIRST BUS</button>
                         </li>
                         <li class="pagination__list-item">
                              <!-- <button class="pagination__link pagination__link--next links" onclick="openQuote(event,'quoteTen')">TV, DIGITAL AND MEDIA</button> -->
                         </li>
                    </ul>
               </div>
          </div>
          <div class="grid-column-one-third">
               <div class="quote-block-black">
                    <blockquote>
                         <div class="quote"></div>
                         <h2>
                              Apprenticeships help us to develop knowledge and skills within the organisation – and of course, increase our talent pool!
                         </h2>
                         <div class="cite">
                              Laura Swan
                              <span class="cite-detail-job-title">
                                   Apprenticeships Development Manager
                              </span>
                         </div>
                    </blockquote>
                    <div class="logo">
                         <p>RSPCA</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- QUOTE ELEVEN - END -->
<!-- ======================= TABBED CONTENT - END =======================-->
