<header class="">
     <div class="header">
          <div class="wrapper-header">
               <div class="header__logo">
                    <a href="/campaign/index.html">
                         <img src="/dist/campaign/images/apprenticeships-logo-black.png" alt="Apprenticeships Logo" class="header__logo-image">
                    </a>
               </div>
               {% include '../navigation/_navigation.html'%}
          </div>
     </div>

     <!-- APPRENTICE NAV - START -->
     <div class="navigation__sub-menu navigation__sub-menu--apprentice">
          <div class="outer">
               <div class="middle">

                    <!-- SUB NAV ITEM 1 - START -->
                    <a href="/campaign/apprentice/2-find-an-apprenticeship" class="navigation__link--top-level">
                         Find an apprenticeship
                         <div class="border"></div>
                    </a>
                    <!-- SUB NAV ITEM 1 - END -->

                    <!-- SUB NAV ITEM 2 - START -->
                    <a href="/campaign/apprentice/what-are-the-benefits-for-me" class="navigation__link--top-level">
                         Benefits
                         <div class="border"></div>
                    </a>
                    <!-- SUB NAV ITEM 2 - END -->

                    <!-- SUB NAV ITEM 3 - START -->
                    <a href="/campaign/apprentice/1-what-is-an-apprenticeship" class="navigation__link--top-level">
                         How to become...
                         <span class="navigation__sub-menu-toggle"></span>
                         <span class="navigation__sub-menu-icon"></span>
                         <div class="border"></div>
                    </a>
                    <!-- SUB NAV ITEM 3 - END -->

                    <!-- SUB NAV ITEM 4 - START -->
                    <a href="/campaign/real-stories/apprentices" class="navigation__link--top-level">
                         Real stories
                         <div class="border"></div>
                    </a>
                    <!-- SUB NAV ITEM 4 - END -->

                    <!-- SUB NAV ITEM 5 - START -->
                    <a href="/campaign/apprentice-interests/interests-home" class="navigation__link--top-level">
                         Interests
                         <span class="navigation__sub-menu-toggle"></span>
                         <span class="navigation__sub-menu-icon"></span>
                         <div class="border"></div>
                    </a>
                    <!-- SUB NAV ITEM 5 - END -->

               </div>
          </div>
     </div>
     <!-- APPRENTICE NAV - END -->

</header>
