<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-faa search">
          <!-- <div class="cta-faa__content">
               <h2 class="heading-m cta-faa__heading">Embrace change and become an apprentice</h2>
               <p>
                    Do you want to earn while you learn, be debt free at the end of your training and have valuable hands-on experience? Then enter your postcode or town below and start to fire up your apprenticeship journey.
               </p>
          </div> -->
          <div class="cta-faa__action">
               <div class="form-group">
                    <input type="search" id="faa-search-keyword" placeholder="Job title or keyword...">
               </div>
               <div class="form-group">
                    <input type="search" id="faa-search-location" q="googlesearch" placeholder="Enter postcode...">
                    <select class="form-control" data-val="true" id="Distance" name="Distance">
                         <option value="2">2 miles</option>
                         <option value="5">5 miles</option>
                         <option selected="selected" value="10">10 miles</option>
                         <option value="15">15 miles</option>
                         <option value="20">20 miles</option>
                         <option value="30">30 miles</option>
                         <option value="40">40 miles</option>
                    </select>
               </div>
               <button id="link-FAA-search" onclick="window.location.href = '/campaign/apprentice/2B-find-an-apprenticeship';" class="button button--shadow button--sparks search"><span class="search"></span>Search</button>
          </div>
     </section>

</div>
