<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat single-cta">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-faa__heading">Embrace change and employ an apprentice</h2>
                    <p>
                         Search for the ideal apprenticeship training that fits with your business needs and start the journey of taking on an apprentice.
                    </p>
               </div>
               <div class="cta-fat__action">
                    <a id="link-FAT-Cta" href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" class="button button--shadow button--sparks" target="_blank" rel="external"> <span class="external"></span> visit gov.uk to see my results </a>
               </div>
          </div>
     </section>

</div>
