<section class="upsell-component">
     <h2 class="heading-l">What other people are looking at similar to <span class="fat-training-provider-title"></span></h2>
     <ol id="fat-training-provider-results" class="search-results-list">

          <!-- /////////// FAT ITEM - 4 - START /////////// -->
          <li class="search-result" data-job-id="2">

          </li>
          <!-- /////////// FAT ITEM - 4 - END /////////// -->

          <!-- /////////// FAT ITEM - 5 - START /////////// -->
          <li class="search-result" data-job-id="3">

          </li>
          <!-- /////////// FAT ITEM - 5 - END /////////// -->

          <!-- /////////// FAT ITEM - 6 - START /////////// -->
          <li class="search-result" data-job-id="4">

          </li>
          <!-- /////////// FAT ITEM - 6 - END /////////// -->

     </ol>
</section>
