<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat search">
          <h1 class="heading-m sidebar__heading">Enter the postcode of where the apprentice will work...</h1>
          <div class="cta-fat__action">
               <input type="search" id="fat-search-postcode" placeholder="Your postcode...">
               <a id="link-FAT-search" href="/campaign/FAT/4A-FAT-training-provider-results" class="button button--shadow button--sparks search link-FAT-search"><span class="search"></span>Search</a>
          </div>
     </section>

</div>
