<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat postcode-search">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-faa__heading no-bottom-margin">
                         Like what you see?
                    </h2>
                    <p class="no-top-margin">
                         Add this training provider to your favourites and set up your Apprenticeship Service account.
                    </p>
               </div>
               <div class="cta-fat__action">
                    <a id="save-this-standard" href="/campaign/FAT/save-this-standard" class="button button--shadow button--sparks">Add to favourites</a>
               </div>
          </div>
     </section>

</div>
