<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat postcode-search">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-faa__heading">
                         Save this standard and create your gov.uk account to start hiring the future...
                    </h2>
               </div>
               <div class="cta-fat__action">
                    <a id="save-this-standard" href="/campaign/FAT/save-this-standard" class="button button--shadow button--sparks">Save this standard</a>
               </div>
          </div>
     </section>

</div>
