<div id="compare-component">

     <div class="wrapper">

          <div class="title-section">
               <h1 class="heading-l">
                    <a href="#" id="close-compare" class="back">Back to list</a>
                    Compare items
               </h1>
          </div>

          <div class="basket-items">

               <!-- ============= ITEM 1 - START ============= -->
               <section class="populated" data-basket-item="1">
                    <div>
                         <h1 class="heading-m item-title">Dental nurse</h1>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>2 (equivalent to GCSE's at gardes A* to C)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Typical length:</p>
                              <p>12 months</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Current funding band:</p>
                              <p>Up to £9,000 per apprentice</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Entry requirements:</p>
                              <div class="content-container">
                                   <p>Set by employer</p>
                                   <ul>
                                        <li>
                                             apprentices must have achieved level 1 English and maths (eqivalent to GCSE grades 3
                                             to 1 or D to G) and taken level 2 English and maths (equivalent to GCSE grades 9 to 4 or A* to C)
                                             before starting this apprenticeship
                                        </li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">What apprentices will learn:</p>
                              <div class="content-container">
                                   <ul>
                                        <li>measuring ingredient quantities</li>
                                        <li>making dough</li>
                                        <li>working safely with machinery like power mixers, industry ovens and production lines</li>
                                        <li>managing supplies</li>
                                        <li>keeping production areas clean</li>
                                        <li>coming up with ideas for new products</li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="2">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Qualifications:</p>
                              <div class="content-container">
                                   <ul>
                                        <li>before taking their end-point assessment apprentices must have achieved a level 2 bakery diploma</li>
                                        <li>before taking the end-point assessment apprentices must have achieved level 1 English and maths
                                        (equivalent to GCSE grades 3 to 1 or D to G) and taken level 2 English and maths (equivalent to GCSE grades 9 to 4 or A* to C)</li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="3">Show more info</a>
                         </div>
                         <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
                    </div>
               </section>
               <!-- ============= ITEM 1 - END ============= -->

               <!-- ============= ITEM 2 - START ============= -->
               <section data-basket-item="2">
                    <div>
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks" href="#">Open list</a>
                    </div>
               </section>
               <!-- ============= ITEM 2 - END ============= -->

               <!-- ============= ITEM 3 - START ============= -->
               <section data-basket-item="3">
                    <div>
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks" href="#">Open list</a>
                    </div>
               </section>
               <!-- ============= ITEM 3 - END ============= -->

               <!-- ============= ITEM 4 - START ============= -->
               <section data-basket-item="4">
                    <div>
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks" href="#">Open list</a>
                    </div>
               </section>
               <!-- ============= ITEM 4 - END ============= -->

          </div>

     </div>

</div>
