<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat postcode-search">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-faa__heading">Enter the postcode of where the apprentice will work...</h2>
               </div>
               <div class="cta-fat__action">
                    <input type="search" id="fat-search-postcode" placeholder="Your postcode...">
                    <a id="link-FAT-search" href="/campaign/FAT/4A-FAT-training-provider-results" class="button button--shadow button--sparks search"><span class="search"></span>Search</a>
               </div>
          </div>
     </section>

</div>
