<div class="grid-row-full">

     <section class="faa-fat-link-block cta-fat provider-details">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-xs cta-fat__heading">
                         <a href="#" class="provider-addresses locations"><strong>2</strong> <span>alternative locations - show all</span></a>
                    </h2>
               </div>
               <div class="cta-fat__action">

                    <dd>
                         <section class="location-details default-hidden">
                              <ul class="list">
                                   <li>Coventry, CV1 1DL - <strong>(10.6 miles)</strong></li>
                                   <li>COVENTRY, Commerce House, 123 St.Nicholas Street, Coventry, CV1 4FD - <strong>(12.4 miles)</strong></li>
                              </ul>
                         </section>
                    </dd>

               </div>
          </div>
     </section>

</div>
