<section class="resources resources--careers">
     <ul class="resources__list">
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">YAAN</span>
                    <span class="border"></span>
                    <p class="resources__description">Young apprentice ambassadors</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">resources</span>
                    <span class="border"></span>
                    <p class="resources__description">Apprenticeship resources</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">support</span>
                    <span class="border"></span>
                    <p class="resources__description">Free Apprenticeship sessions for students</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">boardcasts</span>
                    <span class="border"></span>
                    <p class="resources__description">Live broadcasts</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">apprentices</span>
                    <span class="border"></span>
                    <p class="resources__description">Apprenticeship champions</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">faa</span>
                    <span class="border"></span>
                    <p class="resources__description">Find an apprenticeship</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">vacancies</span>
                    <span class="border"></span>
                    <p class="resources__description">Vacancy snapshot</p>
                    <span class="arrow"></span>
               </a>
          </li>
          <li class="resources__item">
               <a href="#" class="resources__link">
                    <span class="resources__link-title">Schools</span>
                    <span class="border"></span>
                    <p class="resources__description">Schools workforce</p>
                    <span class="arrow"></span>
               </a>
          </li>
     </ul>
</section>
