<!DOCTYPE html>
<html lang="en">

     <head>
          <title>Should you give apprenticeships a go?</title>
          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">
     </head>

     <body id="email-template">

          <!-- ////////////////////// EMAIL HEADER - START ////////////////////// -->
          <header class="email-header">
               <div class="email-wrapper">
                    <p>View in <a href="#">browser</a></p>
                    <a href="/campaign/index"><img src="/dist/campaign/images/emails/header-logo.png"></a>
                    <p>June, 2020</p>
               </div>
          </header>
          <!-- ////////////////////// EMAIL HEADER - END ////////////////////// -->

          <!-- ////////////////////// EMAIL MAIN - START ////////////////////// -->
          <main class="">
               <div class="email-wrapper">
                    <img src="/dist/campaign/images/emails/2-email.jpg">
                    <div class="text">
                         <h1 class="heading-m">
                              Why should you embrace apprenticeships?
                         </h1>

                         <p class="lead-paragraph">
                              Hi <span class="FirstName-Email">&#60;name&#62;</span>,
                         </p>

                         <p class="lead-paragraph">
                              If you’re not sure whether apprenticeships are right for your organisation, here are some reasons to get on board.
                         <p>

                         <ol class="list list--number list--number-employer">
                              <li>
                                   Apprenticeship standards are developed by employers and industry experts, so your apprentice will be trained
                                   to make valuable contributions.
                              </li>
                              <li>
                                   With a huge variety of standards to choose from, you can use apprenticeships to fill skills gaps
                                   in your organisation.
                              </li>
                              <li>
                                   You can bring in new talent at any level, from Level 2 (GCSE equivalent) right through to Levels 6
                                   and 7 (equivalent to a bachelor’s or master’s degree).
                              </li>
                         </ol>

                         <hr>

                         <h2 class="heading-s">
                              Get tailored apprenticeship advice
                         </h2>

                         <p>
                              Answer 4 quick questions to get apprenticeship advice that’s tailored to you.
                         </p>

                    </div>

                    <div class="cta-container">
                         <a href="/campaign/explore/intro" class="button button--sparks button-employer-hero">Get tailored apprenticeship advice</a>
                    </div>

               </div>
          </main>
          <!-- ////////////////////// EMAIL MAIN - END ////////////////////// -->

          <!-- ////////////////////// EMAIL FOOTER - START ////////////////////// -->
          <footer class="email-footer">
               <div class="footer-top">
                    <div class="email-wrapper">
                         <div class="logo-container">
                              <img src="/dist/campaign/images/emails/footer-logo-1.png">
                              <img src="/dist/campaign/images/emails/footer-logo-2.png">
                         </div>
                         <p>
                              <a href="#">Privacy and cookies</a> | <a href="#">Privacy notice</a> | <a href="#">Terms and conditions</a>
                         </p>
                         <p>
                              All content is available under the <a href="#">Open Government Licence v2.0</a>, except where otherwise stated
                         </p>
                    </div>
               </div>
               <div class="footer-bottom">
                    <div class="email-wrapper">
                         <p>
                              To stop receiving emails from Apprenticeships <a href="#">click here</a>
                         </p>
                    </div>
               </div>
          </footer>
          <!-- ////////////////////// EMAIL FOOTER - END ////////////////////// -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
