<!DOCTYPE html>
<html lang="en">

     <head>
          <title>Who’s eligible to become an apprentice?</title>
          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">
     </head>

     <body id="email-template">

          <!-- ////////////////////// EMAIL HEADER - START ////////////////////// -->
          <header class="email-header">
               <div class="email-wrapper">
                    <p>View in <a href="#">browser</a></p>
                    <a href="/campaign/index"><img src="/dist/campaign/images/emails/header-logo.png"></a>
                    <p>June, 2020</p>
               </div>
          </header>
          <!-- ////////////////////// EMAIL HEADER - END ////////////////////// -->

          <!-- ////////////////////// EMAIL MAIN - START ////////////////////// -->
          <main class="">
               <div class="email-wrapper email-no-image">
                    <!-- <img src="/dist/campaign/images/emails/3-email.jpg"> -->
                    <div class="text">
                         <h1 class="heading-m">
                              Hire someone new or upskill your staff at any level
                         </h1>

                         <p class="lead-paragraph">
                              Hi <span class="FirstName-Email">&#60;name&#62;</span>,
                         </p>

                         <p class="lead-paragraph">
                              If you’re interested in taking on an apprentice, you may have wondered who’s eligible.
                         <p>

                         <ol class="list list--number list--number-employer">
                              <li>
                                   Apprenticeships are available at various levels. They can be equivalent to GCSE level, or even a master’s degree.
                              </li>
                              <li>
                                   Your apprentice can be any age, as long as they’re 16 or over by the end of the summer holidays.
                              </li>
                              <li>
                                   Apprenticeships are great for hiring new staff, but they’re also ideal for upskilling or retraining your
                                   current staff, so you can fill skill gaps, boost motivation and improve retention.
                              </li>
                         </ol>

                         <p>
                              Learn more about <a href="/campaign/employer/B-hire-an-apprentice-A">hiring an apprentice</a>
                              and discover how you can <a href="/campaign/employer/B-retrain-staff-B">upskill your staff</a>.
                         </p>

                    </div>
               </div>
          </main>
          <!-- ////////////////////// EMAIL MAIN - END ////////////////////// -->

          <!-- ////////////////////// EMAIL FOOTER - START ////////////////////// -->
          <footer class="email-footer">
               <div class="footer-top">
                    <div class="email-wrapper">
                         <div class="logo-container">
                              <img src="/dist/campaign/images/emails/footer-logo-1.png">
                              <img src="/dist/campaign/images/emails/footer-logo-2.png">
                         </div>
                         <p>
                              <a href="#">Privacy and cookies</a> | <a href="#">Privacy notice</a> | <a href="#">Terms and conditions</a>
                         </p>
                         <p>
                              All content is available under the <a href="#">Open Government Licence v2.0</a>, except where otherwise stated
                         </p>
                    </div>
               </div>
               <div class="footer-bottom">
                    <div class="email-wrapper">
                         <p>
                              To stop receiving emails from Apprenticeships <a href="#">click here</a>
                         </p>
                    </div>
               </div>
          </footer>
          <!-- ////////////////////// EMAIL FOOTER - END ////////////////////// -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
