<!-- <a href="/campaign/employer/2-the-right-apprenticeship">Search apprenticeships</a> -->
<div class="hero FAT-basket FAT-save-standard-V3">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Create an apprenticeship service account</h1>
               </div>

               <div class="text-wrapper no-bottom-margin">
                    <p class="lead-paragraph no-bottom-margin">
                         You’ll need to set up an apprenticeship service account on GOV.UK to access
                         apprenticeship funding and post vacancies on
                         <a href="/campaign/FAT/1-FAT-search">Find an apprenticeship</a>.
                    </p>
               </div>

               <!-- <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a> -->

          </div>

          <div class="grid-column-one-half">
               <img src="/dist/campaign/images/fat-screen-shot.jpg" class="gov-uk-image">
          </div>

     </div>
</div>
