<!-- <a href="/campaign/employer/2-the-right-apprenticeship">Search apprenticeships</a> -->
<div class="hero FAT-basket FAT-save-standard-V1">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">START A CONVERSATION</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Ready to hire an apprentice?<br>Save this training provider and go to gov.uk to create your account.
                    </p>
                    <!-- <p class="lead-paragraph">
                    </p> -->
                    <div class="cta-row">
                         <form method="post" action="https://esfa-shopping-basket.herokuapp.com/sprint-17/V7/index">
                              <div class="pass-form-data"></div>
                              <input type="submit" class="button button--shadow button--sparks" value="CONTINUE WITH ACCOUNT" id="save-this-standard" />
                              <p class=""><a href="javascript:history.back()" class="">Cancel</a></p>
                         </form>
                    </div>
               </div>

               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>

          </div>
     </div>
</div>
