<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/explore/_em-EX-1-heading.html' %}

               <main id="main-content" class="main-content explore-content employer">

                    <div class="grid-row">
                         <div class="grid-column-full">

                              <!-- /////////////////////////////// PRIMARY CONTENT - START /////////////////////////////// -->
                              <div id="section-1" class="item-wrapper grid">

                                   <!-- SECTION 1 - START -->
                                   <label class="place-holder administration" for="administration">
                                        <input class="" type="checkbox" id="administration" name="industry">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Administration</h1>
                                                  <span class="border"></span>
                                                  <p>201 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 1 - END -->

                                   <!-- SECTION 2 - START -->
                                   <label class="place-holder animal-care" for="animal-care">
                                        <input class="" type="checkbox" id="animal-care" name="industry">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Animal care</h1>
                                                  <span class="border"></span>
                                                  <p>501 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 2 - END -->

                                   <!-- SECTION 3 - START -->
                                   <label class="place-holder beauty-and-wellbeing" for="beauty-and-wellbeing">
                                        <input class="" type="checkbox" id="beauty-and-wellbeing" name="industry">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Beauty and wellbeing</h1>
                                                  <span class="border"></span>
                                                  <p>452 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 3 - END -->

                                   <!-- SECTION 4 - START -->
                                   <label class="place-holder business-and-finance" for="business-and-finance">
                                        <input class="" type="checkbox" id="business-and-finance" name="industry">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Business and finance</h1>
                                                  <span class="border"></span>
                                                  <p>302 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 4 - END -->

                                   <!-- SECTION 5 - START -->
                                   <label class="place-holder computing" for="computing">
                                        <input class="" type="checkbox" id="computing" name="industry">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Computing, technology and digital</h1>
                                                  <span class="border"></span>
                                                  <p>603 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 5 - END -->

                                   <!-- SECTION 6 - START -->
                                   <label class="place-holder construction-and-trades" for="construction-and-trades">
                                        <input class="" type="checkbox" id="construction-and-trades" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Construction and trades</h1>
                                                   <span class="border"></span>
                                                  <p>523 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 6 - END -->

                                   <!-- SECTION 7 - START -->
                                   <label class="place-holder creative-and-media" for="creative-and-media">
                                        <input class="" type="checkbox" id="creative-and-media" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Creative and media</h1>
                                                   <span class="border"></span>
                                                  <p>123 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 7 - END -->

                                   <!-- SECTION 8 - START -->
                                   <label class="place-holder delivery" for="delivery">
                                        <input class="" type="checkbox" id="delivery" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Delivery and storage</h1>
                                                   <span class="border"></span>
                                                  <p>856 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 8 - END -->

                                   <!-- SECTION 9 - START -->
                                   <label class="place-holder emergency" for="emergency">
                                        <input class="" type="checkbox" id="emergency" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Emergency and uniform services</h1>
                                                   <span class="border"></span>
                                                  <p>520 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 9 - END -->

                                   <!-- SECTION 10 - START -->
                                   <label class="place-holder engineering-and-maintenance" for="engineering-and-maintenance">
                                        <input class="" type="checkbox" id="engineering-and-maintenance" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Engineering and maintenance</h1>
                                                   <span class="border"></span>
                                                  <p>103 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 10 - END -->

                                   <!-- SECTION 11 - START -->
                                   <label class="place-holder environment" for="environment">
                                        <input class="" type="checkbox" id="environment" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Environment and land</h1>
                                                   <span class="border"></span>
                                                  <p>630 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 11 - END -->

                                   <!-- SECTION 12 - START -->
                                   <label class="place-holder government" for="government">
                                        <input class="" type="checkbox" id="Ggovernment" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Government services</h1>
                                                   <span class="border"></span>
                                                  <p>420 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 12 - END -->

                                   <!-- SECTION 13 - START -->
                                   <label class="place-holder healthcare" for="healthcare">
                                        <input class="" type="checkbox" id="healthcare" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Healthcare</h1>
                                                   <span class="border"></span>
                                                  <p>336 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 13 - END -->

                                   <!-- SECTION 14 - START -->
                                   <label class="place-holder home-services" for="home-services">
                                        <input class="" type="checkbox" id="home-services" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Home services</h1>
                                                   <span class="border"></span>
                                                  <p>542 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 14 - END -->

                                   <!-- SECTION 15 - START -->
                                   <label class="place-holder hospitality" for="hospitality">
                                        <input class="" type="checkbox" id="hospitality" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Hospitality and food</h1>
                                                   <span class="border"></span>
                                                  <p>411 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 15 - END -->

                                   <!-- SECTION 16 - START -->
                                   <label class="place-holder law-and-legal" for="law-and-legal">
                                        <input class="" type="checkbox" id="law-and-legal" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Law and legal</h1>
                                                   <span class="border"></span>
                                                  <p>319 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 16 - END -->

                                   <!-- SECTION 17 - START -->
                                   <label class="place-holder managerial" for="managerial">
                                        <input class="" type="checkbox" id="managerial" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Managerial</h1>
                                                   <span class="border"></span>
                                                  <p>718 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 17 - END -->

                                   <!-- SECTION 18 - START -->
                                   <label class="place-holder manufacturing" for="manufacturing">
                                        <input class="" type="checkbox" id="manufacturing" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Manufacturing</h1>
                                                   <span class="border"></span>
                                                  <p>578 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 18 - END -->

                                   <!-- SECTION 19 - START -->
                                   <label class="place-holder retail" for="retail">
                                        <input class="" type="checkbox" id="retail" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Retail and sales</h1>
                                                   <span class="border"></span>
                                                  <p>279 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 19 - END -->

                                   <!-- SECTION 20 - START -->
                                   <label class="place-holder science" for="science">
                                        <input class="" type="checkbox" id="science" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Science and research</h1>
                                                   <span class="border"></span>
                                                  <p>279 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 20 - END -->

                                   <!-- SECTION 21 - START -->
                                   <label class="place-holder social-care" for="social-care">
                                        <input class="" type="checkbox" id="social-care" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Social care</h1>
                                                   <span class="border"></span>
                                                  <p>819 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 21 - END -->

                                   <!-- SECTION 22 - START -->
                                   <label class="place-holder sports" for="sports">
                                        <input class="" type="checkbox" id="sports" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Sports and leisure</h1>
                                                   <span class="border"></span>
                                                  <p>412 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 22 - END -->

                                   <!-- SECTION 23 - START -->
                                   <label class="place-holder teaching" for="teaching">
                                        <input class="" type="checkbox" id="teaching" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Teaching and education</h1>
                                                   <span class="border"></span>
                                                  <p>670 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 23 - END -->

                                   <!-- SECTION 24 - START -->
                                   <label class="place-holder transport-skills" for="transport-skills">
                                        <input class="" type="checkbox" id="transport-skills" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Transport</h1>
                                                   <span class="border"></span>
                                                  <p>234 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 24 - END -->

                                   <!-- SECTION 25 - START -->
                                   <label class="place-holder travel" for="travel">
                                        <input class="" type="checkbox" id="travel" name="industry">
                                        <div class="inner">
                                              <div class="text">
                                                   <h1 class="heading-s">Travel and tourism</h1>
                                                   <span class="border"></span>
                                                  <p>127 apprenticeships available</p>
                                             </div>
                                             <span class="icon"></span>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 25 - END -->

                              </div>

                              <!-- /////////////////////////////// PRIMARY CONTENT - END /////////////////////////////// -->

                         </div>
                    </div>

               </main>

               <!-- /////////////////////////////// FOOTER CONTENT - START /////////////////////////////// -->
               <div class="explore-index grid-row">
                    <div class="grid-column-full container">
                         <a href="/campaign/explore/2-question-2.html" class="button">
                              Continue
                              <span class="counter">
                                   <p>
                                        <span id="industry-clicks" class="number">0</span>
                                        <br>
                                        <span class="sub-text">industries</span>
                                   </p>
                              </span>
                         </a>
                         <a href="javascript:history.back()" class="back">&lt; &nbsp; Back</a>
                    </div>
               </div>
               <!-- /////////////////////////////// FOOTER CONTENT - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}


     </body>

</html>
