<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/explore/_em-EX-1-heading.html' %}

               <main id="main-content" class="main-content explore-content employer">

                    <div class="grid-row">
                         <div class="grid-column-full">

                              <!-- /////////////////////////////// PRIMARY CONTENT - START /////////////////////////////// -->
                              <div id="section-1" class="item-wrapper grid">

                                   <!-- SECTION 1 - START -->
                                   <label class="place-holder agriculture" for="agriculture">
                                        <input class="" type="checkbox" id="agriculture" name="industry">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Agriculture, environment and animal care</h1>
                                                  <span class="border"></span>
                                                  <p>201 apprenticeships available</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 1 - END -->

                                   <!-- SECTION 2 - START -->
                                   <label class="place-holder business" for="business">
                                        <input class="" type="checkbox" id="business" name="industry">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Business and administration</h1>
                                                  <span class="border"></span>
                                                  <p>501 apprenticeships available</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 2 - END -->

                                   <!-- SECTION 3 - START -->
                                   <label class="place-holder care" for="care">
                                        <input class="" type="checkbox" id="care" name="industry">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Care services</h1>
                                                  <span class="border"></span>
                                                  <p>452 apprenticeships available</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 3 - END -->

                                   <!-- SECTION 4 - START -->
                                   <label class="place-holder catering" for="catering">
                                        <input class="" type="checkbox" id="catering" name="industry">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Catering and hospitality</h1>
                                                  <span class="border"></span>
                                                  <p>302 apprenticeships available</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 4 - END -->

                                   <!-- SECTION 5 - START -->
                                   <label class="place-holder construction" for="construction">
                                        <input class="" type="checkbox" id="construction" name="industry">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Construction</h1>
                                                  <span class="border"></span>
                                                  <p>603 apprenticeships available</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 5 - END -->

                                   <!-- SECTION 6 - START -->
                                   <label class="place-holder creative" for="creative">
                                        <input class="" type="checkbox" id="creative" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Creative and design</h1>
                                                   <span class="border"></span>
                                                  <p>523 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 6 - END -->

                                   <!-- SECTION 7 - START -->
                                   <label class="place-holder digital" for="digital">
                                        <input class="" type="checkbox" id="digital" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Digital</h1>
                                                   <span class="border"></span>
                                                  <p>123 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 7 - END -->

                                   <!-- SECTION 8 - START -->
                                   <label class="place-holder education" for="education">
                                        <input class="" type="checkbox" id="education" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Education and childcare</h1>
                                                   <span class="border"></span>
                                                  <p>856 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 8 - END -->

                                   <!-- SECTION 9 - START -->
                                   <label class="place-holder engineering" for="engineering">
                                        <input class="" type="checkbox" id="engineering" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Engineering and manufacturing</h1>
                                                   <span class="border"></span>
                                                  <p>520 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 9 - END -->

                                   <!-- SECTION 10 - START -->
                                   <label class="place-holder beauty" for="beauty">
                                        <input class="" type="checkbox" id="beauty" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Hair and beauty</h1>
                                                   <span class="border"></span>
                                                  <p>103 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 10 - END -->

                                   <!-- SECTION 11 - START -->
                                   <label class="place-holder health" for="health">
                                        <input class="" type="checkbox" id="health" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Health and science</h1>
                                                   <span class="border"></span>
                                                  <p>630 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 11 - END -->

                                   <!-- SECTION 12 - START -->
                                   <label class="place-holder legal" for="legal">
                                        <input class="" type="checkbox" id="legal" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Legal, finance and accounting</h1>
                                                   <span class="border"></span>
                                                  <p>420 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 12 - END -->

                                   <!-- SECTION 13 - START -->
                                   <label class="place-holder protective" for="protective">
                                        <input class="" type="checkbox" id="protective" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Protective services</h1>
                                                   <span class="border"></span>
                                                  <p>336 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 13 - END -->

                                   <!-- SECTION 14 - START -->
                                   <label class="place-holder sales" for="sales">
                                        <input class="" type="checkbox" id="sales" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Sales, marketing and procurement</h1>
                                                   <span class="border"></span>
                                                  <p>542 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 14 - END -->

                                   <!-- SECTION 15 - START -->
                                   <label class="place-holder transport" for="transport">
                                        <input class="" type="checkbox" id="transport" name="industry">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Transport and logistics</h1>
                                                   <span class="border"></span>
                                                  <p>411 apprenticeships available</p>
                                             </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 15 - END -->

                              </div>

                         </main>
                         <!-- /////////////////////////////// PRIMARY CONTENT - END /////////////////////////////// -->

                    </div>
               </div>

               <!-- /////////////////////////////// FOOTER CONTENT - START /////////////////////////////// -->
               <div class="explore-index grid-row">
                    <div class="grid-column-full container">
                         <a href="/campaign/explore/2-question-2.html" class="button">
                              Continue
                              <span class="counter">
                                   <p>
                                        <span id="industry-clicks">0</span>
                                        <br>
                                        <span class="sub-text">industries</span>
                                   </p>
                              </span>
                         </a>
                         <a href="javascript:history.back()" class="back">&lt; &nbsp; Back</a>
                    </div>
               </div>
               <!-- /////////////////////////////// FOOTER CONTENT - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}


     </body>

</html>
