<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/explore/_em-EX-2-heading.html' %}

               <main id="main-content" class="main-content explore-content employer">

                    <div class="grid-row">
                         <div class="grid-column-full">

                              <!-- /////////////////////////////// PRIMARY CONTENT - START /////////////////////////////// -->
                              <div id="section-1" class="item-wrapper grid">

                                   <!-- SECTION ONE - START -->
                                   <a class="place-holder reading" onClick="onClick()" id="test-id">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Reading</h1>
                                                  <span class="border"></span>
                                                  <p>From thrillers to car manuals</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION ONE - END -->

                                   <!-- SECTION TWO - START -->
                                   <a class="place-holder traveling" onClick="onClick()">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Travelling</h1>
                                                  <span class="border"></span>
                                                  <p>Discovering the world</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION TWO - END -->

                                   <!-- SECTION THREE - START -->
                                   <a class="place-holder blogging" onClick="onClick()">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Blogging</h1>
                                                  <span class="border"></span>
                                                  <p>Do you love the new digital world?</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION THREE - END -->

                                   <!-- SECTION FOUR - START -->
                                   <a class="place-holder collecting" onClick="onClick()">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Collecting</h1>
                                                  <span class="border"></span>
                                                  <p>From stamps to coins, you love collecting</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION FOUR - END -->

                                   <!-- SECTION FIVE - START -->
                                   <a class="place-holder volunteering" onClick="onClick()">
                                        <div class="inner">
                                             <span class="icon"></span>
                                             <div class="text">
                                                  <h1 class="heading-s">Volunteering</h1>
                                                  <span class="border"></span>
                                                  <p>Fund raising to charity work</p>
                                             </div>
                                             <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION FIVE - END -->

                                   <!-- SECTION SIX - START -->
                                   <a class="place-holder cooking" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Cooking</h1>
                                                   <span class="border"></span>
                                                   <p>Are you the next Jamie Oliver?</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION SIX - END -->

                                   <!-- SECTION SEVEN - START -->
                                   <a class="place-holder helping-others" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Helping others</h1>
                                                   <span class="border"></span>
                                                   <p>Caring &amp; helping others day to day</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION SEVEN - END -->

                                   <!-- SECTION EIGHT - START -->
                                   <a class="place-holder sports" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Sports</h1>
                                                   <span class="border"></span>
                                                   <p>Running &amp; football we could go on</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION EIGHT - END -->

                                   <!-- SECTION NINE - START -->
                                   <a class="place-holder music" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Music</h1>
                                                   <span class="border"></span>
                                                   <p>Singing, listening, playing &amp; making</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION NINE - END -->

                                   <!-- SECTION TEN - START -->
                                   <a class="place-holder clubs-teams" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Clubs or teams</h1>
                                                   <span class="border"></span>
                                                   <p>Meberships in all shapes &amp; sizes</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION TEN - END -->

                                   <!-- SECTION ELEVEN - START -->
                                   <a class="place-holder gaming" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Gaming</h1>
                                                   <span class="border"></span>
                                                   <p>Computer games to board games</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION ELEVEN - END -->

                                   <!-- SECTION TWELEVE - START -->
                                   <a class="place-holder driving" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Driving</h1>
                                                   <span class="border"></span>
                                                   <p>Driving to the shops or round a track</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION TWELEVE - END -->

                                   <!-- SECTION THIRTEEN - START -->
                                   <a class="place-holder fashion" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Fashion</h1>
                                                   <span class="border"></span>
                                                   <p>Ralph Lauren to Primark</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION THIRTEEN - END -->

                                   <!-- SECTION FOURTEEN - START -->
                                   <a class="place-holder beauty" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Beauty</h1>
                                                   <span class="border"></span>
                                                   <p>Putting on make up to cutting hair</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION FOURTEEN - END -->

                                   <!-- SECTION FIFTEEN - START -->
                                   <a class="place-holder arts-craft" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Arts &amp; Craft</h1>
                                                   <span class="border"></span>
                                                   <p>Making a card to painting a portrait</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION FIFTEEN - END -->

                                   <!-- SECTION SIXTEEN - START -->
                                   <a class="place-holder diy" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">DIY</h1>
                                                   <span class="border"></span>
                                                   <p>Hanging a picture to building a chair</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION SIXTEEN - END -->

                                   <!-- SECTION SEVENTEEN - START -->
                                   <a class="place-holder nothing" onClick="onClick()">
                                        <div class="inner">
                                              <span class="icon"></span>
                                              <div class="text">
                                                   <h1 class="heading-s">Nothing</h1>
                                                   <span class="border"></span>
                                                   <p>Chilling out on your own</p>
                                              </div>
                                              <div class="wrapper"></div>
                                        </div>
                                   </a>
                                   <!-- SECTION SEVENTEEN - END -->

                              </div>

                         </main>
                         <!-- /////////////////////////////// PRIMARY CONTENT - END /////////////////////////////// -->

                    </div>
               </div>

               <!-- /////////////////////////////// FOOTER CONTENT - START /////////////////////////////// -->
               <div class="explore-index grid-row">
                    <div class="grid-column-full container">
                         <a href="/campaign/explore/3-question-3.html" class="button">
                              Continue
                              <span class="counter">
                                   <p>
                                        <span id="clicks">0</span>
                                        <br>
                                        <span class="sub-text">Interests</span>
                                   </p>
                              </span>
                         </a>
                         <a href="javascript:history.back()" class="back">&lt; &nbsp; Back</a>
                    </div>
               </div>
               <!-- /////////////////////////////// FOOTER CONTENT - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}


     </body>

</html>
