<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/explore/_em-EX-4-heading.html' %}

               <main id="main-content" class="main-content explore-content employer">

                    <div class="grid-row">
                         <div class="grid-column-full">

                              <!-- /////////////////////////////// PRIMARY CONTENT - START /////////////////////////////// -->
                              <div id="section-4" class="item-wrapper grid">

                                   <!-- SECTION 1 - START -->
                                   <label class="place-holder hire-someone" for="hire-someone">
                                        <input class="" type="radio" id="hire-someone" name="apprenticeship-type">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Hire someone new</h1>
                                                  <span class="border"></span>
                                                  <p>From thrillers to car manuals</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 1 - END -->

                                   <!-- SECTION 2 - START -->
                                   <label class="place-holder retrain-current-staff" for="retrain-current-staff">
                                        <input class="" type="radio" id="retrain-current-staff" name="apprenticeship-type">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">Upskill or retrain current staff</h1>
                                                  <span class="border"></span>
                                                  <p>Discovering the world</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 2 - END -->

                                   <!-- SECTION 3 - START -->
                                   <label class="place-holder i-dont-know"  for="i-dont-know">
                                        <input class="" type="radio" id="i-dont-know" name="apprenticeship-type">
                                        <div class="inner">
                                             <div class="text">
                                                  <h1 class="heading-s">I’m open to either</h1>
                                                  <span class="border"></span>
                                                  <p>Do you love the new digital world?</p>
                                             </div>
                                             <span class="icon"></span>
                                             <div class="wrapper"></div>
                                        </div>
                                   </label>
                                   <!-- SECTION 3 - END -->

                              </div>

                         </main>
                         <!-- /////////////////////////////// PRIMARY CONTENT - END /////////////////////////////// -->

                    </div>
               </div>

               <!-- /////////////////////////////// FOOTER CONTENT - START /////////////////////////////// -->
               <div class="explore-index grid-row">
                    <div class="grid-column-full container">
                         <a href="/campaign/explore/5-question-5.html" class="button">Continue</a>
                         <a href="javascript:history.back()" class="back">&lt; &nbsp; Back</a>
                    </div>
               </div>
               <!-- /////////////////////////////// FOOTER CONTENT - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}


     </body>

</html>
