<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/explore/_em-EX-5-heading.html' %}

               <!-- /////////////////////////////// CONTENT 1 - START /////////////////////////////// -->
               <div id="section-1" class="bespoke-content-section">

                    <div class="text-content">
                         <div class="title-wrapper" data-aos="fade-left">
                              <h2 class="heading-m">Section 01</h2>
                              <h3 class="heading-l">First things first...</h3>
                         </div>
                         <p class="lead-paragraph" data-aos="fade-right">
                              Before we discover your tailored tips, here are the key facts all employers should know about apprenticeships.
                         </p>
                         <div class="information">
                              <div class="info-three" data-aos="fade-up">
                                   <span class="number">1</span>
                                   <p>Your apprentices will receive off-the-job training from a training provider, teaching them the knowledge, skills and behaviours set out in the apprenticeship standard.</p>
                              </div>
                              <div class="info-one" data-aos="fade-down">
                                   <span class="number">2</span>
                                   <p>Apprenticeships are available at any level from GCSE to master’s degree.</p>
                              </div>
                              <div class="info-three" data-aos="fade-up">
                                   <span class="number">3</span>
                                   <p>You’ll need to supervise your apprentice on the job, training them to perform the work for which they’ve been employed.</p>
                              </div>
                              <div class="info-two" data-aos="fade-down">
                                   <span class="number">4</span>
                                   <p>They’re suitable for people who are at least 16, living in England and not in full-time education.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- /////////////////////////////// CONTENT 1 - START /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 2 - START /////////////////////////////// -->
               <div id="section-2" class="bespoke-content-section">
                    <section class="sector-jobs">
                         <div class="text-content">
                              <div class="title-wrapper" data-aos="fade-left">
                                   <h2 class="heading-m">Section 02</h2>
                                   <h3 class="heading-l">Your potential apprenticeships</h3>
                              </div>
                              <p class="lead-paragraph no-top-margin" data-aos="fade-right">
                                   These apprenticeship standards could boost the skills you need in your organisation.
                              </p>
                              <p><a href="/campaign/FAT/1-FAT-search" class="" data-aos="fade-right">View more apprenticeship standards.</a></p>
                              <h2 class="heading-s"data-aos="fade-left">
                                   Top 6 apprenticeships for you:
                              </h2>
                         </div>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="/campaign/FAT/3A-FAT-apprenticeship?id=196" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">BUSINESS ADMINISTRATOR</h2>
                                   <h3 class="heading-xs"><div class="number-wrapper"><span class="number">23</span></div> training providers</h3>
                                   <!-- <p>£18,990 per year</p> -->
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="/campaign/FAT/3B-FAT-apprenticeship?id=490-3-1" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">BUSINESS AND ADMINISTRATION</h2>
                                   <h3 class="heading-xs"><div class="number-wrapper"><span class="number">18</span></div> training providers</h3>
                                   <!-- <p>£17,500 per year</p> -->
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="/campaign/FAT/3C-FAT-apprenticeship?id=620-20-1" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="700" data-aos-offset="0">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">BUSINESS AND PROFESSIONAL ADMINISTRATION</h2>
                                   <h3 class="heading-xs"><div class="number-wrapper"><span class="number">28</span></div> training providers</h3>
                                   <!-- <p>£16,000 - £18,000 per year</p> -->
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="/campaign/FAT/3D-FAT-apprenticeship?id=286" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="800" data-aos-offset="0">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">PAYROLL ADMINISTRATOR</h2>
                                   <h3 class="heading-xs"><div class="number-wrapper"><span class="number">15</span></div> training providers</h3>
                                   <!-- <p>£12,000 - £18,000 per year</p> -->
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="/campaign/FAT/3E-FAT-apprenticeship?id=232" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="900" data-aos-offset="0">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">SCHOOL BUSINESS PROFESSIONAL</h2>
                                   <h3 class="heading-xs"><div class="number-wrapper"><span class="number">14</span></div> training providers</h3>
                                   <!-- <p>£11,958 - £14,958 per year</p> -->
                              </a>
                              <!-- Job 5 - END -->

                              <!-- Job 6 - START -->
                              <a href="#" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1000" data-aos-offset="0">
                                   <span class="number">6</span>
                                   <h2 class="heading-xs">Business and Administration</h2>
                                   <h3 class="heading-xs"><div class="number-wrapper"><span class="number">12</span></div> training providers</h3>
                                   <!-- <p>£18,990 per year</p> -->
                              </a>
                              <!-- Job 6 - END -->

                         </div>
                    </section>
               </div>
               <!-- /////////////////////////////// CONTENT 2 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 3 - START /////////////////////////////// -->
               <div id="section-3" class="bespoke-content-section">
                    <div class="text-content" data-aos="fade-up">
                         <div class="title-wrapper" data-aos="fade-left">
                              <h2 class="heading-m">Section 03</h2>
                              <h3 class="heading-l">Real stories for you</h3>
                         </div>
                         <p class="lead-paragraph">
                              We’ve picked out the real-life apprenticeship stories we think you’ll find most useful.
                         </p>
                         <p>
                              Below is a look at how <strong class="inspire-sectors"></strong> apprenticeships can boost your business.
                         </p>
                         <hr>
                         <p><a href="/campaign/real-stories/employers" class="">Discover more of our real stories.</a></p>
                    </div>
                    <div class="real-stories">

                         <iframe width="450" height="400" src="https://www.youtube.com/embed/5hGuBfCx85M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-aos="fade-left"></iframe>

                    </div>
               </div>
               <!-- /////////////////////////////// CONTENT 3 - END /////////////////////////////// -->

               <!-- /////////////////////////////// QUOTE 1 - START /////////////////////////////// -->
               <div id="quoteOneModal" class="explore-quotes">
                    <section class="real-stories-quotes main-content">
                         <div class="grid-row">
                              <div class="grid-column-one-third">
                                   <div class="quote-block-black">
                                        <blockquote>
                                             <div class="quote"></div>
                                             <h2>
                                                  Apprenticeships help us to develop our workforce with the skills that we need asa business, now and in the future
                                             </h2>
                                             <div class="cite">
                                                  Laura Keen
                                                  <span class="cite-detail-job-title">
                                                       Apprenticeship Leader
                                                  </span>
                                             </div>
                                        </blockquote>
                                        <div class="logo">
                                             <p>EY</p>
                                        </div>
                                   </div>
                              </div>
                              <div class="grid-column-two-thirds">
                                   <div class="quote-wrapper">
                                        <div class="caption">
                                             <span class="caption-icon"></span>
                                             <h2 class="heading-xs caption-text">Real stories</h2>
                                        </div>
                                        <h1 class="heading-l">EY</h1>
                                        <h2 class="heading-xs">DEVELOPING FUTURE LEADERS</h2>
                                        <p>
                                             Apprenticeships form part of our talent pipeline, from which we identify future leaders.
                                             In our experience, apprentices are hungry to learn and develop new skills. They bring a fresh
                                             perspective, commitment to our values, and high rates of retention. They help us to develop
                                             our workforce with the skills that we need as a business, now and in the future.
                                        </p>
                                        <h2 class="heading-xs">WORKING WITH THE RIGHT TRAINING PROVIDER</h2>
                                        <p>
                                             Our apprentices’ experience both on and off the job is fundamental to the success of the
                                             programme and their future development. We work closely with our training providers in
                                             supporting our apprentices to gain a breadth of experience that’s relevant to their study.
                                        </p>
                                        <h2 class="heading-xs">LEVELING THE PLAYING FIELD</h2>
                                        <p>
                                             In 2015 we removed academic entry criteria from our student recruitment process, broadening
                                             our pool of talent. We also operate a ‘blind CV’ policy that helps us to create a level playing
                                             field for all candidates and promotes greater diversity among our workforce.
                                        </p>
                                   </div>
                              </div>
                         </div>
                    </section>
               </div>

               <!-- <blockquote id="section-quote" class="full-width bespoke-content-section">
                    <div class="content-wrapper">
                         <div class="quote" data-aos="fade-up"></div>
                         <h2 data-aos="flip-down">
                              We resource our strategic workforce plan because we work in a very specialised area and need to train people
                              specifically for the roles. Without apprentices, we wouldn't be able to find the people we need.
                         </h2>
                         <div class="cite" data-aos="fade-down">
                              Bryan Ashford
                              <span class="cite-detail">
                                   National Grid
                              </span>
                         </div>
                    </div>
               </blockquote> -->
               <!-- /////////////////////////////// QUOTE 1 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 4 - START /////////////////////////////// -->
               <div id="section-4" class="bespoke-content-section">
                    <div class="text-content" data-aos="fade-right">
                         <div class="title-wrapper">
                              <h2 class="heading-m">Section 04</h2>
                              <h3 class="heading-l">You might be interested to hear...</h3>
                         </div>
                         <!-- <p class="lead-paragraph">
                              <a href="#" class="">More interesting facts</a>
                         </p> -->
                    </div>
                    <div class="facts-row one">
                         <div class="fact-one" data-aos="flip-left">
                              <span class="number">67</span>
                              <p>
                                   There are currently <strong>67</strong> active <strong>Business and administration</strong> apprenticeships
                              </p>
                         </div>
                         <div class="fact-two" data-aos="flip-left">
                              <span class="number">98</span>
                              <p>
                                   <strong>98</strong> active <strong>Engineering and manufacturing</strong> apprenticeships.
                              </p>
                         </div>
                         <div class="fact-three" data-aos="flip-left">
                              <span class="number">257</span>
                              <p>
                                   There are <strong>257</strong> active apprenticeships in <strong id="postCode-employer"></strong>
                              </p>
                         </div>
                    </div>
                    <div class="facts-row two">
                         <div class="fact-one" data-aos="flip-right">
                              <span class="number">development of skills</span>
                              <p>
                                   In a recent survey of employers, the most commonly reported benefit of providing apprenticeships was the <strong>development
                                   of skills</strong> relevant to their organisation. Other benefits included improved productivity, better quality of
                                   products or services, and higher staff morale. You can view the survey here.
                              </p>
                         </div>
                         <div class="fact-two" data-aos="flip-right">
                              <span class="number">82%</span>
                              <p>
                                   The same survey found that eight out of ten <strong>(82%)</strong> employers would recommend apprenticeships to others.
                              </p>
                         </div>
                    </div>
                    <!-- <div class="facts-row three">
                         <div class="fact-one" data-aos="flip-left"><span class="number">3,891</span><p>current active apprenticeships in each industry</p></div>
                         <div class="fact-two" data-aos="flip-left"><span class="number">289</span><p>apprentice starts in each industry - this year</div>
                         <div class="fact-three" data-aos="flip-left"><span class="number">Hairdressing</span><p>The most popular apprenticeship in your chosen industry</div>
                    </div> -->
               </div>
               <!-- /////////////////////////////// CONTENT 4 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 5 - START /////////////////////////////// -->
               <div id="section-5" class="bespoke-content-section">
                    <span class="decor one"></span>
                    <span class="decor two"></span>
                    <span class="decor three"></span>
                    <div class="text-content">
                         <div class="title-wrapper" data-aos="fade-right">
                              <h2 class="heading-m">Section 05</h2>
                              <h3 class="heading-l">Funding your apprenticeship</h3>
                              <p><a href="/campaign/employer/B-how-much-is-it-going-to-cost-C" class="">Read more about funding your apprenticeship.</a></p>
                         </div>
                    </div>

                    <!-- NON-LEVY - START -->
                    <ol class="inspire-decision non-levy-content" data-aos="fade-left">
                         <li>
                              As an employer with a pay bill of less than £3 million per year, you’ll get funding from the government to pay
                              towards training and assessing apprentices.
                         </li>
                         <li>
                              The amount of funding you get depends on the number of employees you have and the apprentice you’re hiring.
                         </li>
                         <li>
                              You’ll need to pay the apprentice’s salary, which will be at least the apprentice
                              <a href="https://www.gov.uk/national-minimum-wage-rates" class="external" rel="external" target="_blank">minimum wage rate</a> (currently £4.15).
                         </li>
                    </ol>
                    <!-- NON-LEVY - END -->

                    <!-- LEVY - START -->
                    <ol class="inspire-decision levy-content" data-aos="fade-left">
                         <li>
                              As an employer with a pay bill of more than £3 million, you’re required to pay the apprenticeship levy.
                         </li>
                         <li>
                              You’ll receive funds through the apprenticeship service to spend on training and assessing your apprentices.
                         </li>
                         <li>
                              You’ll need to pay the apprentice’s salary, which will be at least the apprentice
                              <a href="https://www.gov.uk/national-minimum-wage-rates" class="external" rel="external" target="_blank">minimum wage rate</a> (currently £4.15).
                         </li>
                    </ol>
                    <!-- LEVY - END -->

                    <!-- I DON'T KNOW - START -->
                    <ol class="inspire-decision i-dont-know-content" data-aos="fade-left">
                         <li>
                              If your pay bill is less than £3 million per year, you’ll get funding from the government to pay towards training and assessing apprentices.
                              The amount depends on the number of employees you have and the apprentice you’re hiring.
                         </li>
                         <li>
                              If your pay bill is more than £3 million, you’re required to pay the apprenticeship levy.
                              This means you’ll receive funds through the apprenticeship service to spend on training and assessing your apprentices.
                         </li>
                         <li>
                              Either way, you’ll need to pay the apprentice’s salary. This will be at least the apprentice
                              <a href="https://www.gov.uk/national-minimum-wage-rates" class="external" rel="external" target="_blank">minimum wage rate</a> (currently £4.15).
                         </li>
                    </ol>
                    <!-- I DON'T KNOW - END -->

               </div>
               <!-- /////////////////////////////// CONTENT 5 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 6 - START /////////////////////////////// -->
               <div id="section-6" class="bespoke-content-section">
                    <div class="text-content">
                         <div class="title-wrapper">
                              <h2 class="heading-m">Section 06</h2>
                              <h3 class="heading-l">So, what’s next?</h3>
                         </div>
                         <p class="lead-paragraph no-top-margin">
                              If you want to learn more, take a look around!
                         </p>
                         <p>
                              There’s plenty of information about <a href="/campaign/employer/B-hire-an-apprentice-A">hiring an apprentice</a>
                              from outside your organisation and <a href="/campaign/employer/B-retrain-staff-B">upskilling your current staff</a>.
                         </p>
                         <p>
                              View our guidance on <a href="/campaign/employer/B-how-much-is-it-going-to-cost-C">funding an apprenticeship</a> for
                              more detailed information about the financial side of things.
                         </p>
                         <p>
                              Not sure how training works? Take a look at our
                              <a href="/campaign/employer/B-training-your-apprentice-D">tips for training an apprentice</a>, and learn about
                              the <a href="/campaign/employer/B-assessment-and-qualification-E">end-point assessment</a>
                              they’ll need to take at the end of the apprenticeship.
                         </p>

                         <hr>

                         <h3 class="heading-m no-top-margin no-bottom-margin">Ready to take a look at the full selection of standards?</h3>
                         <p class="no-bottom-margin">
                              You can <a href="/campaign/FAT/1-FAT-search">search for an apprenticeship</a> and suitable training providers now.
                         </p>
                    </div>
               </div>
               <!-- /////////////////////////////// CONTENT 6 - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          <script src="/dist/js/animate-numbers.js"></script>

          {% include '../components/footer/_scripts.html'%}

          <!-- SCRIPT CONTENT - START -->
          <script type="text/javascript">

               if($(window).width() > 481) {
                    $(function() {
                         moveScroller();
                    });
               }

          </script>
          <!-- SCRIPT CONTENT - END -->

     </body>

</html>
