<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/explore/_em-EX-6-heading.html' %}

               <!-- /////////////////////////////// CONTENT 1 - START /////////////////////////////// -->
               <div id="section-1" class="bespoke-content-section">
                    <div class="text-content" data-aos="fade-up">
                         <div class="title-wrapper" data-aos="fade-left">
                              <h2 class="heading-m">Section 01</h2>
                              <h3 class="heading-l">Take a look at some real stories</h3>
                         </div>
                         <p class="lead-paragraph">
                              We’ve picked out a selection of videos and case studies that are most relevant to you.
                              They showcase apprenticeship standards designed to boost skills you need, plus
                              real-life stories from your industry.
                         </p>
                         <hr>
                         <p><a href="#" class="">Discover the full selection of real stories.</a></p>
                    </div>
                    <div class="real-stories">

                         <!-- A - 1 - START -->
                         <a class="real-story one" data-aos="fade-left" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="em-plyr-1" data-videourl="https://www.youtube.com/embed/5hGuBfCx85M?origin=https://das-at-frnt-end.azureedge.net&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1">
                              <span class="icon play">play video</span>
                              <div class="image-wrapper">
                                   <div class="hover-content">
                                        <div>
                                             <h3 class="heading-m">GAIL SAXON</h3>
                                             <h4 class="heading-s">HR MANAGER, ROBERT WELCH DESIGN</h4>
                                             <p>Watch the video</p>
                                        </div>
                                   </div>
                                   <img src="/dist/campaign/images/employer/gail-hero-1.jpg" class="">
                              </div>
                         </a>
                         <!-- A - 1 - END -->

                         {% include '../components/modal/_quoteOneModal.html'%}

                         <!-- A - 2 - START -->
                         <a class="real-story two" data-aos="fade-right" href="#quoteOneModal" rel="modal:open">
                              <span class="icon quote">read quote</span>
                              <div class="image-wrapper">
                                   <div class="quote-content">
                                        <div>
                                             <h3 class="heading-s">Real story</h3>
                                             <h4 class="heading-m">Ey</h4>
                                             <p>Read the story</p>
                                        </div>
                                   </div>
                              </div>
                         </a>
                         <!-- A - 2 - END -->

                         {% include '../components/modal/_quoteTwoModal.html'%}

                         <!-- A - 3 - START -->
                         <a class="real-story three" data-aos="fade-left" href="#quoteTwoModal" rel="modal:open">
                              <span class="icon quote">read quote</span>
                              <div class="image-wrapper">
                                   <div class="quote-content">
                                        <div>
                                             <h3 class="heading-s">Real story</h3>
                                             <h4 class="heading-m">Hays travel</h4>
                                             <p>Read the story</p>
                                        </div>
                                   </div>
                              </div>
                         </a>
                         <!-- A - 3 - END -->

                         {% include '../components/modal/_quoteThreeModal.html'%}

                         <!-- A - 4 - START -->
                         <a class="real-story four" data-aos="fade-right" href="#quoteThreeModal" rel="modal:open">
                              <span class="icon quote">read quote</span>
                              <div class="image-wrapper">
                                   <div class="quote-content">
                                        <div>
                                             <h3 class="heading-s">Real story</h3>
                                             <h4 class="heading-m">CHRISTIE’S</h4>
                                             <p>Read the story</p>
                                        </div>
                                   </div>
                              </div>
                         </a>
                         <!-- A - 4 - END -->



                         <!-- A - 5 - START -->
                         <a class="real-story five" data-aos="fade-left" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="em-plyr-4" data-videourl="https://www.youtube.com/embed/5qnghDBPLHo?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">
                              <span class="icon play">play video</span>
                              <div class="image-wrapper">
                                   <div class="hover-content">
                                        <div>
                                             <h3 class="heading-m">BENDY ASHFIELD</h3>
                                             <h4 class="heading-s">APPRENTICESHIP MANAGER, ROYAL OPERA HOUSE</h4>
                                             <p>Watch the video</p>
                                        </div>
                                   </div>
                                   <img src="/dist/campaign/images/employer/bendy-hero-1.jpg" class="">
                              </div>
                         </a>
                         <!-- A - 5 - END -->

                    </div>
               </div>
               <!-- /////////////////////////////// CONTENT 1 - END /////////////////////////////// -->

               <!-- /////////////////////////////// QUOTE 1 - START /////////////////////////////// -->
               <blockquote id="section-quote" class="full-width bespoke-content-section">
                    <div class="content-wrapper">
                         <div class="quote" data-aos="fade-up"></div>
                         <h2 data-aos="flip-down">
                              We resource our strategic workforce plan because we work in a very specialised area and need to train people
                              specifically for the roles. Without apprentices, we wouldn't be able to find the people we need.
                         </h2>
                         <div class="cite" data-aos="fade-down">
                              Bryan Ashford
                              <span class="cite-detail">
                                   National Grid
                              </span>
                         </div>
                    </div>
               </blockquote>
               <!-- /////////////////////////////// QUOTE 1 - END /////////////////////////////// -->


               <!-- /////////////////////////////// CONTENT 2 - START /////////////////////////////// -->
               <div id="section-2" class="bespoke-content-section">
                    <section class="sector-jobs">
                         <div class="text-content">
                              <div class="title-wrapper" data-aos="fade-left">
                                   <h2 class="heading-m">Section 02</h2>
                                   <h3 class="heading-l">Your potential apprenticeships</h3>
                              </div>
                              <p class="lead-paragraph no-top-margin" data-aos="fade-right">
                                   These apprenticeship standards are designed to boost the skills you need in your organisation.
                              </p>
                              <p><a href="#" class="" data-aos="fade-right">View more apprenticeship standards.</a></p>
                              <h2 class="heading-s"data-aos="fade-left">
                                   Top 6 apprenticeships for you:
                              </h2>
                         </div>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-362656" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">Beauty Therapy Apprenticeship</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-377450" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">Intermediate Apprenticeship in Beauty Therapy</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£17,500 per year</p>
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-362413" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="700" data-aos-offset="0">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">Beauty Therapy Advanced Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£16,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-373456" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="800" data-aos-offset="0">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">Hairdressing Apprentice at Great Notley Hair and Beauty</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Newcastle Upon Tyne</h3>
                                   <p>£12,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-379043" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="900" data-aos-offset="0">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">Hair and Beauty Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>London</h3>
                                   <p>£11,958 - £14,958 per year</p>
                              </a>
                              <!-- Job 5 - END -->

                              <!-- Job 6 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-362656" class="job" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1000" data-aos-offset="0">
                                   <span class="number">6</span>
                                   <h2 class="heading-xs">Beauty Therapy Apprenticeship</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 6 - END -->

                         </div>
                    </section>
               </div>
               <!-- /////////////////////////////// CONTENT 2 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 3 - START /////////////////////////////// -->
               <div id="section-3" class="bespoke-content-section">
                    <span class="decor one"></span>
                    <span class="decor two"></span>
                    <span class="decor three"></span>
                    <div class="text-content">
                         <div class="title-wrapper" data-aos="fade-right">
                              <h2 class="heading-m">Section 03</h2>
                              <h3 class="heading-l">Can you afford it?</h3>
                              <p><a href="#" class="">Read more about funding your apprenticeship.</a></p>
                         </div>
                    </div>
                    <ol class="">
                         <li data-aos="fade-left">On average, organisations in your industry pay apprentices a salary of <strong>[average amount]</strong>.</li>
                         <li data-aos="fade-right">
                              As an employer with a pay bill of less than £3 million per year, you’ll share apprenticeship costs with
                              the government if you have at least 50 employees.
                         </li>
                         <li data-aos="fade-left">Affordability point 3</li>
                         <li data-aos="fade-right">Affordability point 4</li>
                         <li data-aos="fade-left">Affordability point 5</li>
                    </ol>
               </div>
               <!-- /////////////////////////////// CONTENT 3 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 4 - START /////////////////////////////// -->
               <div id="section-4" class="bespoke-content-section">
                    <div class="text-content">
                         <div class="title-wrapper">
                              <h2 class="heading-m">Section 04</h2>
                              <h3 class="heading-l">You might be interested to hear...</h3>
                         </div>
                         <p class="lead-paragraph">
                              Have we convinced you enough?
                         </p>
                         <p><a href="#" class="">More interesting facts</a></p>
                    </div>
               </div>
               <!-- /////////////////////////////// CONTENT 4 - END /////////////////////////////// -->

               <!-- /////////////////////////////// CONTENT 5 - START /////////////////////////////// -->
               <div id="section-5" class="bespoke-content-section">
                    <div class="text-content" data-aos="fade-down">
                         <div class="title-wrapper" data-aos="fade-right">
                              <h2 class="heading-m">Section 05</h2>
                              <h3 class="heading-l">So, what’s next?</h3>
                         </div>
                         <p class="lead-paragraph">
                              If you’re interested in learning more about apprenticeships, take a look around the site. There’s loads
                              of advice, from <a href="/campaign/employer/B-hire-an-apprentice-A">hiring an apprentice</a> and
                              <a href="/campaign/employer/B-retrain-staff-B">retraining current staff</a> to
                              <a href="/campaign/employer/B-how-much-is-it-going-to-cost-C">funding guidance</a> and
                              <a href="/campaign/employer/B-training-your-apprentice-D">tips for training an apprentice.</a>
                         </p>
                         <p class="lead-paragraph">
                              If you’re ready to take a look at the full selection of standards, you can
                              <a href="/campaign/FAT/1-FAT-search">search for an apprenticeship</a> now.
                         </p>
                         <a href="/campaign/employer/benefits-to-your-business" class="button button--black">The benefits</a>
                    </div>
               </div>
               <!-- /////////////////////////////// CONTENT 5 - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
