<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template" data-page-id="1">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap explore">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/_em-EX-1-heading.html' %}

               <main id="main-content" class="main-content explore-content employer">

                    <!-- /////////////////////////////// PRIMARY CONTENT - START /////////////////////////////// -->
                    <div class="grid-row intro-text">
                         <div class="grid-column-full">
                              <h2 class="heading-l">How Apprenticeship Service Explore works</h2>
                              <p>
                                   Below is a brief explanation of the Explore service we offer you
                              </p>
                         </div>
                    </div>

                    <div class="section-wrapper">

                         <!-- SECTION ONE - START -->
                         <section class="journey-section section-1">
                              <div class="border visually-hidden">
                                   <span class="spot top"></span>
                                   <span class="spot bottom"></span>
                              </div>
                              <div class="image aos-init aos-animate" data-aos="fade-right">
                                   <img src="/dist/campaign/images/employer/explore/index-icon-1.svg">
                              </div>
                              <div class="text">
                                   <h3 class="heading-m">We'll ask you 5 simple questions</h3>
                                   <p>
                                        Enter you hobbies &amp; interests, skills, preferred work environment, commuting distance &amp; motivations,
                                        and we'll show you where you can achieve your dreams and change the world.
                                   </p>
                              </div>
                         </section>
                         <!-- SECTION ONE - END -->

                         <!-- SECTION TWO - START -->
                         <section class="journey-section section-2">
                              <div class="border">
                                   <span class="spot top"></span>
                                   <span class="spot bottom"></span>
                              </div>
                              <div class="image aos-init aos-animate" data-aos="fade-left">
                                   <img src="/dist/campaign/images/employer/explore/index-icon-2.svg">
                                   <div class="text">
                                        <h3 class="heading-m">We'll then show you some job families</h3>
                                        <p>
                                             The Apprenticeship service has developed a list of sectors which groups apprenticeships together and
                                             will offer you a route that you may not have though about but suit your companies needs.
                                        </p>
                                   </div>
                              </div>
                         </section>
                         <!-- SECTION TWO - END -->

                         <!-- SECTION THREE - START -->
                         <section class="journey-section section-3">
                              <div class="border">
                                   <span class="spot top"></span>
                                   <span class="spot bottom"></span>
                              </div>
                              <div class="image aos-init aos-animate" data-aos="fade-right">
                                   <img src="/dist/campaign/images/employer/explore/index-icon-3.svg">
                                   <div class="text">
                                        <h3 class="heading-m">Take a look at the apprenticeships</h3>
                                        <p>
                                             Once you selected a sector we'll then show you apprenticeships that matches your needs, and that's
                                             how easy it is.
                                        </p>
                                   </div>
                              </div>
                         </section>
                         <!-- SECTION THREE - END -->

                    </div>

               </main>

               <hr>

               <div class="grid-row closing-text">
                    <div class="grid-column-full">
                         <h2 class="heading-l">Here's what you could learn</h2>
                         <p>
                              Based on your skills we could show you a profession that you never thought you could do
                         </p>
                    </div>
               </div>

               <div class="main-content">
                    <div class="grid-row">
                         <div class="grid-column-full">

                              <div class="closing-text-container">
                                   <div class="items">
                                        <img src="/dist/campaign/images/employer/explore/index-icon-7.svg">
                                        <h2 class="heading-m">New career paths</h2>
                                        <p>
                                             We could show you job families which you never thought your skills would suit
                                        </p>
                                   </div>
                                   <div class="items">
                                        <img src="/dist/campaign/images/employer/explore/index-icon-6.svg">
                                        <h2 class="heading-m">New ways to earn money</h2>
                                        <p>
                                             Find new ways to earn money, maybe your dream job pays more than you think
                                        </p>
                                   </div>
                                   <div class="items">
                                        <img src="/dist/campaign/images/employer/explore/index-icon-5.svg">
                                        <h2 class="heading-m">New start in life</h2>
                                        <p>
                                             Everybody can start a fresh, maybe that dream job is waiting for you
                                        </p>
                                   </div>
                                   <div class="items">
                                        <img src="/dist/campaign/images/employer/explore/index-icon-4.svg">
                                        <h2 class="heading-m">Enjoy your job</h2>
                                        <p>
                                             Not everybody is happy with their job and that's okay, but why not do a job you love?
                                        </p>
                                   </div>
                              </div>

                         </div>
                    </div>
               </div>
               <!-- /////////////////////////////// PRIMARY CONTENT - END /////////////////////////////// -->

               <!-- /////////////////////////////// FOOTER CONTENT - START /////////////////////////////// -->
               <div class="index grid-row">
                    <div class="grid-column-full container">
                         <a href="/campaign/explore/1-question-1.html" class="button">Start now</a>
                    </div>
               </div>
               <!-- /////////////////////////////// FOOTER CONTENT - END /////////////////////////////// -->

          </div>

          {% include '../components/footer/_footer-employer.html'%}

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
          window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}


     </body>

</html>
