<!-- ============================= CORONAVIRUS BANNER - START ============================= -->
<div class="coronavirus-banner version-3">
     <div class="gov-uk-banner">
          <div class="grid-row">
               <div class="grid-column-two-thirds">
                    <img src="/dist/campaign/images/gov-uk-white.png" class="gov-uk-logo">
               </div>
               <div class="grid-column-one-third">
               </div>
          </div>
     </div>

     <div class="content-banner">
          <div class="grid-row">
               <div class="grid-column-full">
                    <div class="main-cta-wrapper">
                         <h2 class="heading-m no-bottom-margin no-top-margin">
                              Coronavirus (COVID-19): to find out about changes to apprenticeships and ways of working,
                              <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003798540-Apprentice" target="_blank" rel="external">read our guidance for apprentices</a>.
                         </h2>
                         <!-- <p class="no-bottom-margin no-top-margin">All apprentice articles for the apprenticeship service</p> -->
                    </div>
                    <p class="hide-class"><a href="#" id="hide-coronavirus">Hide message</a></p>
               </div>
          </div>
     </div>
</div>
<!-- ============================= CORONAVIRUS BANNER - END ============================= -->
