<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 1 - How much is it going to cost me?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="3">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-1-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-1 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">


                     <div class="page">

                          <!-- <h2 class="heading-l no-top-margin" id="heading1">How much will it cost me?</h2>

                          <p>
                              You can get help from the government to pay for apprenticeship training and assessment.
                              The amount you get depends on whether you pay the apprenticeship levy or not.
                              You will pay the apprenticeship levy if you're an employer with a pay bill over £3 million each year.
                          </p>

                          <p>
                              Apprenticeship funding is a devolved matter and so how you get your funds and pay
                              for training depends on whether you're in:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>England</li>
                              <li><a href="https://www.apprenticeships.scot/" target="_blank" rel="external" class="external">Scotland</a></li>
                              <li><a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" class="external">Wales</a></li>
                              <li><a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" class="external">Northern Ireland</a></li>
                          </ul> -->

                          <h2 class="heading-m no-top-margin" id="heading1">Apprenticeship funding from the government</h2>
                          <h2 class="heading-s no-top-margin">Apprenticeship training and assessment</h2>

                          <p>
                               As an employer with a pay bill of less than £3 million per year, you’ll share apprenticeship
                               costs with the government. This means:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>you’ll pay 5% towards the cost of training and assessing your apprentice</li>
                              <li>the government will pay the remaining 95%, up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" target="_blank" rel="external" class="external">funding band maximum</a></li>
                              <li>if your apprentice’s training and assessment cost more than this, you’ll pay the difference</li>
                          </ul>

                          <h2 class="heading-s no-top-margin">Support for small employers and training young apprentices</h2>

                          <p>
                               All employers will receive £1,000 if, at the start of the apprenticeship, the apprentice is:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>between 16 and 18 years old (or 15 years old if the apprentice’s 16th birthday is between the last Friday of June and 31 August)</li>
                              <li>between 19 and 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority or has been in the care of their local authority</li>
                          </ul>

                          <p>
                               If your apprentice meets these criteria and you’re an employer with fewer than 50 employees,
                               the government will fund all the apprenticeship training costs up to the funding band maximum.
                               This means you won’t pay the 5% co-investment amount.
                          </p>

                          <h2 class="heading-m" id="heading2">Apprenticeship costs paid by you</h2>
                          <h2 class="heading-s no-top-margin">Your apprentice’s salary</h2>

                          <p>
                               You must pay your apprentice at least the National Minimum Wage for their normal working hours
                               and the training they undertake as part of the apprenticeship.
                         </p>

                         <p>
                              If they’re under 19 or aged 19 or over and in their first year, they’re entitled to the
                              apprentice rate. If they’re aged 19 or over and they’ve completed their first year, they must
                              be paid at least the minimum wage rate for their age.
                         </p>

                         <h2 class="heading-s no-top-margin">Other costs</h2>

                         <p>
                              As well as paying 5% towards the cost of training and assessing your apprentice, you may need to pay for:
                         </p>

                         <ul class="list list--bullet list--bullet-employer">
                             <li>XXX</li>
                             <li>XXX</li>
                         </ul>

                         <h2 class="heading-m" id="heading3">Checking the apprentice is eligible</h2>

                         <p>
                              To get funding for an apprenticeship, you’ll need to check the apprentice meets certain
                              criteria. For example, they must:
                         </p>

                         <ul class="list list--bullet list--bullet-employer">
                              <li>start their apprenticeship after the last Friday in June of the academic year in which they have their 16th birthday</li>
                              <li>be able to complete the apprenticeship within the time they have available</li>
                              <li>not be asked to contribute financially to the cost of training or end-point assessment</li>
                              <li>spend at least 50% of their working hours in England over the duration of the apprenticeship</li>
                             <li>have the right to work in England, and eligible residency</li>
                         </ul>

                         <h2 class="heading-m" id="heading4">Paying for apprenticeships using a transfer of apprenticeship funds</h2>

                         <p>
                              Employers who already have an apprenticeship service account can transfer unused apprenticeship
                              funds to another employer.
                         </p>

                         <p>
                              Transferred funds can be used to pay for new apprenticeship training and assessment for 
                              apprenticeship standards. They can’t be used for apprenticeship frameworks, which are
                              being phased out.
                         </p>

                         <h2 class="heading-m" id="heading5">The way you access apprenticeship funds is changing soon</h2>

                         <p>
                              In 2020, xxxxxxxxxxxxx
                         </p>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to ignite your business</h2>
                                  <a href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                               <li class="pagination__list-item pagination__list-item--previous">
                               </li>
                              <li class="pagination__list-item pagination__list-item--next">
                                  <a class="pagination__link pagination__link--next" href="#">Hiring an apprentice</a>
                              </li>
                          </ul>

                  </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-what-are-the-costs-to-me.jpg" class="sidebar__hero-image">
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/faa-fat/_resources-links.html'%}

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
