<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 4 - Hire an apprentice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="2" data-section-id="B">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/employer/_em-7-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-4 employer">

             <div id="" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-m no-top-margin" id="heading1">Develop new skills within your existing workforce</h2>

                          <p>
                              Apprenticeships aren’t just suitable for bringing in new staff – they’re also ideal for upskilling or retraining
                              your current workforce. Perhaps you have an employee who’s keen to develop their existing skills, or someone who
                              has showna flair for something completely new. Giving them the opportunity to complete an apprenticeship allows you
                              to fill key skill gaps in your business, while boostingmotivation and retention of your staff.
                          </p>

                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                          <div id="change-recruit-journey">
                               <div id="scroller-anchor" class="scroller-anchor"></div>
                               <div id="scroller" class="scroller">
                                    <a href="#" class="close employer-retrain-journey">close</a>
                                    <h3 class="heading-s">Have you thought about hiring an apprentice?</h3>
                                    <p>
                                         You can give an apprentice of any age the ability to change their lives and your business.
                                    </p>
                                    <a href="/campaign/employer/7-retrain-staff" class="button button--shadow button--sparks search">Hire an apprentice</a>
                                    <a href="#" class="">Email me this and keep me upto date...</a>
                              </div>
                          </div>
                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                          <h2 class="heading-m" id="heading2">Any age, any level – but the learning must be new</h2>

                          <p>
                               Apprenticeships are suitable for people of any age, no matter what level they’re at. The important thing is
                               that the apprentice will develop new skills to help themsucceed in their chosen occupation. The apprenticeship
                               must be linked to their job, and the learning must be different to any qualifications they already hold. If they’re
                               taking a repeat or lower-level apprenticeship, you must provide evidence that it’s supporting the apprentice to
                               acquire new skills and knowledge. They must gain significant new learning from the apprenticeship.
                          </p>

                          <h2 class="heading-m" id="heading3">You don’t have to give them a diferent job</h2>

                          <p>
                               The employee doesn’t necessarily need to be given a different job to complete the apprenticeship, and you’re not
                               required to change any of the terms or conditions of their employment. The apprentice must be genuinely learning
                               new skills to the benefit of the wider economy, and you’ll be required to create and sign an apprenticeship
                               agreement. You’ll continue to pay them a salary – at least the National Minimum Wage relevant to their age.
                         </p>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--previous" href="/campaign/employer/4-hire-an-apprentice">
                                        Hire an apprentice
                                   </a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/employer/1-how-much-is-it-going-to-cost">
                                        Funding and apprenticeship
                                   </a>
                              </li>
                          </ul>

                      </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-hire-an-apprentice.jpg" class="sidebar__hero-image">
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
