<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 6 - Assessment and qualification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="2" data-section-id="E">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/how-they-work/_em-BE-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-6 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-m no-top-margin" id="heading1">Assessing occupational competence</h2>

                          <p>
                              Apprenticeship standards are focused on an apprentice achieving full occupational competence.
                              They set out key knowledge, skills and behaviours (KSBs) that the apprentice should learn over
                              the course of the apprenticeship.
                         </p>

                         <p>
                              When your apprentice has completed their apprenticeship training, they’ll be given an
                              ‘end-point assessment’. This is their chance to demonstrate what they’ve learnt throughout the
                              apprenticeship, and that they’re genuinely competent in the occupation.
                          </p>

                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                          <div id="new-register-journey">
                               <div id="scroller-anchor" class="scroller-anchor"></div>
                               <div id="scroller" class="scroller">
                                    <a href="#" class="close employer-retrain-journey">close</a>
                                    <h3 class="heading-s">End point assessments are easy to arrange</h3>
                                    <p>
                                         For you apprentice to qualify at the end they simple need to complete an End point assessment...
                                    </p>
                                    <a href="/campaign/register/employer-register-interest-V4" class="emal-sign-up"><span class="icon email"></span>Subscribe for more information about <strong class="employer-journey-topic">End-point assessments</strong>...</a>
                             </div>
                          </div>
                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                          <h2 class="heading-m" id="heading2">The end-point assessment</h2>

                          <p>
                               The end-point assessment is conducted by an independent organisation, ensuring all apprentices
                               following the same standard are assessed consistently.
                         </p>

                         <p>
                               Each standard includes an end-point assessment
                               plan. This describes how the apprentice should be tested against appropriate criteria using suitable
                               methods to check they’re fully competent in the occupation.
                         </p>

                         <h2 class="heading-m" id="heading3">Finding an end-point assessment organisation</h2>

                         <p>
                              Only organisations on the register of end-point assessment organisationsare eligible to conduct the
                              assessment. You must select an organisation from the register and agree to a price for them to carry it out.
                         </p>

                         <p>
                              Although the training provider will be involved in arranging the end-point assessment, the assessment itself
                              must be independent.
                         </p>

                         <p>
                              The training provider must contract with the end-point assessment organisation on your behalf and have a
                              written agreement in place to make payment to them for conducting the assessment.
                         </p>

                         <h2 class="heading-m" id="heading4">The cost of an end-point assessment</h2>

                         <p>
                              We expect that the cost of the end-point assessment will not usually exceed 20% of the funding band maximum.
                              This cost is included in the overall price agreed with the training provider for the apprenticeship.
                         </p>

                         <h2 class="heading-m" id="heading5">Certification</h2>

                         <p>
                              When your apprentice successfully completes their apprenticeship, they’ll be awarded a certificate. The end-point
                              assessment organisation will request this certificate on your behalf.
                         </p>

                         <h2 class="heading-m" id="heading6">Creating a GOV.UK account</h2>

                         <p>
                              xxxxxxxxxxx
                         </p>

                          <!-- <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div> -->

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--previous" href="/campaign/employer/B-training-your-apprentice-D">
                                        Training you apprentice
                                   </a>
                              </li>
                          </ul>

                    </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <div class="sparks top"></div>
                             <span id="slideshow" class="sidebar__hero-image">
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/agriculture/649x995/agriculture-2.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/business/649x995/business-2.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/education/649x995/education-3.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/engineering/649x995/engineering-2.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/sales/649x995/sales-4.jpg" class="">
                                  </div>
                             </span>
                             <div class="sparks bottom"></div>
                        </div>

                        {% include '../components/sideBar/_phone-number.html'%}

                        {% include '../components/sideBar/_register-employer.html'%}

                        <!-- <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div> -->
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
