<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 4 - Hire an apprentice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="2" data-section-id="A">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/how-they-work/_em-BA-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-4 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-m no-top-margin" id="heading1">Who can be an apprentice?</h2>

                          <p>
                               Apprenticeships are great for hiring someone new, as well as <a href="/campaign/employer/B-retrain-staff-B">upskilling a current employee</a>.
                          </p>

                          <p>
                               They’re available at various levels, so they could be suitable for anyone. For example, an intermediate
                               apprenticeship (level 2) is equivalent to GCSE level, and a degree apprenticeship (level 6 or 7)
                               is equivalent to a bachelor’s or master’s degree.
                          </p>

                          <h3 class="heading-s">Entry requirements</h2>

                         <p>
                              Apprentices must live in England, and they must not already be in full-time education or taking another apprenticeship.
                         </p>

                         <p>
                              They must be 16 or over by the end of the summer holidays. If your apprentice turns 16 during the current academic
                              year, the apprenticeship must start after the last Friday in June.
                         </p>

                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                          <div id="change-recruit-journey">
                               <div id="scroller-anchor" class="scroller-anchor"></div>
                               <div id="scroller" class="scroller">
                                    <a href="#" class="close employer-hire-journey">close</a>
                                    <h3 class="heading-s">Upskilling your current staff</h3>
                                    <p>
                                         Apprenticeships are suitable for bringing in new staff, but they’re also ideal for upskilling
                                         or retraining your existing workforce.
                                    </p>
                                    <a href="/campaign/employer/B-retrain-staff-B" class="button button--shadow button--sparks search">Train current employees</a>
                                    <!-- <a href="/campaign/register/employer-register-interest-V4" class="emal-sign-up"><span class="icon email"></span>Subscribe for more information about <strong class="employer-journey-topic">Hiring an apprentice</strong>...</a> -->
                              </div>
                          </div>

                          <!-- <div id="new-register-journey">
                               <div id="scroller-anchor" class="scroller-anchor"></div>
                               <div id="scroller" class="scroller">
                                    <a href="#" class="close employer-hire-journey">close</a>
                                    <h3 class="heading-s">RETRAINING OR UPSKILLING YOUR WORKFORCE</h3>
                                    <p>
                                         Apprenticeships aren’t just suitable for bringing in new staff – they’re also ideal for retraining pr upskilling your current workforce.
                                    </p>
                                    <a href="/campaign/register/employer-register-interest-V4" class="emal-sign-up"><span class="icon email"></span>Subscribe for more information about <strong class="employer-journey-topic">Hiring an apprentice</strong>...</a>
                             </div>
                          </div> -->
                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                          <h2 class="heading-m" id="heading2">Preparing to find an apprentice</h2>

                          <p>
                              If you’ve decided to hire an apprentice from outside your business, you’ll need to think about what you’re
                              looking for. A person specification is a good place to start, including:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>essential and desirable knowledge they’ll have</li>
                              <li>previous experience they should have</li>
                              <li>the specific skills you’re looking for</li>
                          </ul>

                          <p>
                              You should also write a job description, including:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>a job title</li>
                              <li>the main duties and purpose of the role</li>
                              <li>information about the company and the job location</li>
                              <li>the salary you’ll pay the apprentice</li>
                          </ul>

                          <p>
                               By employing an apprentice, you’ll make a valuable investment in your business with the government’s support.
                               Think carefully about the long-term impact your apprentice could make, and consider their future career
                               prospects and salary.
                          </p>

                          <h2 class="heading-m" id="heading3">Advertising apprenticeships</h2>

                          <p>
                               Next, it’s time to think about where to advertise the apprenticeship.
                          </p>

                          <p>
                              <a href="https://www.gov.uk/recruit-apprentice" class="external" rel="external" target="_blank">Recruit an apprentice</a>
                              is the official government service for posting and managing apprenticeship adverts and traineeship
                              opportunities in England. You can manage this yourself, or training providers can recruit on your behalf.
                         </p>

                         <p>
                              To create your advert, complete the template. Write as clearly as possible, so candidates searching through
                              the vacancies can quickly understand whether your apprenticeship is right for them.
                         </p>

                         <p>
                              Budding apprentices can search and apply for apprenticeship vacancies using
                              <a href="https://www.gov.uk/apply-apprenticeship" class="external" rel="external" target="_blank">Find an apprenticeship</a> service.
                         </p>

                          <h2 class="heading-m" id="heading5">Choosing the right apprentice</h2>

                          <p>
                               You can work with your training provider to choose the best method of shortlisting candidates who have applied
                               for your apprenticeship. You might ask them to choose the most suitable applications on your behalf.
                          </p>

                          <p>
                              Think about how you’ll interview your candidates - for example, you could hold remote interviews using digital platforms. 
                         </p>

                         <h2 class="heading-m" id="heading6">Interview questions to ask apprentices</h2>

                         <p>
                              Take time to think about what you really need to know and how you'll find out if the candidate
                              is right for your business.
                         </p>

                         <p>
                              Here are some sample questions:
                         </p>

                         <ul class="list list--bullet list--bullet-employer">
                             <li>can you tell me an interesting fact about yourself?</li>
                             <li>what would you consider your biggest achievement in school/college/work?</li>
                              <li>what's your timekeeping like?</li>
                              <li>do you work well in a team?</li>
                              <li>what are your strengths?</li>
                              <li>what are your weaknesses?</li>
                              <li>why do you think we should hire you?</li>
                              <li>why would you like to work for our organisation?</li>
                              <li>do you have any questions you'd like to ask us?</li>
                         </ul>

                         <!-- <p>
                              Remember, when a candidate attends an interview, it’s their chance to form an impression of your company as much
                              as it is for you to find out about them. First impressions count!
                         </p> -->

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--previous" href="/campaign/employer/benefits-to-your-business">
                                        THE BENEFITS OF APPRENTICESHIPS
                                   </a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/employer/B-how-much-is-it-going-to-cost-C">
                                        FUNDING AN APPRENTICESHIP
                                   </a>
                                   <!-- <a class="pagination__link pagination__link--next" href="/campaign/employer/B-retrain-staff-B">
                                        Retrain current staff
                                   </a> -->
                              </li>
                          </ul>

                      </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                         <div class="sidebar__hero">
                              <div class="sparks top"></div>
                              <span id="slideshow" class="sidebar__hero-image">
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/agriculture/649x995/agriculture-1.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/care-services/649x995/care-services-2.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/creative/649x995/creative-1.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/education/649x995/education-2.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/health/649x995/health-2.jpg" class="">
                                   </div>
                              </span>
                              <div class="sparks bottom"></div>
                         </div>

                         {% include '../components/sideBar/_phone-number.html'%}

                         {% include '../components/sideBar/_register-employer.html'%}

                         <div class="anchor-wrapper">
                              <a href="#" id="back-to-top"><span></span>Back to the top</a>
                         </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
