<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 4 - Hire an apprentice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="2" data-section-id="A">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/employer/_em-4-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-4 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-m no-top-margin" id="heading1">Who can be an apprentice?</h2>

                          <p>
                              Apprenticeships help you to bring valuable new skills into your business by <a href="/campaign/employer/7-retrain-staff">training a current employee</a>
                              or hiring someone new.
                          </p>

                          <p>
                              They’re suitable for people at any level, as long as they:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>will start their apprenticeship after the last Friday in June of the academic year in which they have their 16th birthday</li>
                              <li>can complete the apprenticeship within the time they have available</li>
                              <li>won’t be asked to contribute financially to the cost of training or end-point assessment</li>
                              <li>will spend at least 50% of their working hours in England over the durationof the apprenticeship</li>
                              <li>have the right to work in England, and eligible residency</li>
                          </ul>

                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                          <div id="change-recruit-journey">
                               <div id="scroller-anchor" class="scroller-anchor"></div>
                               <div id="scroller" class="scroller">
                                    <a href="#" class="close employer-hire-journey">close</a>
                                    <h3 class="heading-s">Have you thought about retraining your current staff?</h3>
                                    <p>
                                         You can also offers apprenticeships to your current members of staff to help fill any gaps you may have in your business.
                                    </p>
                                    <a href="/campaign/employer/7-retrain-staff" class="button button--shadow button--sparks search">Retrain current staff</a>
                                    <a href="/campaign/register/employer-register-interest-V1" class="emal-sign-up">Email me this and keep me upto date...</a>
                              </div>
                          </div>
                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                          <h2 class="heading-m" id="heading2">Preparing to find an apprentice</h2>

                          <p>
                              If you’ve decided to hire an apprentice from outside your organisation, a person specification is a good place
                              to start. This should include:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>essential and desirable knowledge criteria</li>
                              <li>previous experience they should have</li>
                              <li>the specific skills you’re looking for in the successful candidate</li>
                          </ul>

                          <p>
                              You should also write a job description, including:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>a job title</li>
                              <li>the main duties and purpose of the role</li>
                              <li>information about the company and the job location</li>
                              <li>the salary you’ll pay the apprentice</li>
                          </ul>

                          <p>
                               By hiring an apprentice, you’ll make a valuable investment in your business with the government’s support.
                               Before you start your search, you should consider the long-term impact the apprentice could make within
                               your organisation – for example, think about their future career prospects and salary.
                          </p>

                          <h2 class="heading-m" id="heading3">Advertising your apprenticeship vacancy</h2>

                          <p>
                               <a href="https://www.gov.uk/recruit-apprentice" rel="external" target="_blank" class="external">Recruit an apprentice</a> is the official government service for posting and managing apprenticeship vacancies and
                               traineeship opportunities in England. The system can be managed by training providers on your behalf or by
                               you directly.
                          </p>

                          <p>
                               To create your advert, complete the apprenticeship vacancy template. Write as clearly as possible so candidates
                               who are searching through the vacancies can quickly understand whether your apprenticeship is right for them.
                               You’ll need to include:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>the information from your person specification and job description</li>
                              <li>a closing date for the vacancy</li>
                              <li>potential interview and start dates</li>
                          </ul>

                          <p>
                               Budding apprentices can search and apply for apprenticeship vacancies using <a href="">Find an apprenticeship</a>.
                          </p>

                          <p>
                               Other ways to find an apprentice include:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>holding open days at your organisation</li>
                              <li>participating in shows, such as WorldSkills UK Live</li>
                              <li>inviting potential apprentices to your organisation for a day</li>
                          </ul>

                          <h2 class="heading-m" id="heading5">Choosing the right apprentice</h2>

                          <p>
                               You can work with your training provider to choose the best method of shortlisting candidates who have
                               applied for your vacancy. You might ask them tosend you copies of all the applications that have been
                               submitted, or to perform an initial sift on your behalf and forward you any suitable applications to save you time.
                         </p>

                         <p>
                              To select candidates to interview, you should refer to the job description and person specification, eliminating
                              those who don’t have the basic requirements for the job.
                         </p>

                         <p>
                              Remember, when a candidate attends an interview, it’s their chance to form an impression of your company as much
                              as it is for you to find out about them. First impressions count!
                         </p>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item">
                                   <!-- <a class="pagination__link pagination__link--previous" href="/campaign/employer/3-choose-training-provider">
                                        Choose a training provider
                                   </a> -->
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/employer/B-retrain-staff-B">
                                        Retrain current staff
                                   </a>
                              </li>
                          </ul>

                      </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                         <div class="sidebar__hero">
                              <div class="sparks top"></div>
                              <span id="slideshow" class="sidebar__hero-image">
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/agriculture/649x995/agriculture-1.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/care-services/649x995/care-services-2.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/creative/649x995/creative-1.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/education/649x995/education-2.jpg" class="">
                                   </div>
                                   <div class="slideImage">
                                        <img src="/dist/campaign/images/images/sector-pages/health/649x995/health-2.jpg" class="">
                                   </div>
                              </span>
                              <div class="sparks bottom"></div>
                         </div>
                         <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                   <h2 class="heading-s contact-phone-number__heading">Call the National Apprenticeship Service for free advice and support</h2>
                                   <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                         </div>
                         <div class="anchor-wrapper">
                              <a href="#" id="back-to-top"><span></span>Back to the top</a>
                         </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
