<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 1 - How much is it going to cost me?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="2" data-section-id="C">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/how-they-work/_em-BC-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-1 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">


                     <div class="page">

                          <h2 class="heading-s no-top-margin">Apprenticeships in Scotland, Northern Ireland and Wales</h2>

                          <p>
                               If you’re interested in apprenticeships in <a href="https://www.apprenticeships.scot/" target="_blank" rel="external" class="external">Scotland</a>,
                               <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" class="external">Northern Ireland</a> or
                               <a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" class="external">Wales</a>, visit your local apprenticeships website.
                         </p>

                         <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                         <div id="non-levy-levy-journey">
                              <div class="cta-row">
                                   <div class="form-group no-top-margin">
                                        <p class="">
                                             <strong class="larger-font">As an employer, is your pay bill more than £3 million per year?</strong><br>
                                             If you’re receiving a transfer of apprenticeship funds from another employer, please choose ‘Yes’.
                                        </p>
                                        <div class="radios__item">
                                             <input class="input radios__input" type="radio" value="LevyPayerYes" id="LevyPayerYes" name="EmployerLevyPayer">
                                             <label class="label radios__label" for="LevyPayerYes">Yes</label>
                                        </div>
                                        <div class="radios__item">
                                             <input class="input radios__input" type="radio" value="LevyPayerNo" id="LevyPayerNo" checked="checked" name="EmployerLevyPayer">
                                             <label class="label radios__label" for="LevyPayerNo">No</label>
                                        </div>
                                        <a id="continue-user-type" href="/campaign/employer/B-how-much-is-it-going-to-cost-C" class="button button--shadow button--sparks">Continue</a>
                                        <p class="lead-paragraph secondary-link"><a href="/campaign/employer/B-how-much-is-it-going-to-cost-C" class="i-dont-know">I don't know</a></p>
                                   </div>
                              </div>
                         </div>
                         <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                         <!-- LEVY CONTENT - START -->
                         <div class="levy-content">
                              <h2 class="heading-m" id="heading1">Apprenticeship funding from the government</h2>
                              <h2 class="heading-s no-top-margin">Apprenticeship training and assessment</h2>

                              <p>
                                    As an employer with a pay bill of more than £3 million, you’re required to pay the
                                    apprenticeship levy. You’ll receive funds through the apprenticeship service to
                                    spend on training and assessing your apprentices.
                              </p>

                              <p>
                                   The amount of funding entering your account each month is calculated as follows:
                              </p>

                              <ul class="list list--bullet list--bullet-employer">
                                   <li>the levy you declare to HMRC through the <a href="https://www.gov.uk/paye-for-employers/paye-and-payroll" target="_blank" rel="external" class="external">PAYE process</a></li>
                                   <li>multiplied by the proportion of your bill paid to your workforce who live in England</li>
                                   <li>plus a 10% government top-up on this amount</li>
                              </ul>


                              <p>
                                    When you’re ready to get started, you’ll need to
                                    <a href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" target="_blank" rel="external" class="external">sign in or create a new account</a> on
                                    the apprenticeship service.
                              </p>

                         </div>
                         <!-- LEVY CONTENT - END -->

                         <!-- NON-LEVY CONTENT - START -->
                          <div class="non-levy-content">
                               <h2 class="heading-m" id="heading1">Apprenticeship funding from the government</h2>
                               <h2 class="heading-s no-top-margin">Apprenticeship training and assessment</h2>

                               <p>
                                    As an employer with a pay bill of less than £3 million per year, you’ll share apprenticeship
                                    costs with the government if you have at least 50 employees. This means:
                               </p>

                               <ul class="list list--bullet list--bullet-employer">
                                   <li>you’ll pay 5% towards the cost of training and assessing your apprentice</li>
                                   <li>the government will pay the remaining 95%, up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" target="_blank" rel="external" class="external">funding band maximum</a></li>
                                   <li>if your apprentice’s training and assessment cost more than this, you’ll pay the difference</li>
                               </ul>

                               <h2 class="heading-s no-top-margin">Employers with fewer than 50 employees</h2>

                               <p>
                                    If you’re an employer with fewer than 50 employees, the government will fund all the apprenticeship
                                    training costs up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" target="_blank" rel="external" class="external">funding band maximum</a> if the apprentice is:
                               </p>

                               <ul class="list list--bullet list--bullet-employer">
                                   <li>between 16 and 18 years old (or 15 years old if the apprentice’s 16th birthday is between the last Friday of June and 31 August)</li>
                                   <li>between 19 and 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority or has been in the care oftheir local authority</li>
                               </ul>

                               <p>
                                    This means you won’t have to pay the 5% co-investment amount.
                               </p>

                               <h2 class="heading-m" id="heading2">Training young apprentices</h2>

                               <p>
                                    All employers will receive <strong>£1,000</strong> if, at the start of the apprenticeship, the apprentice is:
                              </p>

                              <ul class="list list--bullet list--bullet-employer">
                                  <li>between 16 and 18 years old (or 15 years old if the apprentice’s 16th birthday is between the last Friday of June and 31 August)</li>
                                  <li>between 19 and 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority or has been in the care oftheir local authority</li>
                              </ul>

                         </div>
                         <!-- NON-LEVY CONTENT - END -->

                         <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                         <div id="change-recruit-journey">
                              <div id="scroller-anchor" class="scroller-anchor"></div>
                              <div id="scroller" class="scroller">
                                   <a href="#" class="close employer-retrain-journey">close</a>
                                   <h3 class="heading-s">Have you thought about hiring an apprentice?</h3>
                                   <p>
                                        You can give an apprentice of any age the ability to change their lives and your business.
                                   </p>
                                   <a href="/campaign/register/employer-register-interest-V4" class="emal-sign-up"><span class="icon email"></span>Subscribe for more information about <strong class="employer-journey-topic">funding an apprenticeship</strong>...</a>
                             </div>
                         </div>
                         <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                         <h2 class="heading-m" id="heading3">Apprenticeship costs paid by you</h2>
                         <h2 class="heading-s no-top-margin">Your apprentice’s salary</h2>

                         <p>
                              You must pay your apprentice at least the <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank" rel="external" class="external">National Minimum Wage</a>
                              for their normal working hours and the training they undertake as part of the apprenticeship.
                         </p>

                         <p>
                              If they’re under 19 or aged 19 or over and in their first year, they’re entitled to the apprentice rate.
                              If they’re aged 19 or over and they’ve completed their first year, they must be paid at least the
                              minimum wage rate for their age.
                         </p>

                         <h2 class="heading-s">Other costs</h2>

                         <p>
                              An apprenticeship is a long-term investment from you and the government to help grow your business, so
                              it’s worth committing as much time and effort as you can to maximise its impact. You’ll need to:
                         </p>

                         <ul class="list list--bullet list--bullet-employer">
                             <li>pay any administrative costs to bring your apprentice on board</li>
                             <li>supervise the apprentice throughout their apprenticeship</li>
                             <li>provide on-the-job training to help them develop new skills</li>
                         </ul>

                         <p>
                              Depending on your circumstances, you may choose to:
                         </p>

                         <ul class="list list--bullet list--bullet-employer">
                             <li>assign a member of staff to be your apprentice’s mentor</li>
                             <li>cover or contribute towards the apprentice’s travel costs</li>
                             <li>arrange weekly catch-ups to check how your apprentice is progressing</li>
                         </ul>

                         <!-- LEVY CONTENT - START -->
                         <div class="levy-content">
                              <h2 class="heading-m" id="heading4">Transferring funds to another employer</h2>

                              <p>
                                    If you have unused apprenticeship funds, you can <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank" rel="external" class="external">transfer them to another
                                    employer</a> using the
                                    <a href="#" target="_blank" rel="external" class="external">apprenticeship service</a>.
                              </p>

                              <p>
                                   You can find employers who want to receive a transfer by:
                              </p>

                              <ul class="list list--bullet list--bullet-employer">
                                   <li>working with employers in your supply chain</li>
                                   <li>getting in touch with employers in your industry</li>
                                   <li>contacting an Apprenticeship Training Agency (ATA)</li>
                                   <li>working with regional partners</li>
                              </ul>

                         </div>
                         <!-- LEVY CONTENT - END -->

                         <h2 class="heading-m" id="heading5">Paying for apprenticeships using a transfer of apprenticeship funds</h2>

                         <p>
                              Employers who already have an apprenticeship service account can transfer unused apprenticeship funds to another employer.
                         </p>

                         <p>
                              <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank" rel="external" class="external">Transferred funds</a> can be used to pay for new
                              apprenticeship training and assessment for <a href="https://www.apprenticeships.gov.uk/employer/the-right-apprenticeship#available-apprenticeships" target="_blank" rel="external" class="external">apprenticeship standards</a>. They can’t be used for
                              apprenticeship frameworks, which are being phased out.
                         </p>


                          <!-- <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to ignite your business</h2>
                                  <a href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div> -->

                          <ul class="pagination pagination--employer">
                               <li class="pagination__list-item pagination__list-item--previous">
                                    <a class="pagination__link pagination__link--previous" href="/campaign/employer/B-retrain-staff-B">Retrain current staff</a>
                               </li>
                              <li class="pagination__list-item pagination__list-item--next">
                                  <a class="pagination__link pagination__link--next" href="/campaign/employer/B-training-your-apprentice-D">Training your apprentice</a>
                              </li>
                          </ul>

                  </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <div class="sparks top"></div>
                             <span id="slideshow" class="sidebar__hero-image">
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/engineering/649x995/engineering-3.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/hair/649x995/hair-3.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/health/649x995/health-1.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/legal/649x995/legal-2.jpg" class="">
                                  </div>
                                  <div class="slideImage">
                                       <img src="/dist/campaign/images/images/sector-pages/protective-services/649x995/protective-services-3.jpg" class="">
                                  </div>
                             </span>
                             <div class="sparks bottom"></div>
                        </div>
                        <div class="contact-phone-number">
                             <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Call the National Apprenticeship Service for free advice and support</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                             </div>
                        </div>
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
