<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - Benefits to your business</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-benefits employer-page" data-page-id="1">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-a-hero-heading.html' %}

        <main id="main-content" class="main-content employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-m no-top-margin" id="heading1">Bring in new talent at any level, or upskill current staff</h2>

                          <p>
                              Anyone over the age of 16 who’s living in England can apply for an apprenticeship. They’re available
                              from Level 2 (GCSE equivalent) right through to Levels 6 and 7 (equivalent to a bachelor’s or master’s degree),
                              and some may also offer additional professional qualifications, such as ACCA.
                          </p>

                          <p>
                               You could choose to bring new talent into your organisation by hiring someone new - but apprenticeships are
                               also ideal for upskilling or retraining existing employees. The important thing is that the apprentice will
                               develop new skills to help them succeed in their chosen occupation.
                          </p>

                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->
                          <!-- <div id="new-register-journey">
                               <div id="scroller-anchor" class="scroller-anchor"></div>
                               <div id="scroller" class="scroller">
                                    <a href="#" class="close employer-retrain-journey">close</a>
                                    <h3 class="heading-s">Keep upto date on the benefits of hiring an apprentice</h3>
                                    <p>
                                         You can give an apprentice of any age the ability to change their lives and your business.
                                    </p>
                                    <a href="/campaign/register/employer-register-interest-V4" class="emal-sign-up"><span class="icon email"></span>Subscribe for more information about <strong class="employer-journey-topic">Benefits of apprenticeships</strong>...</a>
                             </div>
                          </div> -->
                          <!-- ////////////////////////// CHANGE PAGE COMPONENT - START ////////////////////////// -->

                          <h2 class="heading-m" id="heading2">Why an apprenticeship?</h2>

                          <p>
                               Apprenticeships offer a productive and effective way to grow talent and develop a motivated, skilled and
                               qualified workforce. Employers who have an established apprenticeship programme reported that productivity
                               in their workplace had improved by 76%, while 75% reported that apprenticeships improved the quality of
                               their product or service.
                          </p>

                          <h3 class="heading-s" id="heading3">You can fill skills gaps in your organisation</h3>

                          <p>
                               An apprenticeship standard contains a list of the skills, knowledge and behaviours an apprentice will
                               need to have learned by the end of their apprenticeship. Standards are developed by employers and industry
                               experts to be occupation focused, which means the learning happens throughout the apprenticeship.
                               There’s an assessment at the end to prove the apprentice can carry out all aspects of the job, so they’ll be
                               ready to make valuable contributions.
                          </p>

                          <p>
                               There’s a huge variety of apprenticeship standards to choose from - and if there’s a specific standard you’re
                               looking for that isn’t currently available, you can <a href="" rel="external" target="_blank" class="external">join a ‘trailblazer’ group</a> to develop it.
                          </p>

                          <h3 class="heading-s" id="heading4">You can work with your provider to deliver training flexibly</h3>

                          <p>
                               An apprentice must spend at least 20% of their time completing off-the-job training – but the style, location
                               and timing of training varies. It can be delivered in a way that suits you and your training provider, allowing
                               your apprentice to learn the knowledge, skills and behaviours required for their role. It could be a block of
                               time in a residential setting, or online learning to fit around an apprentice’s shifts, for example.
                          </p>

                          <!-- ////////////////////////// INSPIRE COMPONENT - START ////////////////////////// -->
                          <div class="tailored-content">
                                <h2 class="heading-m" id="heading5">Need tailored apprenticeship advice?</h2>
                                <p>
                                     <a href="/campaign/explore/index">Answer a few simple questions</a> and we’ll give you tailored information to help you decide whether apprenticeships
                                     are right for you.
                                </p>
                         </div>
                         <!-- ////////////////////////// INSPIRE COMPONENT - START ////////////////////////// -->

                          <!-- <ul class="list list--bullet list--bullet-employer">

                              <li>thousands of organisations are employing apprentices now</li>
                              <li>90% of apprentices stay on in their place of work after completing an apprenticeship</li>
                              <li>there's a wide selection of apprenticeships available, covering lots of different job roles within a business</li>
                             <li>you can adapt the training your apprentice receives according to the needs of your business</li>
                             <li>an apprenticeship allows you to diversify and freshen up your workforce</li>
                             <li>you can employ an apprentice who's 16 up to any age and from any background</li>

                          </ul> -->

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                               <li class="pagination__list-item pagination__list-item--previous">
                               </li>
                             <li class="pagination__list-item pagination__list-item--next">
                                  <a class="pagination__link pagination__link--next" href="/campaign/employer/B-hire-an-apprentice-A"> Hiring an apprentice</a>
                             </li>
                          </ul>

                    </div>
                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-assessment-qualification.jpg" class="sidebar__hero-image">
                        </div>

                        {% include '../components/sideBar/_phone-number.html'%}

                        {% include '../components/sideBar/_register-employer.html'%}

                        <!-- <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div> -->
                        <!-- {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%} -->
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/resources/_resources.html'%}

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
