<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 4 - Hire an apprentice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-page speak-to-someone" data-page-id="5">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include '../components/header/_header-employer.html'%}
          {% include '../components/hero-heading/speak-to-someone/_em-E-hero-heading.html' %}

          <main id="main-content" class="main-content employer contact-page">

               <div class="grid-row">
                    <div class="grid-column-full">

                         <div class="contact-container row-set-1">

                              <div class="background-colour"></div>

                              <!-- CONTACT - 1 - START -->
                              <a class="contact-info" href="https://www.gov.uk/government/groups/apprenticeship-ambassador-network" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-ambassadors.png" class="">
                                   </div>
                                   <h3 class="heading-s">Ambassador network</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> Ambassador network</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 1 - END -->

                              <!-- CONTACT - 2 - START -->
                              <a class="contact-info" href="https://www.gov.uk/government/groups/apprenticeship-ambassador-network" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-ambassadors.png" class="">
                                   </div>
                                   <h3 class="heading-s">intermediaries</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> intermediaries</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 2 - END -->

                              <!-- CONTACT - 3 - START -->
                              <a class="contact-info" href="https://nawevents.co.uk" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-events.png" class="">
                                   </div>
                                   <h3 class="heading-s">Events</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> events</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 3 - END -->

                         </div>

                    </div>

               </div>

               <div class="grid-row">
                    <div class="grid-column-full">

                         <div class="contact-container row-set-2">

                              <div class="background-colour"></div>

                              <!-- CONTACT - 4 - START -->
                              <a class="contact-info" href="https://www.linkedin.com/company/national-apprenticeship-service" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-linkedin.png" class="">
                                   </div>
                                   <h3 class="heading-s">LinkedIn</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> linkinedIn</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 4 - END -->

                              <!-- CONTACT - 5 - START -->
                              <a class="contact-info" href="https://twitter.com/Apprenticeships" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-twitter.png" class="">
                                   </div>
                                   <h3 class="heading-s">twitter</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> twitter</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 5 - END -->

                              <!-- CONTACT - 6 - START -->
                              <a class="contact-info" href="https://www.facebook.com/FireItUpApps" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-facebook.png" class="">
                                   </div>
                                   <h3 class="heading-s">Facebook</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> facebook</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 6 - END -->

                         </div>

                    </div>

               </div>

               <div id="" class="grid-row">
                    <div class="grid-column-full">

                         <div class="contact-container row-set-3">

                              <div class="background-colour"></div>

                              <!-- CONTACT - 7 - START -->
                              <a class="contact-info" href="https://www.instagram.com/nationalapprenticeshipevents" target="_blank" rel="external">
                                   <div class="image-container">
                                        <img src="/dist/campaign/images/speak-to-someone/image-instagram.png" class="">
                                   </div>
                                   <h3 class="heading-s">Instagram</h3>
                                   <div class="text-container">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est nisl, dictum et risus vitae,
                                             consequat tincidunt ante. Morbi euismod nec est at ornare. Suspendisse potenti.
                                        </p>
                                        <button type="button" class="button"><span class="external"></span> Instagram</button>
                                   </div>
                              </a>
                              <!-- CONTACT - 7 - END -->

                         </div>

                    </div>
               </div>

          </main>

        {% include '../components/footer/_footer-employer.html'%}

     </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     <!-- SCRIPT CONTENT - START -->
     <script type="text/javascript">

          if($(window).width() > 481) {
               $(function() {
                    moveScroller();
               });
          }

     </script>
     <!-- SCRIPT CONTENT - END -->

</body>

</html>
