<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>FIRE IT UP! - Apprenticeships</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">


     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template hub-page careers-advisers-page" id="careers-advisers-V3">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include './components/header/_header-careers-advisers.html'%}

          <main class="hub-page careers-advisers">

               {% include './components/hero-banner/_hero-banner-hub-careers-advisers.html'%}

               <div class="new-header">
                    <h2 class="heading-m">
                         Welcome to the Careers advice hub
                         <span class="sub-heading">Welcome</span>
                    </h2>
                    <p>
                         The Careers advice hub is home to the Apprenticeship Support & Knowledge for schools and colleges
                         (ASK) programme. This is your go-to place to access resources, become an Apprenticeship Champion or
                         request support to help you spread the apprenticeship message.
                    </p>
               </div>

               <!-- ////////////////// EMPLOYER JOURNEY - START //////////////////-->
               <div class="main-content hub-page top-section careers-advisers-hub">

                    <!-- ==== SECTION 1 - START ==== -->
                    <section class="journey-section section-1">
                         <div class="border visually-hidden">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image">
                              <img src="/dist/campaign/images/careers-advisers/journey-section-1.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">Request free support for your school or establishment</h3>
                              <p>
                                   We’ll connect your school, college or educational establishment with an
                                   ASK delivery partner in your area. They’ll work with you to deliver apprenticeship
                                   support based on your needs, from visits and talks to resources and specific
                                   event support. Fill in our quick online form to get started.
                              </p>
                              <p>
                                   <a href="https://amazing-apprenticeships.herokuapp.com/request-support/" class="">Request support</a>
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 1 - END ==== -->

                    <!-- ==== SECTION 2 - START ==== -->
                    <section class="journey-section section-2">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-left">
                              <img src="/dist/campaign/images/careers-advisers/journey-section-2.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">Access free online resources</h3>
                              <p>
                                   Take a look through our free online resources to learn more about apprenticeships.
                                   They’ll help you navigate the world of apprenticeships, gaining confidence to inform and
                                   empower future apprentices.
                              </p>
                              <p>
                                   <a href="/campaign/careers-advisers/resources-V1" class="">Access resources</a>
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 2 - END ==== -->

                    <!-- ==== SECTION 3 - START ==== -->
                    <section class="journey-section section-3">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-right">
                              <img src="/dist/campaign/images/careers-advisers/journey-section-3.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">View live broadcasts - or watch them on catch-up</h3>
                              <p>
                                   Our live broadcasts are designed to give schools and establishments across England the very
                                   latest apprenticeship information. Meet inspiring apprentices and hear from the employers
                                   who are helping to shape their careers. There’s a catch-up service too, so you can
                                   watch them at any time.
                              </p>
                              <p>
                                   <a href="#" class="">View our broadcasts</a>
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 3 - END ==== -->

                    <!-- ==== SECTION 4 - START ==== -->
                    <section class="journey-section section-4">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-left">
                              <img src="/dist/campaign/images/careers-advisers/journey-section-4.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">Become an Apprenticeship Champion</h3>
                              <p>
                                   Are you keen to promote apprenticeships in your school or establishment? Let us
                                   support you in your role as an Apprenticeship Champion. It’s quick, easy and free to
                                   sign up, and you’ll get access to inspirational guidance and free resources to help you
                                   with your goals.
                              </p>
                              <p>
                                   <a href="#" class="">Become an Apprenticeship Champion</a>
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 4 - END ==== -->

               </div>
               <!-- ////////////////// EMPLOYER JOURNEY - END //////////////////-->

          </main>

          {% include './components/resources/_resources-careers.html'%}

          {% include './components/footer/_footer-careers-advisers.html'%}

          <!-- <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a> -->

          <!-- {% include './components/cookieBanner/_cookieBanner.html'%} -->
          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include './components/footer/_scripts.html'%}

     </body>

</html>
