{% from "../button/macro.njk" import dasButton %}
<div data-module="navigation">
     <a href="#navigation" class="navigation__toggle">
          <span class="navigation__toggle-label" id="nav-label">Menu</span>
          <span class="navigation__toggle-icon"></span>
     </a>

     <nav class="navigation" aria-labelledby="nav-label">
          <ul class="navigation__menu">

               <!-- NAV ITEM 1 - START -->
               <li class="navigation__list-item apprentice-nav">
                    <a href="#userModal" rel="modal:open" class="navigation__link--top-level navigation__link--top-level--apprentice switch-user">
                         <span class="main-text">NOT A FUTURE APPRENTICE?</span>
                         <br>
                         <span class="sub-text">Discover information for employers, parents and guardians.</span>
                    </a>
                    <div class="navigation__sub-menu navigation__sub-menu--apprentice apprentice-nav">
                         <ul class="navigation__menu">

                              <!-- NAV ITEM 1 - START -->
                              <li class="navigation__list-item nav-item-with-sub-nav nav-list-item-one" data-nav-id="1">
                                   <a href="/campaign/real-stories/apprentices" class="navigation__link--top-level navigation__link--top-level--apprentice">
                                        Are apprenticeships right for you?
                                        <span class="navigation__sub-menu-toggle"></span>
                                        <span class="navigation__sub-menu-icon"></span>
                                   </a>
                                   <div class="navigation__sub-menu navigation__sub-menu--apprentice">
                                        <h3 class="heading-s navigation_sub-heading">
                                             If you’re still weighing up your options, this is the place to start.
                                        </h3>
                                        <ol class="navigation__ordered-list">
                                             <li>
                                                  <a href="/campaign/real-stories/apprentices" class="navigation__link">
                                                       Real stories
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/apprentice/what-are-the-benefits-for-me" class="navigation__link">
                                                       The benefits of apprenticeships
                                                  </a>
                                             </li>
                                        </ol>
                                   </div>
                              </li>
                              <!-- NAV ITEM 1 - END -->

                              <!-- NAV ITEM 2 - START -->
                              <li class="navigation__list-item nav-item-with-sub-nav nav-list-item-two" data-nav-id="2">
                                   <a href="/campaign/apprentice/1-what-is-an-apprenticeship" class="navigation__link--top-level navigation__link--top-level--apprentice">
                                        How do they work?
                                        <span class="navigation__sub-menu-toggle"></span>
                                        <span class="navigation__sub-menu-icon"></span>
                                   </a>
                                   <div class="navigation__sub-menu navigation__sub-menu--apprentice">
                                        <h3 class="heading-s navigation_sub-heading">
                                             Discover the practical details of apprenticeships, from submitting your application to getting assessed.
                                        </h3>
                                        <ol class="navigation__ordered-list">
                                             <li>
                                                  <a href="/campaign/apprentice/1-what-is-an-apprenticeship" class="navigation__link">
                                                       What is an apprenticeship?
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/apprentice/3-application" class="navigation__link">
                                                       Application
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/apprentice/4-interview" class="navigation__link">
                                                       Interview
                                                  </a>
                                             </li>
                                        </ol>
                                   </div>
                              </li>
                              <!-- NAV ITEM 2 - END -->

                              <!-- NAV ITEM 3 - START -->
                              <li class="navigation__list-item nav-item-with-sub-nav nav-list-item-three" data-nav-id="3">
                                   <a href="/campaign/apprentice/5-your-apprenticeship" class="navigation__link--top-level navigation__link--top-level--apprentice">
                                        Setting it up
                                        <span class="navigation__sub-menu-toggle"></span>
                                        <span class="navigation__sub-menu-icon"></span>
                                   </a>
                                   <div class="navigation__sub-menu navigation__sub-menu--apprentice">
                                        <h3 class="heading-s navigation_sub-heading">
                                             Explore the full range of apprenticeships and search for something that suits your interests.
                                        </h3>
                                        <ol class="navigation__ordered-list">
                                             <li>
                                                  <a href="/campaign/apprentice/5-your-apprenticeship" class="navigation__link">
                                                       Your apprenticeship
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/apprentice/6-assessment-and-qualification" class="navigation__link">
                                                       Assessment and qualification
                                                  </a>
                                             </li>
                                        </ol>
                                   </div>
                              </li>
                              <!-- NAV ITEM 3 - END -->

                              <!-- NAV ITEM 4 - START -->
                              <li class="navigation__list-item nav-list-item-four" data-nav-id="4">
                                   <a href="/campaign/apprentice/2-find-an-apprenticeship" class="navigation__link--top-level">
                                        Find an apprenticeship
                                   </a>
                              </li>
                              <!-- NAV ITEM 4- END -->

                         </ul>
                    </div>
               </li>
               <!-- NAV ITEM 1 - END -->

               <!-- NAV ITEM 2 - START -->
               <!-- <li class="navigation__list-item upskiller-nav">
                    <a href="#" class="navigation__link--top-level navigation__link--top-level--upskiller">
                         Upskillers / reskillers
                         <span class="navigation__sub-menu-toggle"></span>
                         <span class="navigation__sub-menu-icon"></span>
                         <span class="border"></span>
                    </a>
               </li> -->
               <!-- NAV ITEM 2 - END -->

               <!-- NAV ITEM 3 - START -->
               <!-- <li class="navigation__list-item teacher-nav">
                    <a href="#" class="navigation__link--top-level navigation__link--top-level--teacher">
                         Teachers, parents and careers advisors
                         <span class="navigation__sub-menu-toggle"></span>
                         <span class="navigation__sub-menu-icon"></span>
                         <span class="border"></span>
                    </a>
               </li> -->
               <!-- NAV ITEM 3 - END -->

               <!-- NAV ITEM 4 - START -->
               <li class="navigation__list-item employer-nav">
                    <a href="#userModal" rel="modal:open" class="navigation__link--top-level navigation__link--top-level--employer switch-user">
                         <span class="main-text">NOT AN EMPLOYER?</span>
                         <br>
                         <span class="sub-text">Discover information for parents, guardians and future apprentices.</span>
                    </a>
                    <div class="navigation__sub-menu navigation__sub-menu--employer employer-nav">
                         <ul class="navigation__menu">

                              <!-- NAV ITEM 1 - START -->
                              <li class="navigation__list-item nav-item-with-sub-nav nav-list-item-one" data-nav-id="1">
                                   <a href="/campaign/real-stories/employers" class="navigation__link--top-level navigation__link--top-level--employer">
                                        Are apprenticeships right for you?
                                        <span class="navigation__sub-menu-toggle"></span>
                                        <span class="navigation__sub-menu-icon"></span>
                                   </a>
                                   <div class="navigation__sub-menu navigation__sub-menu--employer">
                                        <h3 class="heading-s navigation_sub-heading">
                                             If you’re still deciding whether an apprenticeship will work for your organisation, this is the place to start.
                                        </h3>
                                        <ol class="navigation__ordered-list">
                                             <li>
                                                  <a href="/campaign/real-stories/employers" class="navigation__link">
                                                       Real stories
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/employer/benefits-to-your-business" class="navigation__link">
                                                       The benefits of apprenticeships
                                                  </a>
                                             </li>
                                        </ol>
                                   </div>
                              </li>
                              <!-- NAV ITEM 1 - END -->

                              <!-- NAV ITEM 2 - START -->
                              <li class="navigation__list-item nav-item-with-sub-nav nav-list-item-two" data-nav-id="2">
                                   <a href="/campaign/employer/1-how-much-is-it-going-to-cost" class="navigation__link--top-level navigation__link--top-level--employer">
                                        How do they work?
                                        <span class="navigation__sub-menu-toggle"></span>
                                        <span class="navigation__sub-menu-icon"></span>
                                   </a>
                                   <div class="navigation__sub-menu navigation__sub-menu--employer">
                                        <h3 class="heading-s navigation_sub-heading">
                                             Discover the practical details of apprenticeships, from accessing government funding to assessing your apprentice.
                                        </h3>
                                        <ol class="navigation__ordered-list">
                                             <li>
                                                  <a href="/campaign/employer/1-how-much-is-it-going-to-cost" class="navigation__link">
                                                       Funding an apprenticeship
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/employer/4-hire-an-apprentice" class="navigation__link">
                                                       Hiring an apprentice
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/employer/6-assessment-and-qualification" class="navigation__link">
                                                       End point assessments
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/employer/5-preparing-and-monitoring" class="navigation__link">
                                                       Preparing and monitoring
                                                  </a>
                                             </li>
                                        </ol>
                                   </div>
                              </li>
                              <!-- NAV ITEM 2 - END -->

                              <!-- NAV ITEM 3 - START -->
                              <li class="navigation__list-item nav-item-with-sub-nav nav-list-item-three" data-nav-id="3">
                                   <a href="/campaign/employer/2-the-right-apprenticeship" class="navigation__link--top-level navigation__link--top-level--employer">
                                        Setting it up
                                        <span class="navigation__sub-menu-toggle"></span>
                                        <span class="navigation__sub-menu-icon"></span>
                                   </a>
                                   <div class="navigation__sub-menu navigation__sub-menu--employer">
                                        <h3 class="heading-s navigation_sub-heading">
                                             Explore the range of apprenticeships available and learn how to pair up with a training provider.
                                        </h3>
                                        <ol class="navigation__ordered-list">
                                             <li>
                                                  <a href="/campaign/employer/2-the-right-apprenticeship" class="navigation__link">
                                                       Choosing the right apprenticeship
                                                  </a>
                                             </li>
                                             <li>
                                                  <a href="/campaign/employer/3-choose-training-provider" class="navigation__link">
                                                       Choosing a training provider
                                                  </a>
                                             </li>
                                        </ol>
                                   </div>
                              </li>
                              <!-- NAV ITEM 3 - END -->

                              <!-- NAV ITEM 4 - START -->
                              <li class="navigation__list-item nav-list-item-four" data-nav-id="4">
                                   <a href="/campaign/FAT/1-FAT-search" class="navigation__link--top-level navigation__link--top-level--employer">
                                        Search for an apprenticeship
                                   </a>
                              </li>
                              <!-- NAV ITEM 4 - END -->

                              <!-- NAV ITEM 5 - START -->
                              <li class="navigation__list-item navigation__list-item--with-button basket-list-item"  data-nav-id="5">
                                   <span class="separator"></span>
                                   <a class="button basket" href="/campaign/FAT/FAT-basket">
                                        Your choices
                                        <span class="number">0</span>
                                        <span class="tooltiptext">Your favourites</span>
                                   </a>
                              </li>
                              <!-- NAV ITEM 5 - END -->

                        </ul>

                    </div>
               </li>
               <!-- NAV ITEM 4 - END -->

               <!-- NAV ITEM 5 - START -->
               <li class="navigation__list-item parents-nav">
                    <a href="#userModal" rel="modal:open" class="navigation__link--top-level navigation__link--top-level--parents switch-user">
                         <span class="main-text">NOT AN PARENT or guardian?</span>
                         <br>
                         <span class="sub-text">Discover information for employers and future apprentices.</span>
                    </a>
                    <div class="navigation__sub-menu navigation__sub-menu--parents parents-nav">
                         <ul class="navigation__menu">

                              <!-- NAV ITEM 1 - START -->
                              <li class="navigation__list-item nav-list-item-one" data-nav-id="1">
                                   <a href="/campaign/hub-parents" class="navigation__link--top-level navigation__link--top-level--parents">
                                        Their career
                                   </a>
                              </li>
                              <!-- NAV ITEM 1 - END -->

                        </ul>

                    </div>
               </li>
               <!-- NAV ITEM 5 - END -->


               <!-- NAV ITEM 5 - START -->
               <li class="navigation__list-item navigation__list-item--with-button">
                    <a class="button button--shadow " id="btn-register-interest-header" href="/campaign/register/register-interest">
                         Register Interest
                    </a>
               </li>
               <!-- NAV ITEM 5 - END -->

          </ul>
     </nav>

</div>
