
.cookiebanner{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #FFFFFF;
     color: $grey-5;
     z-index: 1000;
     @include responsive-padding(4, "top");
     @include responsive-padding(4, "bottom");
     @include responsive-padding(8, "left");
     @include responsive-padding(8, "right");

     & .button{
          display: initial;
     }
     &.version-1, &.version-2 {
          padding: 1em 5%;
          width: 90%;
     }
     &.version-1 {
          position: relative;
          display: none;
          bottom: inherit;
          top: 0;
          // margin-bottom: -1.5em;
     }
     &.version-2 {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 2000;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(black,0.6);
          .cookiebanner__content {
               background: white;
               border-radius: 5px;
               padding: 1em;
               box-shadow: 0 0 10px 0 rgba(black,0.7);
               width: 40%;
               display: inline-block;
               .cookiebanner__text, .cookiebanner_actions {
                    width: 100%;
                    margin-bottom: 1em;
               }
               // .cookiebanner__text {
               // }
               .cookiebanner_actions {
                    .button {
                         display: inline-block;
                         margin: 0 1em 0 0;
                    }
                    .cookiebanner__link {
                         margin-top: 1em;
                         display: inline-block;
                    }
               }
          }
     }
}

.cookiebanner__text p{
  font-size: 18px;
}

.cookiebanner__content{
  display: flex;
  align-items: center;
}

.cookiebanner__link{
  color: $apprentice;
  @include font($size: 18);
}
