
.cookiebanner, .dabanner {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #FFFFFF;
     color: $grey-5;
     z-index: 1000;
     @include responsive-padding(4, "top");
     @include responsive-padding(4, "bottom");
     @include responsive-padding(8, "left");
     @include responsive-padding(8, "right");

     & .button{
          display: inline-block;
          margin: 0;
     }
     &.version-1, &.version-2 {
          padding: 2em 6.5%;
          width: 87%;
     }
     &.version-1 {
          position: relative;
          display: none;
          bottom: inherit;
          top: 0;
          // margin-bottom: -1.5em;
     }
     &.version-2 {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 2000;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(black,0.6);
          .cookiebanner__content {
               position: relative;
               background: white;
               border-radius: 5px;
               padding: 1em;
               box-shadow: 0 0 10px 0 rgba(black,0.7);
               width: 40%;
               display: inline-block;
               .cookiebanner__text, .cookiebanner_actions {
                    width: 100%;
                    margin-bottom: 1em;
               }
               // .cookiebanner__text {
               // }
               .cookiebanner_actions {
                    .button {
                         display: inline-block;
                         margin: 0 1em 0 0;
                    }
                    .cookiebanner__link {
                         margin-top: 1em;
                         display: inline-block;
                    }
               }
               .close {
                    position: absolute;
                    top: 1em;
                    right: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    text-indent: -1000em;
                    color: rgba(black,0.7);
                    // background: rgba(black,0.2);
                    border-radius: 50%;
                    width: 2em;
                    height: 2em;
                    background: url("../images/close.svg") no-repeat 50% 50%;
                    background-size: contain;
               }
          }
     }
}

.dabanner {
     background: #28A197;
     &.version-1 {
          padding: 0.75em 6.5% 0.75em 6.5%;
     }
     .dabanner__content {
          .dabanner__text {
               h1, h2, h3, h4, p {
                    color: white;
               }
               .country {
                    display: inline-block;
                    width: 1.25em;
                    height: 1.25em;
                    margin: 0 0.25em -0.4em 0.25em;
                    border: 2px solid white;
                    border-radius: 50%;
                    box-shadow: inset 0px 0px 0px 1px rgba(#28A197, 1);
                    &.scotland {
                         background: url("../images/country-scotland.png") no-repeat 50% 50%;
                         background-size: cover;
                    }
                    &.n-ireland {
                         background: url("../images/country-n-ireland.jpg") no-repeat 50% 50%;
                         background-size: cover;
                    }
                    &.wales {
                         background: url("../images/country-wales.png") no-repeat 50% 50%;
                         background-size: cover;
                    }
               }
          }
          .dabanner_actions {
               #daBanner {
                    color: #28A197;
                    background: white;
                    font-size: 12px;
                    padding: 6px 12px;
               }
               a.dabanner__link {
                    color: white;
                    float: right;
                    clear: both;
               }
          }
     }
}



.cookiebanner__heading, .dabanner__heading {
     margin: 10px 0 0;
     @include typography-common;
     color: $black;
     text-transform: uppercase;
}

.cookiebanner__button, .dabanner__button {
     display: block;
     width: 100%;
     @include media-query($from: wide) {
          display: inline-block;
          width: auto;
     }
}

.cookiebanner_actions, .dabanner_actions {
     text-align: right;
}

.dabanner_actions {
     width: 35%;
}

.cookiebanner__link, .dabanner__link {
     display: block;
     text-align: right;
     padding: 0px 0px 0px 20px;
     color: $apprentice;
     margin-top: 5px;
     @include font($size: 18);
     @include media-query($from: tablet) {
          margin-top: 0.5em;
     }
     @include media-query($from: wide) {
          display: inline-block;
     }
}

.cookiebanner__text, .dabanner__text {
     h1, h2, h3, h4 {
          margin: 0;
     }
     p {
          margin: 0.25em 0 0 0;
          font-size: 18px;
          & > a {
               color: $apprentice;
          }
     }
}

.dabanner__text {
     width: 60%;
     padding: 0 5% 0 0;
}

.cookiebanner__content, .dabanner__content {
     @include media-query($from: tablet) {
          display: flex;
          align-items: center;
     }
}
