.explore {
     .hero {
          ul {
               margin-bottom: 0;
          }
     }
     hr {
          background: rgba(black,0.1);
          margin-bottom: 4em;
          height: 1px;
          border: none;
     }
}

.explore-index {
     background: $employer;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 0.65em 1em;
     z-index: 100;
     .container {
          text-align: center;
          .button {
               box-shadow: 0px 0px 10px 5px rgba(black,0.4);
          }
          a.back {
               @include typography-common;
               color: black;
               display: inline-block;
               margin: 1.15em 0 0 3em;
          }
     }
}

.intro-text, .closing-text {
     h2, p {
          text-align: center;
          margin: 0;
     }
     h2 {

     }
}

.intro-text {
     margin: 0 0 4em 0;
}

.closing-text-container {
     display: flex;
     padding-bottom: 2em;
     .items {
          width: 22%;
          padding: 1.5%;
          text-align: center;
     }
}

ul.counter {
     float: right;
     li {
          display: inline-block;
          background: rgba(white,0.4);
          border-radius: 50%;
          width: 0.5em;
          height: 0.5em;
          margin: 0 0.25em;
          &.active {
               background: none;
               border: 3px solid white;
               position: relative;
               top: 0.15em;
          }
     }
}

.item-wrapper {
     display: flex;
     flex-wrap: wrap;
     // align-items: flex-end;
     flex-wrap: wrap;
     justify-content: center;
     margin: 0 auto 0 auto;
     width: 100%;
     label {
          display: flex;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
          width: 33%;
          flex: 1 auto;
          margin-bottom: 0;
          min-height: 15em;
          &:hover, &:active, &:focus {
               transform: scale(0.975);
               transition: ease 0.35s;
               cursor: pointer;
          }
          input {
               display: none;
          }
          &.active {
               .inner {
                    .icon {
                         background: url('../images/employer/explore/icon-tick.svg') no-repeat 50% 50%;
                         background-size: cover;
                    }
                    .text {
                         h1, p {
                              color: black;
                         }
                         .border {
                              background: rgba(black,0.2);
                         }
                    }
                    .wrapper {
                         background: rgba($employer, 0.8);
                    }
               }
          }
          .inner {
               padding: 1.5em;
               position: relative;
               width: 100%;
               display: inline-block;
               .icon {
                    // display: none;
                    z-index: 10;
                    // position: relative;
                    float: right;
                    display: inline-block;
                    width: 3.25em;
                    height: 3.25em;
                    margin: 0;
                    background: none;
                    bottom: 1em;
                    top: inherit;
                    right: 1em;
                    position: absolute;
               }
               .text {
                    text-align: left;
                    position: relative;
                    z-index: 10;
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 0 0;
                    h1, p {
                         color: white;
                         margin: 0;
                    }
                    h1 {
                         text-transform: initial;
                         font-size: 2rem;
                         line-height: 1;
                    }
                    p {

                    }
                    .border {
                         display: inline-block;
                         width: 4em;
                         height: 2px;
                         background: rgba(white,0.4);
                         margin: 0.5em 0 0.25em 0;
                    }
               }
               .wrapper {
                    overflow: visible;
                    margin-top: 0;
                    padding-top: 0;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
               }
          }
     }
}


#section-1 {
     label {
          &.administration {

          }
          &.animal-care {

          }
          &.beauty-and-wellbeing {

          }
          &.business-and-finance {

          }
          &.computing {

          }
          &.construction-and-trades {

          }
          &.creative-and-media {

          }
          &.delivery {

          }
          &.emergency {

          }
          &.engineering-and-maintenance {

          }
          &.environment {

          }
          &.government {

          }
          &.healthcare {

          }
          &.home-services {

          }
          &.hospitality {

          }
          &.law-and-legal {

          }
          &.managerial {

          }
          &.manufacturing {

          }
          &.retail {

          }
          &.science {

          }
          &.social-care {

          }
          &.sports {

          }
          &.teaching {

          }
          &.transport-skills {

          }
          &.travel {

          }
     }
}

#section-2 {
     label {
          &.reading {
               background: url('../images/employer/explore/section-1/image-1.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.traveling {
               background: url('../images/employer/explore/section-1/image-2.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.blogging {
               background: url('../images/employer/explore/section-1/image-3.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.collecting {
               background: url('../images/employer/explore/section-1/image-4.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.volunteering {
               background: url('../images/employer/explore/section-1/image-5.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.cooking {
               background: url('../images/employer/explore/section-1/image-6.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.helping-others {
               background: url('../images/employer/explore/section-1/image-7.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.sports {
               background: url('../images/employer/explore/section-1/image-8.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.music {
               background: url('../images/employer/explore/section-1/image-9.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.clubs-teams {
               background: url('../images/employer/explore/section-1/image-10.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.gaming {
               background: url('../images/employer/explore/section-1/image-11.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.driving {
               background: url('../images/employer/explore/section-1/image-12.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.fashion {
               background: url('../images/employer/explore/section-1/image-13.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.beauty {
               background: url('../images/employer/explore/section-1/image-14.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.arts-craft {
               background: url('../images/employer/explore/section-1/image-15.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
          &.diy {
               background: url('../images/employer/explore/section-1/image-16.jpg') no-repeat 50% 50%;
               background-size: cover;
          }
     }
}


#section-last {
     background: #efefef;
     height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     .text-content {
          background: white;
          padding: 2em 2em 2em 2em;
          position: relative;
          .title-wrapper {
               position: absolute;
               top: -3em;
               left: 2em;
               .heading-l, .heading-m {
                    margin: 0;
               }
               .heading-m {
                    color: $employer;
                    text-transform: inherit;
               }
               .heading-l {

               }
          }
     }
}
