.explore {
     hr {
          background: rgba(black,0.1);
          margin-bottom: 4em;
          height: 1px;
          border: none;
     }
}

.explore-index {
     background: $employer;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 0.65em 1em;
     z-index: 100;
     .container {
          text-align: center;
          .button {
               box-shadow: 0px 0px 10px 5px rgba(black,0.4);
          }
     }
}

.intro-text, .closing-text {
     h2, p {
          text-align: center;
          margin: 0;
     }
     h2 {

     }
}

.intro-text {
     margin: 2em 0 4em 0;
}

.closing-text-container {
     display: flex;
     padding-bottom: 2em;
     .items {
          width: 22%;
          padding: 1.5%;
          text-align: center;
     }
}

ul.counter {
     float: right;
     li {
          display: inline-block;
          background: rgba(white,0.4);
          border-radius: 50%;
          width: 0.5em;
          height: 0.5em;
          margin: 0 0.25em;
          &.active {
               background: none;
               border: 3px solid white;
               position: relative;
               top: 0.15em;
          }
     }
}

.item-wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 2em auto 6em auto;
     width: 85%;
     a {
          display: flex;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
          width: 33%;
          flex: 1 auto;
          &:hover, &:active, &:focus {
               transform: scale(0.975);
               transition: ease 0.35s;
               cursor: pointer;
          }
          &.active {
               .icon {
                    background: url('../images/employer/explore/icon-tick.png') no-repeat 50% 50%;
                    background-size: cover;
               }
               .wrapper {
                    background: rgba($employer, 0.7);
               }
          }
          .inner {
               padding: 1.5em;
               position: relative;
               width: 100%;
               display: inline-block;
               .icon {
                    z-index: 10;
                    position: relative;
                    float: left;
                    display: inline-block;
                    width: 5em;
                    height: 5em;
                    margin: 0 1em 0.75em 0;
               }
               .text {
                    text-align: left;
                    position: relative;
                    z-index: 10;
                    display: inline-block;
                    width: 100%;
                    margin: 0.5em 0 0 0;
                    h1, p {
                         color: white;
                         margin: 0;
                    }
                    p {

                    }
                    .border {
                         display: inline-block;
                         width: 4em;
                         height: 2px;
                         background: rgba(white,0.4);
                         margin: 0.5em 0 0.25em 0;
                    }
               }
               .wrapper {
                    overflow: visible;
                    margin-top: 0;
                    padding-top: 0;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.6);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
               }
          }
     }
}

a {
     &.reading {
          background: url('../images/employer/explore/section-1/image-1.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-1.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.traveling {
          background: url('../images/employer/explore/section-1/image-2.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-2.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.blogging {
          background: url('../images/employer/explore/section-1/image-3.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-3.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.collecting {
          background: url('../images/employer/explore/section-1/image-4.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-4.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.volunteering {
          background: url('../images/employer/explore/section-1/image-5.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-5.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.cooking {
          background: url('../images/employer/explore/section-1/image-6.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-6.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.helping-others {
          background: url('../images/employer/explore/section-1/image-7.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-7.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.sports {
          background: url('../images/employer/explore/section-1/image-8.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-8.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.music {
          background: url('../images/employer/explore/section-1/image-9.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-9.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.clubs-teams {
          background: url('../images/employer/explore/section-1/image-10.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-10.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.gaming {
          background: url('../images/employer/explore/section-1/image-11.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-11.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.driving {
          background: url('../images/employer/explore/section-1/image-12.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-12.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.fashion {
          background: url('../images/employer/explore/section-1/image-13.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-13.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.beauty {
          background: url('../images/employer/explore/section-1/image-14.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-14.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.arts-craft {
          background: url('../images/employer/explore/section-1/image-15.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-15.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.diy {
          background: url('../images/employer/explore/section-1/image-16.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-16.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
     &.nothing {
          background: url('../images/employer/explore/section-1/image-17.jpg') no-repeat 50% 50%;
          background-size: cover;
          .icon {
               background: url('../images/employer/explore/section-1/icon-17.png') no-repeat 50% 50%;
               background-size: cover;
          }
     }
}


.illustration-wrapper {
     width: 80%;
     float: right;
     display: none;
     margin-top: 1.5em;
     @include media-query($from: tablet) {
          display: inline-block;
     }
}

.illustrative-journey {
     &.section-1, &.section-2, &.section-3, &.section-4, &.section-5 {
          width: 40%;
          display: inline-block;
          float: left;
          margin: 0 5% 0 0;
          text-decoration: none;
          position: relative;
          &:hover, &:active, &:focus {
               text-decoration: none;
               cursor: pointer;
               .image, .text {
                    transform: scale(1.1);
               }
          }
          .image, .text {
               transition: all .3s ease;
               z-index: 1;
          }
          .text {
               .heading-xs {
                    color: white;
                    text-align: center;
                    margin-top: 0.15em;
                    text-decoration: underline;
               }
          }
          .border {
               position: absolute;
               top: -8em;
               bottom: 5em;
               background: none;
               z-index: 10;
               width: 100%;
               height: 8em;
               &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 0px;
                    border: 5px dashed $employer;
                    top: 0;
                    bottom: 0;
                    left: 48.75%;
               }
               @include media-query($from: tablet) {
                    top: -5em;
                    width: 100%;
                    height: 5em;
                    background: url("../images/employer/dotted-line.svg") no-repeat 50% 50%;
                    background-size: 70%;
                    &:before {
                         display: none;
                    }
               }
               .spot {
                    background: $employer;
                    display: inline-block;
                    border-radius: 50%;
                    width: 1em;
                    height: 1em;
                    position: absolute;
                    border: 3px solid white;
                    // margin: 20px;
                    &:after {
                         content: '';
                         position: absolute;
                         top: -6px;
                         left: -6px;
                         right: -6px;
                         bottom: -6px;
                         background: $employer;
                         z-index: -1;
                         border-radius: 50%;
                    }
                    &.top {
                         top: -0.75em;
                         left: 50%;
                         margin-left: -1em;
                         @include media-query($from: tablet) {
                              left: 4.3em;
                              margin-left: 0;
                         }
                    }
                    &.bottom {
                         bottom: -0.75em;
                         right: 50%;
                         margin-right: -1em;
                         @include media-query($from: tablet) {
                              right: 4.3em;
                              margin-right: 0;
                         }
                    }
               }
          }
     }
     &.section-1 {

     }
     &.section-2 {
          float: right;
          margin: 2em 0 0 5%;
          .border {
               transform: scaleX(-1) rotate(270deg);
               left: -7.65em;
               top: 0;
               height: 3em;
               width: 68%;
               background: url("../images/employer/dotted-line.svg") no-repeat 117% 93%;
               background-size: 270%;
               .spot {
                    &.top {
                         left: -6%;
                         top: 1.25em;
                         display: none;
                    }
                    &.bottom {
                         right: 21%;
                    }
               }
          }
     }
     &.section-3 {
          margin-top: 3em;
          margin-left: 7em;
          .border {
               height: 8em;
               top: -8em;
               width: 52%;
               left: 4em;
               background: url("../images/employer/dotted-line-corner-employer2.svg") no-repeat -13.5% -2%;
               background-size: 425%;
               .spot {
                    &.top {
                         right: -0.35em;
                         left: auto;
                         top: -0.25em;
                    }
                    &.bottom {
                         right: 42%;
                         margin-right: 0;
                    }
               }
          }
     }
     &.section-4 {
          float: left;
          clear: both;
          // margin-left: 4em;
          margin-top: 1em;
          margin-left: 2em;
          .border {
               transform: scaleX(-1);
               height: 7em;
               top: -7em;
               left: -5.65em;
               background: url("../images/employer/dotted-line-corner-employer.svg") no-repeat 194.5% -2%;
               background-size: 180%;
               .spot {
                    &.top {
                         left: -4.5%;
                         right: auto;
                         top: -0.25em;
                    }
                    &.bottom {
                         right: 71%;
                    }
               }
          }
     }
     &.section-5 {
          float: right;
          clear: both;
          // margin-left: 4em;
          margin-top: 1em;
          margin-right: 3em;
          .border {
               height: 7em;
               top: -7em;
               left: -0.75em;
               background: url("../images/employer/dotted-line-corner-employer.svg") no-repeat 194.5% -2%;
               background-size: 180%;
               .spot {
                    &.top {
                         left: -4.5%;
                         right: auto;
                         top: -0.25em;
                    }
                    &.bottom {
                         right: 70%;
                    }
               }
          }
     }
}
