.faa-search {
     .sidebar {
          top: 670px;
     }
     // .sidebar__hero {
     //      min-height: 30em;
     // }
     #search-results-filter {
          .cta-faa {
               display: inline-block;
               width: 95%;
               padding: 2.5%;
               margin: 1em 0 0em 0;
               h2 {
                    color: white;
                    margin: 0;
                    &:hover, &:focus, &:active {
                         cursor: pointer;
                    }
                    .open {
                         display: inline-block;
                         float: right;
                         width: 1.5em;
                         height: 1.5em;
                         position: relative;
                         margin: -0.25em 0 0 0;
                         top: 0.15em;
                         background: url("../images/plus-white.svg") no-repeat;
                         background-size: cover;
                         &.close {
                              background: url("../images/minus-white.svg") no-repeat;
                              background-size: cover;
                         }
                    }
               }
               .cta-faa__content {
                    display: none;
                    width: 35%;
                    float: left;
                    padding: 0 5% 0 0;
                    margin-top: 1em;
                    &:last-of-type {
                         width: 20%;
                         padding: 0;
                    }
                    .form-group {
                         margin: 0;
                         label {
                              width: 100%;
                              display: inline-block;
                         }
                         input {
                              width: 90%;
                              padding: 0.75em 5%;
                         }
                         select {
                              width: 100%;
                              display: inline-block;
                              background: white;
                              padding: 0.75em 5%;
                              -webkit-appearance: none !important;
                              background: url("../images/arrow-down-black.svg") no-repeat white 92.5% 50%;
                              background-size: 1em;
                         }
                         .button {
                              width: 100%;
                              margin-top: 25px;
                         }
                    }
               }
          }
     }
     ol.search-results-list {
          padding: 0;
          li {
               margin: 0;
               &:before {
                    font-weight: bold;
                    background-size: contain;
                    background-repeat: no-repeat;
                    text-align: left;
                    height: 79px;
                    width: 65px;
                    padding-left: 17px;
                    margin: -15px 0px 0px -26px;
               }
               h2, ul.search-results__list-secondary {
                    margin-left: 50px;
               }
          }
     }
     ul.list {
          li {
               a.search-results__external-link {
                    margin-top: 1.5em;
                    display: inline-block;
               }
          }
     }
     ol#vacancy-search-results {
          li {
               &.search-result {
                    .faa-map {
                         width: 60%;
                         display: inline-block;
                         float: right;
                    }
               }
          }
     }
     #mapDev {
          .infoBox {
               box-shadow: 0 0 30px 0 rgba(black,0.4);
               .infobox_container {
                    .infobox {
                         padding: 1.5em;
                         h1 {
                              margin-top: 0;
                              color: black;
                         }
                         p {
                              color: grey;
                         }
                    }
               }
          }
     }
}

.interests-container {
     margin: 3em 0 0 0;
     @include media-query($from: tablet) {
          margin: 3em 0 5em 0;
     }
     display: inline-block;
     width: 100%;
     overflow: visible;
     .row {
          display: inline-block;
          margin: 0em -1.25em 0 -1.25em;
          overflow: visible;
          width: 112%;
          @include media-query($from: tablet) {
               display: flex;
               margin: -2em 0 0 0;
               width: 100%;
          }
          &:nth-of-type(odd) {
               .item {
                    &:nth-of-type(odd) {
                         clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
                    }
                    &:nth-of-type(even) {
                         clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
                    }
               }
          }
          &:nth-of-type(even) {
               .item {
                    &:nth-of-type(odd) {
                         clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
                    }
                    &:nth-of-type(even) {
                         clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
                    }
               }
          }
          @include media-query($from: tablet) {
               &:nth-of-type(odd) {
                    .item {
                         &:nth-of-type(odd) {
                              clip-path: polygon(0 10%, 100% 5%, 100% 95%, 0% 90%);
                         }
                         &:nth-of-type(even) {
                              clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
                         }
                    }
               }
               &:nth-of-type(even) {
                    .item {
                         &:nth-of-type(odd) {
                              clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
                         }
                         &:nth-of-type(even) {
                              clip-path: polygon(0 5%, 100% 10%, 100% 90%, 0% 95%);
                         }
                    }
               }
          }
          .item {
               width: 90%;
               display: inline-block;
               align-items: flex-end;
               justify-content: center;
               // margin: 0 0 0 0;
               margin: -1.75em 0 0 0;
               padding: 7em 5% 2.5em 5%;
               position: relative;
               text-decoration: none;
               transition: all .3s ease;
               z-index: 1;
               @include media-query($from: tablet) {
                    margin: 0;
                    width: 50%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    padding: 7em 1.5em 2.5em 1.5em;
               }
               &:hover, &:active, &:focus {
                    background: rgba(black,0.05);
                    cursor: pointer;
                    transform: scale(1.1);
                    z-index: 10;
               }
               &.agriculture { background: url("../images/images/sector-pages/agriculture/720x644/agriculture-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.business { background: url("../images/images/sector-pages/business/720x644/business-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.care-services { background: url("../images/images/sector-pages/care-services/720x644/care-services-4.jpg") no-repeat 50% 50%; background-size: cover; }
               &.catering-hospitality { background: url("../images/images/sector-pages/catering/720x644/catering-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.construction { background: url("../images/images/sector-pages/construction/720x644/construction-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.creative { background: url("../images/images/sector-pages/creative/720x644/creative-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.digital { background: url("../images/images/sector-pages/digital/720x644/digital-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.education { background: url("../images/images/sector-pages/education/720x644/education-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.engineering { background: url("../images/images/sector-pages/engineering/720x644/engineering-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.hair { background: url("../images/images/sector-pages/hair/720x644/hair-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.health { background: url("../images/images/sector-pages/health/720x644/health-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.legal { background: url("../images/images/sector-pages/legal/720x644/legal-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.protective { background: url("../images/images/sector-pages/protective-services/720x644/protective-services-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.sales { background: url("../images/images/sector-pages/sales/720x644/sales-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.transport { background: url("../images/images/sector-pages/transport/720x644/transport-3.jpg") no-repeat 50% 50%; background-size: cover; }
               .content-wrapper {
                    width: 100%;
               }
               h3, .border, p {
                    position: relative;
                    z-index: 10;
               }
               h3 {
                    color: white;
                    margin: 0 0 0 0;
               }
               .border {
                    width: 5em;
                    height: 3px;
                    display: inline-block;
                    margin: 0 0 0 0;
                    background: $apprentice;
               }
               p {
                    color: white;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
               }
               .gradient {
                    background: linear-gradient(215deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 90%);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
               }
          }
     }
}
