.faa-search, .fat-search {
     .sidebar {
          top: 550px;
          margin-top: 0;
          // overflow: hidden;
          .trimmer  {
               margin-top: 0;
          }
     }
     // .sidebar__hero {
     //      min-height: 30em;
     // }
     #search-results-filter, #filter-fat {
          padding: 0 5em 3em 5em;
          margin: 0 -4.35em -173px -5em;
          background: darken($apprentice,20%);
          display: block;
          position: relative;
          clip-path: none;
          @include media-query($from: tablet) {
               clip-path: polygon(0 14%, 100% 0%, 100% 87%, 0% 100%);
          }
          // &:before, &:after {
          //      content: '';
          //      position: absolute;
          //      left: 0;
          //      right: 0;
          //      border-style: solid;
          //      border-width: 0 0 50px 475px;
          // }
          // &:before {
          //      top: -50px;
          //      border-color: transparent transparent darken($apprentice,20%);
          // }
          // &:after {
          //      bottom: 0;
          //      border-color: transparent transparent white;
          // }
          .cta-faa, .cta-fat {
               display: inline-block;
               width: 100%;
               padding: 0 0 8em 0;
               margin: 3em 0 2.5em 0;
               position: relative;
               background: darken($apprentice,20%);
               @include media-query($from: tablet) {
                    padding: 4em 0 8em 0;
               }
               // clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
               h2 {
                    color: white;
                    margin: 0;
                    &:hover, &:focus, &:active {
                         cursor: pointer;
                    }
                    .open {
                         display: inline-block;
                         float: right;
                         width: 1.5em;
                         height: 1.5em;
                         position: relative;
                         margin: -0.25em 0 0 0;
                         top: 0.15em;
                         background: url("../images/plus-white.svg") no-repeat;
                         background-size: cover;
                         &.close {
                              background: url("../images/minus-white.svg") no-repeat;
                              background-size: cover;
                         }
                    }
               }
               .cta-faa__content {
                    // display: none;
                    width: 45%;
                    float: left;
                    padding: 0 5% 0 0;
                    margin-top: 1em;
                    &:nth-of-type(2) {
                         width: 50%;
                         padding: 0 0 0 0;
                    }
                    &:last-of-type {
                         width: 100%;
                         padding: 0;
                    }
                    @include media-query($from: tablet) {
                         width: 30%;
                         &:nth-of-type(2) {
                              width: 35%;
                              padding: 0 5% 0 0;
                         }
                         &:last-of-type {
                              width: 25%;
                         }
                    }
                    .form-group {
                         margin: 0;
                         label {
                              width: 100%;
                              display: inline-block;
                         }
                         input {
                              width: 90%;
                              padding: 0.75em 5%;
                         }
                         select {
                              width: 100%;
                              display: inline-block;
                              background: white;
                              padding: 0.85em 5%;
                              -webkit-appearance: none !important;
                              background: url("../images/arrow-down-black.svg") no-repeat white 92.5% 50%;
                              background-size: 1em;
                              // @include media-query($from: tablet) {
                              //      padding: 0.75em 5%;
                              // }
                         }
                         .button {
                              width: 100%;
                              margin-top: 0;
                              @include media-query($from: tablet) {
                                   margin-top: 25px;
                              }
                         }
                    }
               }
          }
     }
     ol.search-results-list {
          padding: 0;
          li {
               margin: 0 0 4em 0;
               display: inline-block;
               position: relative;
               @include media-query($from: tablet) {
                    margin: 0 0 2em 0;
               }
               &:before {
                    font-weight: bold;
                    background-size: contain;
                    background-repeat: no-repeat;
                    text-align: left;
                    height: 68px;
                    width: 42px;
                    padding-left: 12px;
                    margin: -15px 0px 0px 0px;
                    font-size: 1.9em;
                    top: 0.5em;
                    @include media-query($from: tablet) {
                         font-size: 2.3em;
                         height: 79px;
                         width: 65px;
                         padding-left: 8px;
                         margin: -15px 0px 0px -26px;
                    }
               }
               h2, ul.search-results__list-secondary {
                    margin-left: 0px;
                    @include media-query($from: tablet) {
                         margin-left: 50px;
                    }
                    li {
                         margin: 0 0 5px 0;
                         width: 100%;
                         // @include media-query($from: tablet) {
                         //      margin: 0 0 10px 0;
                         // }
                    }
               }
               ul.search-results__list-secondary {
                    margin-bottom: 0;
               }
               h2 {
                    margin-top: 5em;
                    @include media-query($from: tablet) {
                         margin-top: 15px;
                    }
               }
          }
     }
     ul.list {
          li {
               margin: 0;
               a.search-results__external-link {
                    margin-top: 1.5em;
                    display: inline-block;
               }
          }
     }
     ol#vacancy-search-results {
          li {
               &.search-result {
                    h2 {
                         margin-bottom: 10px;
                    }
                    .faa-map {
                         width: 60%;
                         display: inline-block;
                         float: left;
                         @include media-query($from: tablet) {
                              float: right;
                         }
                    }
                    img {
                         &.no-js {
                              width: 60%;
                              display: inline-block;
                              float: left;
                              @include media-query($from: tablet) {
                                   float: right;
                              }
                         }
                    }
               }
          }
     }
     #mapDev {
          .infoBox {
               box-shadow: 0 0 30px 0 rgba(black,0.4);
               .infobox_container {
                    .infobox {
                         padding: 1.5em;
                         h1 {
                              margin-top: 0;
                              color: black;
                         }
                         p {
                              color: grey;
                         }
                    }
               }
          }
     }
}

#faa-search-interest {
     display: inline-block;
     padding: 0.5em;
     font-size: 1.5rem;
     font-family: $font-family;
     line-height: 1.4;
     width: 100%;
     @include media-query($from: tablet) {
          width: 60%;
     }
}

.fat-search {
     .sidebar {
          top: 100px;
          margin-top: 60px;
          #filter-fat {
               background: $employer-light;
               margin-top: -12em;
               .cta-fat {
                    background: $employer-light;
                    h2 {
                         color: black;
                    }
                    .cta-faa__content {
                         width:  100%;
                         .form-group {
                              &.radios {
                                   // width: 30%;
                                   // float: left;
                                   .checkboxes__item {
                                        width: 24%;
                                        float: left;
                                        clear: none;
                                   }
                              }
                         }
                    }
               }
          }
     }
}

.employer {
     &.page-app-7 {
          .interests-container {
               margin-top: 0;
          }
     }
     .interests-container {
          .row {
               .item {
                    .border {
                         background: $employer;
                    }
               }
          }
     }
}

.interests-container {
     margin: 3em 0 0 0;
     @include media-query($from: tablet) {
          margin: 3em 0 5em 0;
     }
     display: inline-block;
     width: 100%;
     overflow: visible;
     .row {
          display: inline-block;
          margin: 0em -1.25em 0 -1.25em;
          overflow: visible;
          width: 112%;
          @include media-query($from: tablet) {
               display: flex;
               margin: -2em 0 0 0;
               width: 100%;
          }
          &:nth-of-type(odd) {
               .item {
                    &:nth-of-type(odd) {
                         clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
                    }
                    &:nth-of-type(even) {
                         clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
                    }
               }
          }
          &:nth-of-type(even) {
               .item {
                    &:nth-of-type(odd) {
                         clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
                    }
                    &:nth-of-type(even) {
                         clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
                    }
               }
          }
          @include media-query($from: tablet) {
               &:nth-of-type(odd) {
                    .item {
                         &:nth-of-type(odd) {
                              clip-path: polygon(0 10%, 100% 5%, 100% 95%, 0% 90%);
                         }
                         &:nth-of-type(even) {
                              clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
                         }
                    }
               }
               &:nth-of-type(even) {
                    .item {
                         &:nth-of-type(odd) {
                              clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
                         }
                         &:nth-of-type(even) {
                              clip-path: polygon(0 5%, 100% 10%, 100% 90%, 0% 95%);
                         }
                    }
               }
          }
          .item {
               width: 90%;
               display: inline-block;
               align-items: flex-end;
               justify-content: center;
               // margin: 0 0 0 0;
               margin: -1.75em 0 0 0;
               padding: 7em 5% 2.5em 5%;
               position: relative;
               text-decoration: none;
               transition: all .3s ease;
               z-index: 1;
               @include media-query($from: tablet) {
                    margin: 0;
                    width: 50%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    padding: 7em 1.5em 2.5em 1.5em;
               }
               &:hover, &:active, &:focus {
                    background: rgba(black,0.05);
                    cursor: pointer;
                    transform: scale(1.1);
                    z-index: 10;
               }
               &.agriculture { background: url("../images/images/sector-pages/agriculture/720x644/agriculture-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.business { background: url("../images/images/sector-pages/business/720x644/business-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.care-services { background: url("../images/images/sector-pages/care-services/720x644/care-services-4.jpg") no-repeat 50% 50%; background-size: cover; }
               &.catering-hospitality { background: url("../images/images/sector-pages/catering/720x644/catering-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.construction { background: url("../images/images/sector-pages/construction/720x644/construction-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.creative { background: url("../images/images/sector-pages/creative/720x644/creative-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.digital { background: url("../images/images/sector-pages/digital/720x644/digital-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.education { background: url("../images/images/sector-pages/education/720x644/education-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.engineering { background: url("../images/images/sector-pages/engineering/720x644/engineering-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.hair { background: url("../images/images/sector-pages/hair/720x644/hair-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.health { background: url("../images/images/sector-pages/health/720x644/health-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.legal { background: url("../images/images/sector-pages/legal/720x644/legal-1.jpg") no-repeat 50% 50%; background-size: cover; }
               &.protective { background: url("../images/images/sector-pages/protective-services/720x644/protective-services-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.sales { background: url("../images/images/sector-pages/sales/720x644/sales-3.jpg") no-repeat 50% 50%; background-size: cover; }
               &.transport { background: url("../images/images/sector-pages/transport/720x644/transport-3.jpg") no-repeat 50% 50%; background-size: cover; }
               .content-wrapper {
                    width: 100%;
               }
               h3, .border, p {
                    position: relative;
                    z-index: 10;
               }
               h3 {
                    color: white;
                    margin: 0 0 0 0;
               }
               .border {
                    width: 5em;
                    height: 3px;
                    display: inline-block;
                    margin: 0 0 0 0;
                    background: $apprentice;
               }
               p {
                    color: white;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
               }
               .gradient {
                    background: linear-gradient(215deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 90%);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
               }
          }
     }
}
