.form-group {
     @include font($size: 19, $weight: light);
     @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
     &.radios {
          margin: 1em 0;
          display: inline-block;
          width: 100%;
          @include media-query($from: tablet) {
               margin: 3em 0;
          }
     }
     &.hidden-selection {
          display: inline-block;
          margin: 0.5em 0 0 3%;
          padding: 0 0 0 5%;
          border-left: 5px solid $grey-6;
          .heading-xs {
               margin-top: 0;
          }
     }
}

form {
     h1, h2, h2, h3, h4 {

     }
     hr {
          border: none;
          background: black;
          margin: 3em 0;
          height: 1px;
     }
}

.employer-page {
     form {
          h1, h2, h2, h3, h4 {
               strong {
                    color: $employer;
               }
          }
     }
}

#news-preferences, #hidden-email, #hidden-phone-number, #industries-preferences, #interested-industries, #additionalEmails {
     display: none;
     .checkboxes__item {
          margin-bottom: 20px;
     }
     .checkboxes__label {
          padding-top: 0;
          .sub-text {
               color: $text-colour;
               font-size: 0.75rem;
          }
     }
}

#additionalEmails {
     width: 91%;
     padding-top: 1em;
     padding-bottom: 1em;
     .form-group {
          margin-bottom: 0;
          &.additonal-email-address {
               margin-bottom: 1em;
               &:last-of-type {
                    margin-bottom: 0;
               }
          }
     }
     .view-more {
          display: inline-block;
          margin-top: 1em;
     }
}

// #new-register-interest {
//      input[type="search"], input[type="text"] {
//           font-size: 1.15rem;
//      }
//      .input {
//           border-left: 1px solid black;
//           border-top: 1px solid black;
//           border-right: 1px solid black;
//      }
// }

#industries-preferences {
     display: inline-block;
     width: 100%;
     margin-bottom: 0;
     .radio-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
     }
     .checkboxes__item, .form-group {
          width: 100%;
          float: left;
          clear: none;
          @include media-query($from: tablet) {
               width: 44%;
          }
          .checkboxes__label {
               padding-top: 7px;
          }
     }
     .form-group {
          width: 100%;
          margin-bottom: 0;
          @include media-query($from: tablet) {
               width: 50%;
          }
     }
}

#hidden-email {
     &.hidden-selection {
          margin-bottom: 1em;
     }
}

.form-list-item{
  @include responsive-padding(4, "left"); // s2
  @include responsive-padding(4, "bottom"); // s2
  color: $grey-5;
}

.form-section{
  background: inherit !important;

}

.pass-form-data {
     display: none;
}

.form-validation-summary{
  @include font($size: 19, $weight: light);
  border: 8px solid $error-colour;
  @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
  @include responsive-padding(2, $adjustment: $button-shadow-size); // s2
  > a {
    color: $error-colour;
    &:visited {
      color: $error-colour;
    }
  }
}

label {
     display: inline-block;
     width: 100%;
     margin-bottom: 0.5em;
     color: black;
     text-align: left;
}

.form-group-validation-error{

  border-left: 8px solid $error-colour;
  padding-left: 15px;
}

.validation-summary-valid {
  display:none;
}
.input-validation-error{
  border-bottom-color: $error-colour !important;
  margin-bottom: 10px;
}

.sort-by {
     background: $apprentice;
     padding: 0em 0 1em 0;
     margin: 0.5em 0 1em 0;
     display: inline-block;
     width: 100%;
     &.employer {
          background: white;
          border-bottom: 5px solid $employer;
          p {
               strong {
                    color: black;
                    font-weight: bold;
               }
          }
     }
     p {
          float: left;
          display: inline-block;
          width: auto;
          margin: 0.65em 0 0 0;
     }
     select {
          width: auto;
          float: right;
     }
}

#fat-postcode {
     .cta-fat__action {
          display: inline-block;
          // align-items: center;
          // justify-content: center;
          // @include media-query($from: tablet) {
          //      display: flex;
          // }
          .form-group {
               margin: 0 0 0 0;
               // margin: 0 0 1.5em 0;
               width: 100%;
               display: inline-block;
               @include media-query($from: tablet) {
                    width: 100%;
                    // margin: 0 0 1.5em 0;
               }
               &.radios {
                    margin: 0 0 2em 0;
                    @include media-query($from: tablet) {
                         margin: 0 2em 0 0;
                    }
                    .radios__item {
                         clear: none;
                         float: left;
                         // min-height: 51px;
                    }
               }
               &.button-container {
                    margin: 0;
                    #link-location-search {
                         position: relative;
                         float: left;
                         @include media-query($from: tablet) {
                         }
                         // margin-top: 1.75em;
                    }
               }
               input[type="search"] {
                    margin: 0;
               }
          }
     }
}

#fat-postcode-top {
     .cta-fat__action {
          .form-group {
               margin: 0 0 0.75em 0;
               width: 100%;
               display: inline-block;
               &.radios {
                    margin: 0 0 1.5em 0;
               }
               // &.button-container {
               //      margin: 1em 0 0 0;
               // }
               .radios__item {
                    clear: none;
                    float: left;
               }
          }
     }
}

.downloads-container, .contact-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
     margin: 1em 0 0 0;
     .download, .contact-info {
          background: rgba(black, 0.05);
          border-radius: 8px;
          display: inline-block;
          position: relative;
          // justify-content: flex-start;
          // align-items: flex-start;
          width: 100%;
          float: left;
          margin: 0 0 1.5em 0;
          transition: all .3s ease;
          // overflow: hidden;
          @include media-query($from: tablet) {
               width: 31.666%;
               margin: 0 2.5% 3em 0;
          }
          &:hover, &:active, &:focus {
               transform: scale(1.05);
               background: rgba(black, 0.1);
          }
          &:nth-of-type(3n) {
               margin: 0 0 3em 0;
          }
          .launcher__section-heading {
               background: $employer;
               color: black;
               position: absolute;
               top: 1em;
               left: -1em;
               z-index: 10;
               text-transform: none;
               &:before, &:after {
                    display: inline-block;
                    content: '';
                    position: absolute;
               }
               &:before {
                    left: 0;
                    bottom: -20px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 20px 20px 0;
                    border-color: transparent darken($employer, 15%) transparent transparent;
               }
               &:after {
                    right: -29px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 49px 30px 0 0;
                    border-color: $employer transparent transparent transparent;
               }
          }
          img, .text-container {
               float: left;
          }
          img {
               margin-bottom: 1em;
               width: 100%;
          }
          .image-container {
               width: 100%;
               display: inline-block;
               overflow: hidden;
               height: 12em;
               border-radius: 8px 8px 0 0;
               z-index: 1;
          }
          .text-container {
               padding: 1em 1.5em 1.5em 1.5em;
               h3 {
                    margin-top: 0;
                    padding-left: 3em;
                    background: url('../images/pdf-yellow.svg') no-repeat 0% 100%;
                    background-size: contain;
               }
               p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    color: rgba(black,0.8);
                    margin-bottom: 0;
               }
          }
     }
}

.contact-container {
     margin-top: 0;
     position: relative;
     @include media-query($from: tablet) {
          margin-top: 2em;
     }
     &.row-set-2, &.row-set-3 {
          margin-top: 2em;
          .background-colour {
               position: absolute;
               top: -2.5em;
               bottom: -3em;
               left: -6em;
               right: -6em;
               margin: 0;
               @include media-query($from: tablet) {
                    top: -4em;
               }
          }
     }
     &.row-set-2 {
          .background-colour {
               clip-path: none;
               background: lighten(#EFEFEF,3.5%);
               @include media-query($from: tablet) {
                    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
               }
          }
     }
     &.row-set-3 {
          .background-colour {
               bottom: 0;
               clip-path: none;
               // background: darken(#EFEFEF,1%);
               background: #EFEFEF;
               @include media-query($from: tablet) {
                    top: -3em;
                    clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0 100%);
               }
          }
     }
     .contact-info {
          background: none;
          text-align: center;
          text-decoration: none;
          border-right: none;
          border-radius: 0;
          margin-bottom: 4em;
          @include media-query($from: tablet) {
               width: 31.6%;
               border-right: 1px solid rgba(black,0.1);
          }
          &:nth-of-type(3n), &:nth-of-type(6n) {
               border-right: none;
          }
          &:last-of-type {
               border: none;
          }
          &:hover, &:focus, &:active {
               background: none;
          }
          .heading-s {
               margin: 1.5em 0 0 0;
               // text-decoration: none;
               @include media-query($from: tablet) {
                    margin: 1.5em 0 0 0;
               }
          }
          .image-container {
               width: 12em;
               height: 12em;
               overflow: visible;
               img {
                    border-radius: 50%;
                    border: 3px solid white;
                    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
                    width: 12em;
                    height: 12em;
               }
               @include media-query($from: tablet) {
                    width: 14em;
                    height: 14em;
                    img {
                         width: 14em;
                         height: 14em;
                    }
               }
          }
          .text-container {
               padding: 1em 2em 0 2em;
               p {
                    margin: 0 0 1em 0;
               }
               .button {
                    background: $employer;
                    font-size: 14px;
                    box-shadow: 0px 0px 10px 5px rgba(black,0.1);
                    border: 2px solid white;
                    @include media-query($from: tablet) {
                         padding: 15px 20px;
                    }
                    .external {
                         background: url('../images/new-window-black.svg') no-repeat 50% 50%;
                         background-size: contain;
                    }
               }
          }
     }
}
