.tab-container {
     background: $apprentice-light;
     display: inline-block;
     margin-top: -1.5em;
     width: 100%;
}

.employer {
     .tab-container {
          margin-top: -3.5em;
          background: $employer-light;
     }
     .tab {
          background: $employer-light;
     }
     div.tab button {
          width: 9.09%;
          &:hover {
               background-color: darken($employer,10%);
          }
          &.active {
               background-color: $employer;
          }
     }

}

.tab {
     overflow: hidden;
     // border: 1px solid #ccc;
     // background-color: #eee;
     // border-radius: 4px 4px 0 0;
     display: flex;
     flex-wrap: wrap;
     padding: 0;
     margin: 3.5em 2.5% 2em 2.5%;
     background: $apprentice-light;
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

div.tab button {
     background-color: white;
     float: left;
     border: none;
     border-right: 1px solid #DEE0E2;
     outline: none;
     cursor: default;
     padding: 1em 1.2em;
     font-size: 0.675rem;
     width: 10%;
     color: black;
     text-transform: uppercase;
     font-weight: bold;
     @include typography-common;
     &:last-of-type {
          border-right: none;
     }
     &:hover {
          background-color: darken($apprentice,10%);
          color: white;
          cursor: pointer;
     }
     &.active {
          background-color: $apprentice;
          color: white;
     }
}

.content {
     display: none;
     // background-color: #fff;
     padding: 0 0 3em 0;
     // border: 1px solid #ccc;
     border-top: none;
}
