<section id="discover-link-block" class="faa-fat-link-block cta-fat">
     <div class="content-wrapper">
          <div class="cta-fat__content">
               <h2 class="heading-l cta-faa__heading">So What's next...</h2>

               <p class="lead-paragraph">
                    Now you have a better idea of what type of apprenticeship will suit you needs why not search for one?
               </p>
               <p>
                    You can either browse by sector or search for an apprenticeship title, the choice is yours...
               </p>
          </div>

          <div class="form-group radios">

               <!-- SECTION 1 - START -->
               <div class="radios__item">
                    <input class="input radios__input" type="radio" value="discover-search-by-sector" id="discover-search-by-sector" name="discover-search-method">
                    <label class="label radios__label" for="discover-search-by-sector">
                         Search by sector...
                    </label>
               </div>
               <!-- SECTION 1 - END -->

               <!-- ///////////////////////////////////////////// OPTION ONE - END ///////////////////////////////////////////// -->
               <div class="option-1 cta-fat__action">

                    <!-- SECTION 1 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Agriculture, environment and animal care" id="agriculture" name="discover-sector">
                         <label class="label checkboxes__label" for="agriculture">
                              Agriculture, environment and animal care
                              <span class="tooltiptext">Land-based service engineering technician, Sports turf operative, Horticulture and Landscape Operative</span>
                         </label>
                    </div>
                    <!-- SECTION 1 - END -->

                    <!-- SECTION 2 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Business and administration" id="business" name="discover-sector">
                         <label class="label checkboxes__label" for="business">
                              Business and administration
                              <span class="tooltiptext">HR Consultant / Partner, Business Administrator, Public service operational delivery officer</span>
                         </label>
                    </div>
                    <!-- SECTION 2 - END -->

                    <!-- SECTION 3 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Care services" id="care" name="discover-sector">
                         <label class="label checkboxes__label" for="care">
                              Care services
                              <span class="tooltiptext">Adult care worker, Social worker</span>
                         </label>
                    </div>
                    <!-- SECTION 3 - END -->

                    <!-- SECTION 4 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Catering and hospitality" id="catering" name="discover-sector">
                         <label class="label checkboxes__label" for="catering">
                              Catering and hospitality
                              <span class="tooltiptext">Chef De Partie, Advanced butcher, Hospitality supervisor</span>
                         </label>
                    </div>
                    <!-- SECTION 4 - END -->

                    <!-- SECTION 5 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Construction" id="construction" name="discover-sector">
                         <label class="label checkboxes__label" for="construction">
                              Construction
                              <span class="tooltiptext">Building Services Design Technician, Building Services Engineering Ductwork Craftsperson, Digital Engineering Technician</span>
                         </label>
                    </div>
                    <!-- SECTION 5 - END -->

                    <!-- SECTION 6 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Creative and design" id="creative" name="discover-sector">
                         <label class="label checkboxes__label" for="creative">
                              Creative and design
                              <span class="tooltiptext">Broadcast and communications technical operator, Cultural learning and participation officer, Jewellery Maker</span>
                         </label>
                    </div>
                    <!-- SECTION 6 - END -->

                    <!-- SECTION 7 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Digital" id="digital" name="discover-sector">
                         <label class="label checkboxes__label" for="digital">
                              Digital
                              <span class="tooltiptext">IS Business Analyst, Software Development Technician, Cybersecurity technologist</span>
                         </label>
                    </div>
                    <!-- SECTION 7 - END -->

                    <!-- SECTION 8 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Education and childcare" id="education" name="discover-sector">
                         <label class="label checkboxes__label" for="education">
                              Education and childcare
                              <span class="tooltiptext">Teacher, Children, Young People & Families Manager, Learning mentor</span>
                         </label>
                    </div>
                    <!-- SECTION 8 - END -->

                    <!-- SECTION 9 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Engineering and manufacturing" id="engineering" name="discover-sector">
                         <label class="label checkboxes__label" for="engineering">
                              Engineering and manufacturing
                              <span class="tooltiptext">Electrical Power Networks Engineer, Metal casting, foundry & patternmaking technician, Brewer</span>
                         </label>
                    </div>
                    <!-- SECTION 9 - END -->

                    <!-- SECTION 10 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Hair and beauty" id="beauty" name="discover-sector">
                         <label class="label checkboxes__label" for="beauty">
                              Hair and beauty
                              <span class="tooltiptext">Hair Professional, Beauty therapist, Nail services technician</span>
                         </label>
                    </div>
                    <!-- SECTION 10 - END -->

                    <!-- SECTION 11 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Health and science" id="health" name="discover-sector">
                         <label class="label checkboxes__label" for="health">
                              Health and science
                              <span class="tooltiptext">Dental technician, Laboratory scientist, Food technologist</span>
                         </label>
                    </div>
                    <!-- SECTION 11 - END -->

                    <!-- SECTION 12 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Legal, finance and accounting" id="legal" name="discover-sector">
                         <label class="label checkboxes__label" for="legal">
                              Legal, finance and accounting
                              <span class="tooltiptext">Professional accounting / taxation technician, Credit controller / collector, Mortgage adviser</span>
                         </label>
                    </div>
                    <!-- SECTION 12 - END -->

                    <!-- SECTION 13 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Protective services" id="protective" name="discover-sector">
                         <label class="label checkboxes__label" for="protective">
                              Protective services
                              <span class="tooltiptext">HM Forces serviceperson (public services), Business Fire Safety Advisor, Custody & Detention Officer</span>
                         </label>
                    </div>
                    <!-- SECTION 13 - END -->

                    <!-- SECTION 14 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Sales, marketing and procurement" id="sales" name="discover-sector">
                         <label class="label checkboxes__label" for="sales">
                              Sales, marketing and procurement
                              <span class="tooltiptext">Travel consultant, Fishmonger, Customer service practitioner</span>
                         </label>
                    </div>
                    <!-- SECTION 14 - END -->

                    <!-- SECTION 15 - START -->
                    <div class="checkboxes__item">
                         <input class="input checkboxes__input" type="checkbox" value="Transport and logistics" id="transport" name="discover-sector">
                         <label class="label checkboxes__label" for="transport">
                              Transport and logistics
                              <span class="tooltiptext">Rail Infrastructure Operator, Passenger transport driver - bus, coach and tram, Cabin Crew</span>
                         </label>
                    </div>
                    <!-- SECTION 15 - END -->

                    <a id="discover-search-sector" href="/campaign/discover/2A-FAT-search-results" class="button button--shadow button--sparks search discover-search-sector"><span class="search"></span>Search</a>

               </div>
               <!-- ///////////////////////////////////////////// OPTION ONE - END ///////////////////////////////////////////// -->

               <!-- SECTION 2 - START -->
               <div class="radios__item">
                    <input class="input radios__input" type="radio" value="discover-search-by-name" id="discover-search-by-name" name="discover-search-method">
                    <label class="label radios__label" for="discover-search-by-name">
                         Search by apprenticeship name or job role...
                    </label>
               </div>
               <!-- SECTION 2 - END -->

               <!-- ///////////////////////////////////////////// OPTION TWO - START ///////////////////////////////////////////// -->
               <div class="option-2 cta-fat__action">
                    <input type="search" id="discover-search-keyword" class="content-page" placeholder="Apprenticeship name or job role..." autocomplete="off">
                    <a id="discover-search-keyword-button" href="/campaign/discover/2A-DIS-search-results" class="button button--shadow button--sparks search discover-search-keyword"><span class="search"></span>Search</a>
               </div>
               <!-- ///////////////////////////////////////////// OPTION TWO - END ///////////////////////////////////////////// -->

          </div>

     </div>
</section>
